[2022-03-17 05:28] robinst opened #252 "[BUG] Pager within NavigationView scrolls to next page during edge swipe gesture (for navigating back)"
**Describe the bug**
When using a Pager within subview of a `NavigationView` and then navigating back using a swipe gesture from the left screen edge, the gesture causes the pager to go to the next page while the swipe gesture is being performed, see video below.

**To Reproduce**
1. Have a `NavigationView` that contains a `NavigationLink` with a destination view that contains a `Pager`
3. Navigat

[2022-03-17 10:36] fermoya commented on #251
Hi @s951736, I guess you're experiencing performance issues? Can you share your code and some video please?

[2022-03-17 10:59] s951736 commented on #251
Hello @fermoya ,
I think performance is ok, I can use the app normally. Just wonder what cause the 60Hz on the 120Hz capable device. (My Mac is using a 60Hz monitor, so I realize this issue after I put it on real iPhone, but performance is nice on both device.)

And I just saw this yesterday:
https://www.macrumors.com/2022/01/27/ios-15-4-apps-120-hz-promotion/
so I guess maybe it's caused by iOS i

[2022-03-18 05:55] artemas-radik commented on #251
Hey @fermoya, also been having this issue for a while (iPhone 13 pro max). Here's the code: https://github.com/artemas-radik/swiftuipager-no120hz-demo

[2022-03-18 09:39] artemas-radik commented on #251
Hey @fermoya, I think this issue also exists in the sample app SwiftUIPagerExample. Profiling SwiftUIPagerExample with Xcode Instruments (on iPhone 13 Pro Max) reveals that the frame duration never drops below 16.67 ms (1 second / 0.01667 seconds per frame = 60Hz). [We should be seeing it go down to 8.33 ms.](https://twitter.com/ChristianSelig/status/1486847470223118337?s=20&t=TKaeMoW_9wE9R_gLf58w

[2022-03-18 15:48] darecki commented on #233
@fermoya do you know why it works flawlessly when scrolling left? This issue occurs only when scrolling right. It's interesting...

[2022-03-18 16:01] darecki opened #253 "[BUG] LoopPages + opacity. First and last element not visible"
**Describe the bug**
When using the infinite pager (`loopPages()`) with opacity (`.interactive(opacity: xxx)`) the first and last elements are not visible.

**To Reproduce**
To reproduce this behavior it's enough to add ```.interactive(opacity: 0.5)``` to the `InfiniteExampleView` example provided.

**Expected behavior**
I expect to see side elements with proper opacity for all elements.

**Screen

[2022-03-23 08:48] fred-bowker opened #254 "[FEAT] Scroll only in one direction"
Hi,

A massive thanks for creating this pager, it's really useful.

One feature that would be good is for a setting to only swipe in one direction, so basically I want to be able to swipe cards forward but never backwards, if you can give me a couple of pointers for where I could do this I could give it a go at coding myself. I think this feature would be useful to the component.

I had a look in

[2022-03-23 13:38] denizdogan commented on #252
I'm having the exact same issue, but with swiping from the top edge to view the notification center.

[2022-03-23 19:46] fermoya commented on #254
Hi @fred-bowker , thanks for the kind words but especially for the feature request and the possible implementation. You're right, the change should be done. You might wanna check how that works with a vertical `Pager` but it should be fine as that just a `Pager` that's rotated.

If you're okay with it, send a PR and I'll take a look and make or suggest changes on top of it. As a user, I'd expect a

[2022-03-23 19:49] fermoya commented on #250
Weird, do you really need to use a `GeometryReader` there? Sometimes they give trouble and `Pager` already contains one. Have you tried removing it?

[2022-03-23 19:50] fermoya commented on #248
Have you tried using `pagingPriority` @Lawris ?

[2022-03-23 19:50] #236 closed

[2022-03-23 19:51] fermoya commented on #236
Seems like a `SwiftUI` issue

[2022-03-23 19:54] fermoya commented on #252
Hi @robinst thanks for the suggestion. I'll take a look, I'm aware of the issue of that exists when you combine gestures in (or views that implicitly have a gesture) in SwiftUI. In UIKit there are option to request a gesture to fail before being recognized but the same doesn't apply here.

I'll take a look at your suggestion. I can always create a beta version and get feedback from it

[2022-03-23 20:01] fermoya commented on #233
It's probably something to do with the current implementation. It's not the best work I've done, I'll tell you that. I need to review it but that takes time.

Problem is elements get rearranged because the elements displayed change the order. So for instance, if you're showing 1 2 3 after swiping you should va e 3 2 1. In that transition, the element at the very left moves to the right in a weird

[2022-03-23 20:05] fermoya commented on #251
@artemas-radik , I don't think I'm following. To be honest with you, I didn't even know Instruments had that capability.

How did you come up with the issue? Is there a way to notice this visually? What do you mean by "support 120Hz", where or how do you add that support? I mean, `Pager` is just a view built on top of native `View`s, I don't think I've capped the frequency to 60Hz

[2022-03-23 20:11] fermoya commented on #252
Out of curiosity, have you tried `delaysTouches` and `pagingPriority`?

[2022-03-23 20:57] denizdogan commented on #252
@fermoya My use of the component is currently very "barebones", but I'm thinking maybe it would be simpler to just adjust the "gesturable area", so that it doesn't react when the touch starts outside of the safe area?

[2022-03-23 23:16] fermoya commented on #252
That should be already possible, the library ships with `swipeInteractionArea` modifier. It's possible to limit the interaction to just the page and not the whole container.

Problem here is there's no such thing as a safe area here. `Pager`expands and takes up as much space as its container. If the the parent expands till the status bar, then so does `Pager`. In your case it would be a matter of

[2022-03-24 06:47] robinst commented on #252
Yeah just tried that, it doesn't change anything.

Note that that breaks the "More" example where swiping is vertical or right to left (because of `rotation3DEffect`). But that could be fixed by changing the code in `onDragChanged` to be aware of the direction instead.

[2022-03-25 16:54] fermoyadrop commented on #244
@mikepitre thank for your feedback and apologies for leaving this unattended for so long. I'll be soon releasing a fix for this

[2022-03-25 17:11] fermoya commented on #248
This can be fixed if you use `simulateneousGesture` in your `SampleSheet`. Check it out:

https://user-images.githubusercontent.com/11335612/160168688-514611cd-1673-4ec4-b087-52882565168f.mov

[2022-03-25 17:11] #248 closed

[2022-03-25 20:50] fermoya commented on #253
hi @darecki , thanks for the bug report. This should be fixed [here](https://github.com/fermoya/SwiftUIPager/releases/tag/2.3.3-beta.3):
https://github.com/fermoya/SwiftUIPager/releases/tag/2.3.3-beta.3

[2022-03-25 20:51] fermoya commented on #252
this should be fixed [here](https://github.com/fermoya/SwiftUIPager/releases/tag/2.3.3-beta.3) in case you want to check it out:
https://github.com/fermoya/SwiftUIPager/releases/tag/2.3.3-beta.3

[2022-03-25 20:51] fermoya commented on #244
hi @mikepitre , apologies for the late response. This should be fixed [here](https://github.com/fermoya/SwiftUIPager/releases/tag/2.3.3-beta.3):
https://github.com/fermoya/SwiftUIPager/releases/tag/2.3.3-beta.3

[2022-03-25 20:53] fermoya commented on #233
this should be fixed [here](https://github.com/fermoya/SwiftUIPager/releases/tag/2.3.3-beta.3):
https://github.com/fermoya/SwiftUIPager/releases/tag/2.3.3-beta.3

[2022-03-26 07:25] robinst commented on #252
Yess, that fixes it, thank you :)! Hopefully it fixes @denizdogan's problem too.

[2022-03-28 10:24] darecki commented on #253
Hi @fermoya. I can confirm that the original issue is now solved. Many thanks for that!
But, unfortunately, there's a regression. There is a new issue that was not present in version 2.3.2. When slowly dragging you can see that the next element is fading out instead of fading in. And the next element after that is not visible at all. Once the finger is released everything works back again.

Please

[2022-03-28 10:26] darecki commented on #233
I can confirm the issue is fixed! Thanks for that :)

[2022-03-29 13:12] darecki opened #259 "[BUG] loopPages + scale. First and last elements not scaling up"
**Describe the bug**
When using the infinite pager (`loopPages()`) with scale (`.interactive(scale: xxx)`) the first and last elements are not properly scaled up.

**To Reproduce**
To reproduce this behavior it's enough to add `.interactive(scale: 0.6)` to the `InfiniteExampleView` example provided

**Expected behavior**
I expect to see the next element scaling up when dragging between the first a

[2022-03-29 13:51] darecki commented on #238
It's very easy to be reproduced. Just tap with another finger while dragging between elements. See the video:

https://user-images.githubusercontent.com/3084606/160623643-b8091ec7-39a7-46a8-b0b8-def05d372a9d.mov

What is worse, changing pages with `page.update(.next)` doesn't reset the offset. The only way to reset the offset is to drag again. It can't be done programmatically. I implemented this

[2022-03-29 14:43] darecki commented on #238
If I had this possibility to reset the carousel from my code, I could work around the problem this way:

Set up a new timer on each `onDraggingChanged` (say 0.5 second).
Invalidate the timer on `onDraggingEnded`
If timer fires == no `onDraggingEnded` callback received -> I assume the view got stuck and I programmatically reset the view.

As of now, I unfortunately can't do it this way.

[2022-03-29 15:55] fermoya commented on #259
It should be fixed in [2.3.3-beta.5](https://github.com/fermoya/SwiftUIPager/releases/tag/2.3.3-beta.5)

[2022-03-29 20:16] darecki commented on #238
@fermoya yes, it fixes the issue on my end. Great job!

[2022-03-30 11:41] #253 closed

[2022-03-30 11:41] #252 closed

[2022-03-30 11:41] #244 closed

[2022-03-30 11:42] #233 closed

[2022-03-30 11:42] #238 closed

[2022-03-30 11:42] #259 closed

[2022-03-30 14:15] mikepitre commented on #244
ty @fermoya !

[2022-03-31 02:48] robinst commented on #252
Thanks for the quick fix @fermoya, I've bought you a few coffees as a thank you :)

[2022-04-01 10:27] andriy-appuchino opened #265 "[FEAT] Respond to moving the digital crown on the Apple Watch"
Hello. Great job!
But I ran into a problem that the pager does not respond to moving the digital crown on the Apple Watch, as this usually works with ScrollView. Can I somehow enable digital crown support?

[2022-04-01 11:51] fermoya commented on #265
Hi @andriy-appuchino. I don't think I ever considered the Digital Crown but it should be simple enough. I'll take a look at it next week

[2022-04-01 11:55] andriy-appuchino commented on #265
@fermoya I haven't been able to find a solution, so I'll be waiting to see if you manage to implement it. Thanks a lot.

[2022-04-01 12:10] andriy-appuchino commented on #265
By the way, I just tried to do something myself, I managed to get it to work, but it works a little clunky, not like the native scroll on watchOS.

[code]

[2022-04-03 11:38] denizdogan commented on #252
@fermoya So you just to circle back, `swipeInteractionArea` did nothing for me, as you expected. My issue is that the pager covers the entire screen, and when I swipe down from the very top of the screen to open the notification center, the pager also swipes up. Should I open another issue about this?

[2022-04-03 16:26] fermoya commented on #252
@denizdogan try the mates version `2.3.3` if that helps but what you must ensure then is that `Pager` stats within the Safe Area. That's up to you, not the library, check out the examples in the repo.

[2022-04-03 21:11] denizdogan commented on #252
@fermoya Sorry, I should have mentioned I was already using 2.3.3. That's unfortunate to hear, IMO the library would do good to allow us to define offsets from the edges where the pager should ignore gestures.

[2022-04-04 07:05] fermoya commented on #252
@denizdogan please open a new issue and share your code or a small snippet to reproduce, maybe a video too. But please, first check out the [examples](https://github.com/fermoya/SwiftUIPager/tree/develop/Example/SwiftUIPagerExample/Examples) in the repo. I’m using a `Pager` inside a `NavigationView` and it doesn’t use the safe area. What I’m saying is `Pager` doesn’t use the safe area unless you s

[2022-04-04 16:55] andriy-appuchino commented on #265
@fermoya Could you try please?

[2022-04-04 18:11] fermoya commented on #265
Oh I see now what you mean. I'll come back to you shortly

[2022-04-05 13:50] fermoya commented on #265
@andriy-appuchino check out [2.4.0-beta.1](https://github.com/fermoya/SwiftUIPager/releases/tag/2.4.0-beta.1). Notice that this works with `watchOS 7.0` onwards

[2022-04-05 16:30] andriy-appuchino commented on #265
@fermoya Thank you for your efforts. I tried it, but it works about the same as my example. I'll try to clarify.
Now when the crown rotates, the content does not move, but only after stopping, with some delay. It's not like the digital crown works on a watch.
My expectation is that when rotating the crown, the content will also move, as if you are using a drag gesture, and only after stopping, it

[2022-04-05 17:31] fermoya commented on #265
@andriy-appuchino I've been testing in a simulator, didn’t you see my first video? I haven’t merely copy-pasted your example if that’s what you suggest 😅

`digitalCrownRotation` doesn’t work the same as `DragGesture` as you imply. `DragGesture` has an `onEnded` callback (or alternatively, a `GestureState` that resets). `digitalCrownRotation` doesn’t, it just updated a `Binding`. There’s no way to

[2022-04-05 17:37] andriy-appuchino commented on #265
Well, yes, that's right. When the value changes to a fractional, then you need to move the content as you do with a drag gesture, and when the value becomes a non-fractional number, then just consider it fired onEnded.

[2022-04-05 17:47] fermoya commented on #265
`print` the value observed in `onChanged`, it's always a fractional! What you suggest is already done. Whenever the rotation goes over `0.5`, page index is incremented/decremented.

All in all, it can't be done in a linear fashion so to speak, unfortunately. An `onEnded` callback or any other workaround would be needed

[2022-04-05 17:52] andriy-appuchino commented on #265
OK, thank you. I already made a fork, I'll try to figure it out. I'll let you know if it works.

[2022-04-05 17:56] fermoya commented on #265
Thanks @andriy-appuchino , all help is much appreciated. Keep me posted, I'd like to make a release within the next days. If you find some possible improvement I'll include it

[2022-04-05 20:27] andriy-appuchino commented on #265
@fermoya I managed to do it, I can't wait for you to try https://github.com/fermoya/SwiftUIPager/pull/268

[2022-04-06 16:37] Catah97 opened #269 "[BUG] - Content is blinking when loopPages and contentLoadingPolicy are active"
**Describe the bug**
Content is blinking when user scrolling through the list.
It happends only when
[code]
If you use just `.loopPages()` without `.contentLoadingPolicy(.eager)` the problem disappear.

**To Reproduce**
Simulated on the code below.

[code]

**Environment:**
 - Device iPhone8
- SwiftUIPager 2.3.3

[2022-04-07 00:24] AndrewPetrov commented on #251
I run into the same issue, scroll animation works on 60 fps. but every other scroll on this screen works with 120

[2022-04-07 12:20] fermoya commented on #269
@Catah97 this is a known issue, `loopPages` and `.eager` policy.

Why do you need it to be eager? Remove the `contentLoadingPolicy` for a better performance

[2022-04-07 12:36] andriy-appuchino commented on #265
Great, it works as it should! 🎉
Thank you.

[2022-04-07 12:38] andriy-appuchino commented on #265
@fermoya by the way, when will the release be?

[2022-04-07 18:29] andriy-appuchino commented on #265
@fermoya I caught a bug.

Initial:
1. Two pages
2. We are on page 1

Steps:
1. Swipe to page 2
2. Scroll the crown in the same direction as if you wanted to go to page 3 (which doesn't exist)

[2022-04-07 18:35] andriy-appuchino commented on #265
After switching the page with a swipe, you need to change the state of the digital crown `digitalCrownPageOffset`, you apparently missed it. It was in my PR.

[2022-04-08 08:31] Catah97 commented on #269
We would like to use Pager to shown ads in out app. Ad mean pictures that will cycling forever in the loop. These pictures are downloading from web and it could be nice to preload them all at once. The count of ads is low something between 3 to 10 so this should not be performance issue.

[2022-04-08 09:14] Catah97 commented on #269
But it seem that default behavior that preload 5 ads will be enough for us. So I apologize for spam.

[2022-04-08 09:14] #269 closed

[2022-04-08 12:23] fermoya commented on #265
Should be solved in beta-4

[2022-04-08 13:28] andriy-appuchino commented on #265
There was another problem with the watch. If `Pager` is in `TabView` like in an example, then switching between tabs from left to right very often does not work. Probably `Pager` is blocking gestures horizontally somewhere.

[code]

[2022-04-08 14:07] fermoya commented on #265
@andriy-appuchino please open a new ticket, I think it's unrelated with this thread.

[2022-04-08 14:07] #265 closed

[2022-04-08 14:07] #254 closed

[2022-04-08 14:31] fermoya commented on #251
How do you see see this in Instruments? I have no clue what could be causing this issue

[2022-04-08 18:26] fermoya commented on #251
@AndrewPetrov do you also experience this issue in iPhone 13 Pro Max? According to @artemas-radik , this isn't an issue in iPad Pro.

Is this something that happens to `Pager` only or any other SwiftUI `View`?

[2022-04-08 19:35] fermoya commented on #251
I found [this article](https://swiftobc.com/repo/duraidabdul-FrameRateRequest-swift-animation-) interesting about this issue:

https://swiftobc.com/repo/duraidabdul-FrameRateRequest-swift-animation-

This makes sense to me with the screenshots @artemas-radik was sharing. A larger screen, iPad Pro, may decide to use 120 fps whereas the iPhone 13 Pro may not.

There's a hack there to try to force 12

[2022-04-08 19:38] #251 closed

[2022-04-10 21:41] andriy-appuchino opened #274 "[BUG] With vertical pagination, it interferes with horizontal swipe in `TabView` on watchOS"
**Describe the bug**
There is a problem on watchOS. If `Pager` is in `TabView` like in an example, then switching between tabs from left to right very often does not work. Probably `Pager` is blocking gestures horizontally somewhere.

**To Reproduce**
1. Download and unzip [PagerInTabView.zip](https://github.com/fermoya/SwiftUIPager/files/8459964/PagerInTabView.zip)
2. Run project on simulator or

[2022-04-10 21:45] andriy-appuchino commented on #265
@fermoya When there is only Text on the page, the problem is less noticeable because the swipe is blocked only in the text area. I created an issue and attached a project where the pages are filled with color. There is a very high reproducibility. https://github.com/fermoya/SwiftUIPager/issues/274

[2022-04-13 17:38] Lawris commented on #248
Just tested it now, it works flawlessly, thanks a lot for taking the time!
Cheers.

[2022-04-15 12:16] fermoya commented on #274
@andriy-appuchino apologies but I haven't had time to look at this and I don't think I will within the next days.

Some people have mentioned this a while ago, here are some hints that would solve this issue:
- Try using [`pagingPriority(.simultaneous)`](https://github.com/fermoya/SwiftUIPager/blob/b2d2e54fab33163dbb430af3c6875917ed24b4c4/Sources/SwiftUIPager/Pager%2BBuildable.swift#L127). This wi

[2022-04-16 10:03] fred-bowker opened #275 "[FEAT] Dynamic filter feature"
It would be great if the Pager allowed you to filter in place, the pager could have a property with a filter function on it, then when we modify the filter the pager would update in place.

An Example would be we:
We have 20 pages some with cards representing women some representing men.
A user then changes a settings view to say they only want to see men.
The filter is applied in place.

At the m

[2022-04-18 00:07] mvrsn opened #276 "[FEAT] Some way to define how many pages will be kept in memory"
**Is your feature request related to a problem? Please describe.**
One of the uses I have for SwiftUIPager is to load pages on demand, but after some time memory starts going up, especially due to the nature of what I have in each page

**Describe the solution you'd like**
It would be great to have some way to define some limit of how many pages are kept in memory, or to have some API for manually

[2022-04-18 09:16] fermoya commented on #276
@mvrsn `Pager` keeps by default a handful of pages in memory. Using `.eager` isn't recommended.

Please take a look at [this section](https://github.com/fermoya/SwiftUIPager/blob/main/Documentation/Usage.md#content-loading-policy). Just about 5 pages are kept in memory depending on the page size

[2022-04-18 09:16] #276 closed

[2022-04-20 00:44] mvrsn commented on #276
Thank you for the quick response @fermoya

What made me confused is that I am loading webviews into the Pager pages, and when I check the Safari developer tools I can see webviews listed under my device that should no longer exist, however, I now tested and modified the contents of one of the old webviews while outside the range of kept-in-memory webviews before navigating back, and indeed you are

[2022-04-20 08:30] fermoyadrop commented on #276
web views have some kind of cache. Perhaps creating a new one loads the last website if no other content is loaded. It might have something to do with the default configuration 🤷

[2022-04-22 22:54] AndrewPetrov opened #277 "[FEAT] Provide something like interactive(scale:) for custom animators or method like didScroll"
It would be nice to have the ability to track all scroll way between Pages. `.onDraggingChanged` works great but only when the user touches the screen. As fast as the user finishes the pan gesture progress stops. But I need to continue my custom animation (for example change background color)

[2022-04-22 23:03] AndrewPetrov commented on #251
Yes, at 13 Pro. I haven't used instruments but I see that ScrollView works significantly smoother then SwiftUIPager on the same screen

[2022-04-26 22:13] andriy-appuchino commented on #274
1. Just using `pagingPriority(.simultaneous)` doesn't help.
2. I tried to use a horizontal `Pager`, but the problem is no less serious with it. If there are buttons on the page, then they are constantly accidentally pressed when swiping. Normally, if the beginning of the movement of the finger hits the button, then it should not trigger.

@fermoya do you know how to fix case 2?

[2022-04-27 07:16] fermoya commented on #274
@andriy-appuchino have you tried using `onTapGesture` or `gesture(TapGesture().onEnded {})` instead of a `Button`? That could do the trick, I believe that if swiping, those gestures should get canceled and the callbacks should never be called. Same can't be said about `Button`, but it's just a guess

[2022-04-27 09:39] andriy-appuchino commented on #274
No, I haven’t, I don’t want to give up buttons so as not to lose their visual effects.

I was able to interrupt a button touch in during a swipe using `.disabled(areControlsDisabled)` and
[code]

Nevertheless, thanks for the help.

P.S. I recommend disabling `digitalCrownRotation` by default for the horizontal `Pager`, because it is very unusable.

[2022-05-16 19:45] sdavidliu opened #279 "[BUG] Crash when deleting last item in 2.4.0"
**Describe the bug**

<img width="1669" alt="Screen Shot 2022-05-16 at 12 42 34 PM" src="https://user-images.githubusercontent.com/16772059/168669910-f4c1f65c-bc73-4ecc-ae00-6d817fccc080.png">

**To Reproduce**
Only reproducible in SwiftUIPager 2.4.0 and 2.3.3. Sample code below. Scroll to the very end and click on the "Delete" button.
[code]

**Expected behavior**
Safely handle crash or maybe aut

[2022-05-18 18:45] sdavidliu opened #280 "[FEAT] Support Right-to-Left scroll in Hebrew locale"
**Is your feature request related to a problem? Please describe.**
After adding Hebrew to Supported Localization, I noticed that the scrolling will scroll in the opposite direction of where I am swiping. So if I try to swipe to the card on the left, it actually scrolls to the right. If I swipe to the card on the right, it scrolls to the left.
It's nice that it correctly places the items with the f

[2022-05-20 06:51] fermoya commented on #274
Closing this as it's a similar problem as #153

[2022-05-20 06:51] #274 closed

[2022-05-20 10:52] fermoya commented on #275
problem is that the `page` isn't updated. You have items:
[code]
if you're on item 4 and filter even numbers, then there's a crash because you haven't updated the page accordingly. This related to #279 , I'll be making a quick fix there but ideally this would be handled by the client

[2022-05-20 10:52] #275 closed

[2022-05-20 10:55] fermoya commented on #277
Hi @AndrewPetrov  let me see if I understand you. So if you start scrolling and it's enough to move forward, `onDraggingChanged` reports while there's a touch but as soon as you let go and the animation starts then you don't get reported. Is that it?

I don't have any way to get that information but you could do the following. You can calculate a progress based on that offset that's changed and th

[2022-05-20 11:10] fermoya commented on #280
should be done in `2.5.0-beta.1`, do you mind giving me some feedback @sdavidliu please?

[2022-05-20 11:10] fermoya commented on #279
should be done in `2.5.0-beta.1`, do you mind giving me some feedback @sdavidliu please?

[2022-05-20 14:57] fermoya commented on #279
@MrConnorKenway are you deleting the last page? Can you give me more info?

[2022-05-20 16:32] sdavidliu commented on #280
Hi @fermoya , thanks for the quick turnaround! It is mainly working as expected; however, on some of my swipes (especially when I reach the end) it still scrolls to the opposite direction. Not sure if it's happening when I scroll fast enough, but it seems a bit random. I attached a video in Arabic locale:

[2.5.0-beta.1-arabic.mov.zip](https://github.com/fermoya/SwiftUIPager/files/8741944/2.5.0-be

[2022-05-21 06:42] MrConnorKenway commented on #279
@fermoya I didn't delete the last page. Here are the partial call stack when the fatal error 'division by zero in remainder operation' occurs:
[code]
and the code that uses Pager:
[code]

[2022-05-21 07:46] MrConnorKenway commented on #279
@fermoya I've figured out the problem. My app first inits Pager with `self.pagerModel.totalPages = data.count` and `data.count` turns out to be 0. 669d20f0ab90dc6cac5aadbb8462505875805459 triggers `self.index = index` immediately before my code updating `totalPages` to non-zero value and thus crashing my app. Perhaps we need some sanity checks in the constructor of Page to prevent unintended zero

[2022-05-27 11:01] kristohear opened #283 "[BUG] ios13 and 2.3.3+"
**Describe the bug**
Scrolling always resets to the position where the user tapped/started the scroll

**To Reproduce**
Install the example project and run it. I replaced my custom page scroll with example one, just to be sure it is a swiftuipager issue.

**Expected behavior**
Scroll should work as in ios14, and ios15 devices and in 2.3.3 and 2.4.0 versions. It should not be stuck on one page.

**

[2022-05-30 10:01] fermoya commented on #283
@kristohear can you share this code or some pseudo-code with me? Where is your `@ObservedObject var page` living? It looks as if your whole screen is being recreated when this property updates which is not what you want. It works in iOS 14+ because of `StateObject` but state management is somewhat more delicate in iOS 13.

This coups be easily solved I think if you had something like this:
[code]

[2022-05-31 07:35] fred-bowker commented on #275
Thanks, that makes sense will handle this issue on the client side

[2022-06-07 16:14] knurldamer opened #285 "[FEAT] Provide example of how to dynamically update/replace complete data."
**Is your feature request related to a problem? Please describe.**
I'm using SwiftUI and Combine.  I'm populating my pager based on the results of a (potentially repeated) network request.  Prior to displaying pages I'm displaying a "Loading..." screen.  I'd like to have updates to the `Pager(data:)` property cause the pager to reload.  I can manually update the `page` property if required.  Is th

[2022-06-08 12:25] knurldamer commented on #285
Closing as not required.  I tested with empty arrays in the dynamic addition example app and all works as expected.  I think my SwiftUI/Combine binding was awry.

[2022-06-08 12:25] #285 closed

[2022-06-11 17:39] samuelbradshaw commented on #250
@bfreeTax, were you able to find a workaround for this? I'm seeing it even with loopPages().

[2022-06-11 19:56] samuelbradshaw commented on #250
I was able to get my implementation working by hiding the NavigationLink in the background of a button, similar to the second example [here](https://stackoverflow.com/a/63367285). I also added `.buttonStyle(.plain)`, which prevents the button action from bubbling up to the list row – this allows you to have multiple buttons and/or NavigationLinks in the same row. Hopefully this helps someone:
[cod

[2022-06-14 12:43] PierreCapo commented on #279
Having the exact same issue sometimes on 2.4.0.

I am installing right now `2.5.0-beta.1`. @fermoya I'll let you know how it goes with it.
Many thanks for your time and this great library 🙏

[2022-07-04 06:56] almagest21 opened #286 "[FEAT] Add trackpad scroll support"
**Is your feature request related to a problem? Please describe.**
When using Trackpad, it requires drag and drop operation to change page.

**Describe the solution you'd like**
For Desktop or iPad with Trackpad use-case, two finger scroll is more easier way than drag and drop page. Please consider to support to scroll pages.

**Describe alternatives you've considered**
N/A

[2022-07-15 11:57] ChristianSlanzi commented on #279
@fermoya Having the same issue 100% of times on 2.4.0., got fixed with 2.5.0-beta.1, any plan for a release? Or an 2.4.1 hot-fix?

[2022-07-15 12:03] fermoya commented on #279
Yes, will do a release next week. I'd like to take some time and review other bugs/feature requests first

[2022-07-18 21:45] smotched opened #288 "[BUG] List inside Pager"
**Describe the bug**
Lists inside the Pager can't be dragged, or two finger swiped on mac

**To Reproduce**
Place a `List` inside a Pager
[code]

**Expected behavior**
* Swipeable with two fingers (ideal for Mac)
* Press and drag to the next page (matches iOS)

**Additional context**
Surprisingly arrow keys work pretty nicely.

[2022-07-19 22:04] fermoya commented on #286
Hi @almagest21 , thanks for your feedback. I believe it's not possible to do this natively in SwiftUI? I can't find any documentation on it, the only accepted answer is "wrapping an `NSView` into `SwiftUI` and use `scrollWheel`". However this defeats the purpose of the library 😕

[2022-07-19 22:10] fermoya commented on #288
Hi @smotched , there are two things here:
- Trackpad events are not natively supported in SwiftUI as far as I can see. Check out #286 for more info
- `List` inside a `Pager` isn't working in `iOS`. For this, have you tried using `.pagingPriority(.simultaneous)`? The scenario is tricky because there are two elements here expecting a drag.

Btw, the keys do work because those are implemented differe

[2022-07-20 01:20] smotched commented on #288
Hey @fermoya , I think you meant `macOS` but yeah even with `.pagingPriority(.simultaneous)` it unfortunately doesn't work. Could it be a `macOS 13` thing maybe? are you getting anything on your side with the basic example above?

sidenote: ScrollView works nicely as well.

[2022-07-20 09:11] #283 closed

[2022-07-20 09:12] #277 closed

[2022-07-20 10:33] fermoya commented on #288
@smotched I see what you mean. Not sure why but in iOS works fine. I'll investigate to solve it.

In any case, it seems to me you're more interested in the trackpad option. It doesn't seem there's SwifUI natively built-in option to listen to this kind of event, all I find follows [this approach](https://stackoverflow.com/questions/66137652/swiftui-two-finger-swipe-scroll-gesture). I'm not interest

[2022-07-20 12:55] #279 closed

[2022-07-20 12:55] #280 closed

[2022-07-27 15:24] pblanchetteNventive opened #290 "[FEAT] An scrolling animation when changing page programmaticaly"
Maybe I'm not getting the animation settings right, but I think that the transition from one page to another could be animated in the same way a dragging gesture does.

Maybe adding a modifier to opt-in to perform swipe animation on page change.

[2022-07-27 17:26] fermoya commented on #290
Hi @pblanchetteNventive , can I see your code to change the page? Are you calling it inside a `withAnimation` bock and using the `Page.update` method? Check out the examples I provide in the repo and you'll see an example of how to do this

[2022-07-27 18:13] pblanchetteNventive commented on #290
Here's how i'm using it

[code]

[2022-07-29 07:08] fermoya commented on #290
What's `timer` and is it being updated in the main thread? Check out [`ColorExampleView`](https://github.com/fermoya/SwiftUIPager/blob/4ddc04c801aac143090bb14cf26603a3bf9c74cb/Example/SwiftUIPagerExample/Examples/ColorsExampleView.swift#L81) to see how it works

[2022-07-29 14:04] pblanchetteNventive commented on #290
Thanks, I checked your code in the ColorExampleView and managed to make it work !

[2022-07-30 05:41] danielkramer opened #291 "[BUG] bounces boolean appears to be inverted"
**Describe the bug**
Settings .bounces(false) appears to cause bouncing.. while setting to true seems to eliminate them.. I think your bool is flipped

**To Reproduce**
- Steps to reproduce the behavior
- Sample code

**Expected behavior**
I'd expect it to be the other way around

**Screenshots / Videos**
If applicable, add screenshots to help explain your problem.

**Environment:**
 iPhone 12 Pro

[2022-07-30 05:51] danielkramer commented on #291
Hmm.. maybe I'm wrong. I'm seeing bounces either way.  But I do see if I half pull a page and let go it bounces with it true where it does not false.. so maybe I'm wrong. Sometimes I still get bounces with false and I think it's cause by the next page not being loaded yet, or it's bogged down loading some future page.  Each page is a hi-res image so depending on network load it may be slow and tha

[2022-08-08 07:54] trantran8 opened #292 "[BUG] Loop abnormal with item less than 5"
**Describe the bug**
Loop abnormal with item less than 5

**To Reproduce**
- Use the loopPages option with data less than 5
- SwiftUIPager/Example/SwiftUIPagerExample/Examples/InfiniteExampleView.swift

**Expected behavior**
Normal operation is the same as when there is a item greater than 5

**Screenshots / Videos**

https://user-images.githubusercontent.com/104012084/183367859-cdbf7ffe-a233-4895

[2022-08-10 10:04] metin-atalay opened #293 "[BUG] - RTL Support"
Hello Dear,
The language of the phone and the language of my application may be different.

My application language Arabic and my phone language is English(Locale.current).

In this case, the swipe behaves according to English, not Arabic. I'm having trouble swiping.

[2022-08-17 07:23] brightfuture opened #294 "[FEAT] add ability to adjust swipe sensitivity on the direction vertical to scrolling direction"
**Is your feature request related to a problem? Please describe.**
I have my page view set up horizontally on an iPhone
sometimes i swipe the screen at a 45º angle
then the page doesn't scroll

**Describe the solution you'd like**
have an ability to adjust this sensitivity
not responding to swipe is a bit annoying

**Describe alternatives you've considered**
there isn't

[2022-08-30 15:46] KostiantynDA opened #296 "[BUG] Cannot navigate through pages using VoiceOver"
**Cannot navigate through pages using VoiceOver**

**To Reproduce**
Turn on VoiceOver and try to change a page

**Expected behavior**
Pager should scroll to the next and previous items

**Screenshots / Videos**
https://user-images.githubusercontent.com/108671935/187481711-14884d66-5c20-4c89-921f-3dfd220e281b.mov

**Environment:**
 - iOS 15.6.1
 - iPhone 12 Pro
- SwiftUIPager version 2.3.2

[2022-09-13 20:02] sdavidliu commented on #296
+1 on this, it would be great for our VoiceOver users

[2022-09-14 17:06] dmikots opened #297 "[BUG] Item animation onAppear"
Hi! I have some problem while slide back. I have 3 image on screen. 1st 1/2 of image, 2 full main image and 3nd 1/2 image. When I slide forward - everything ok. But when I slide back item 1 have animation like onAppear in LazyVGrid( blink ). How can I fix this
[code]
**Environment:**
 - OSX: [e.g. iOS] 16
 - Device [e.g. iPhone6] 133 pro
- SwiftUIPager version

**Additional context**
Add any other

[2022-09-19 02:52] HenryGlendening commented on #237
I'm experiencing this issue while running the latest code. I think the patch (https://github.com/fermoya/SwiftUIPager/pull/240) allows the user to change which Page is focused by using the Apple TV Remote arrow buttons (on the newer Apple TV Remotes), however, swiping on the remote does not scroll the Page or otherwise respond.

[2022-09-19 14:45] Samigos opened #298 "[BUG] Vertical pager breaks when adding content on the start of the list, on demand"
Xcode version: 14.0
SwiftUIPager version: 2.5.0

I have an app, that shows posts on a vertical pager. Each page fills the whole screen.

So, when the app launches, I fetch the 10 most recent posts and display them.
As soon as those posts are fetched, I start listening for new posts. (see code below) Whenever that callback gets triggered, a new post is created. I take it and place it on the top of

[2022-09-25 22:47] HenryGlendening opened #300 "[BUG]"
**Describe the bug**
Regression of [issue #237](#237):

Unable to scroll on tvOS even though package claims to be tvOS compatible.
The directional buttons on the device's newer Siri remote allow navigating between the Pager's pages, however, performing swipe gestures on either Siri remote does not cause the Pager to respond and navigate.

This affects the Apple TV 4K and Apple TV HD devices and bo

[2022-09-27 18:16] Samigos opened #301 "Reusability breaks view updates"
Hi everyone! I've recently started using this pager (`2.5.0`) on a production app and I've been facing a recycling issue I’ve not been able to solve.

Each page has 1 post, that fills the whole screen. The first batch of posts is fetched and displayed with no issues. After that, I dynamically add new posts at the top of the list; 1 post at a time. That’s when the issue arises! It seems that the ne

[2022-10-07 10:50] smallworldpc opened #302 "[BUG]"
**Describe the bug**
While using Loop the standard animation is not working properly.
If I add a data from view its working fine but when i try to use data from viewmodel then its not woking properly
**To Reproduce**
- Steps to reproduce the behavior
- Add  a data from ViewModel and add a loopPages()
- Sample code
@ObservedObject var discoverVM: DiscoveryViewModel
var body: some View {
 Pager(page

[2022-10-14 03:00] JingChen1 opened #303 "[BUG]"
Quick sliding, do not adjust this method "onPageChanged"

[2022-10-28 14:19] dmikots commented on #302
same problem

[2022-10-30 18:35] chinyaev opened #304 "[BUG] contentLoadingPolicy lazy + loopPages = blank screen"
using these two parameters together causes a blank screen that does not work
[code]
iOS 16
Xcode 14.0.1

[2022-11-24 15:23] metin-atalay commented on #300
Hi Henry,
We use this lib in our project, there isn't any error about your situation.
but the page width in our pager and the screen width is the same. If you try something like that, will it work?