[2020-01-23 11:27] Mohsenqaysi opened #3 "SwiftUIPager breaks on ScrollView"
When added into a ScrollView for some reasons it will not scroll.

[2020-01-23 11:56] #3 closed

[2020-01-23 15:46] fermoya commented on #3
Thanks for issue.

There were some issues related to the Gestures. I've created a new version [1.1.1](https://github.com/fermoya/SwiftUIPager/releases/tag/1.1.1) that should fix your problem.

Any other issues, don't hesitate to let me know

[2020-01-30 10:13] ggagosh commented on #3
@fermoya Hallo,

First of all thanks for this package <3.

I have a problem with ScrollView and SwiftUIPager. When I try to add SwiftUIPager inside the pager it's broken. For example, my `pageView` looks like this:

[code]

I have latest version of this library: 1.2.0

[2020-01-30 11:30] fermoya commented on #3
Hi @ggagosh,

Thanks so much, I'm glad you find it useful.

I find it bizarre what you're trying to achieve here. So, are you trying to add a ScrollView as the Pager page?  From what I can see, this code would add 10 items to a vertical scroll and this would be repeated as many times as pages has the Pager.

Are you trying to do something like this?
[code]

[2020-01-30 12:58] ggagosh commented on #3
@fermoya So I want to add a scroll view into the page. For example:

I have some articles (scrollable ones: image/text/etc) and I need to add this content in your pager page.

I just need a solution to add ScrollView with different content on every page.

[2020-01-30 14:00] homanp opened #9 "Implementing NavigationLink"
Hi there @fermoya ,

Using SwiftUIPager for my project. How can I use NavigationLink with SwiftUIPager, tried the following but couldn't get it to work:

[code]

Any ideas?

[2020-01-30 16:19] fermoya commented on #3
@ggagosh I got what you mean, apologies.

I just released a beta version, 1.2.3-beta.1

I'm letting the page take up the whole space available by default if `itemAspectRatio` is not specified. Here's a sample page:
[code]
And the result:

![simulator](https://user-images.githubusercontent.com/11335612/73468099-2f7dca00-437c-11ea-9b01-6ad2542e1264.gif)

Does this solve your issue?

[2020-01-30 16:27] fermoya commented on #9
Hi @homanp ,

Yes, indeed. I have a `TapGesture` attached to the unfocused items and this is colliding with your `NavigationLink`.

I've just uploaded a beta version, 1.2.3-beta.1 where I remove this `TapGesture` as I believe doesn't make much sense. It should work now.

There's still an issue that I've noticed and it's that `NavigationLink` might take the hit and kind of "break" if the dragging i

[2020-01-30 17:02] ggagosh commented on #3
@fermoya Thanks very much.

It's working like a charm <3

[2020-01-30 17:03] fermoya commented on #3
@ggagosh, I'm glad to hear that. I'll release 1.2.3 within the next days

[2020-01-30 18:08] homanp commented on #9
@fermoya cool, I'll try the beta then to see how it works. Thanks for the swift fix.

[2020-01-30 19:33] fermoya commented on #9
@homanp the issue I was telling you about you can find [here: NavigationLink Works Only for Once
](https://stackoverflow.com/questions/59279176/navigationlink-works-only-for-once)

I'm just trying on Xcode 13.2 and it's working fine so it must be something related to Xcode 13.3. See with the beta:

![simulator](https://user-images.githubusercontent.com/11335612/73483341-29491700-4397-11ea-9903-18a

[2020-01-30 19:40] homanp commented on #9
Yeah, I found the same thing. I’ll install the new version and try it out!

Thanks again!

[2020-01-30 19:48] fermoya commented on #9
Okay then. You have it live now, 1.2.3. Any other other issue, don't hesitate to reopen.

Thank you

[2020-01-30 19:48] #9 closed

[2020-02-24 13:16] ramunasjurgilas opened #11 "No way to set pager height depending on children height or, that children would be on the bottom"
I need that pager children would be located at the bottom of the screen. It is possible to do it in two ways:
1. Change pager height deepening on child height.
2. Make, that children will alway be attached to the bottom of the screen.

**_How to make that children will be attached to the bottom?_**

I did not manage to do it using **Spacer**, **ZStack**, **VStack** and other ways. In the screensho

[2020-02-24 14:13] fermoya commented on #11
Hi @ramunasjurgilas ,

I know what you mean, thank for your input. Right now I don't have a way to do this, I'll add it as part of a new release, I'll keep you posted.

At the moment, I think there might be something you can do, though. I think if you change `MyCellView` and include a new `VStack` to push your cell to the bottom, you could achieve what you want. Remove `itemAspectRatio` so that it

[2020-02-24 17:36] fermoya commented on #11
Hi,

You can use `itemAspectRatio` inn version 1.3.0 to pass an alignment to the page.

Note that `start` will set the page at the top, if horizontal, and left, if vertical. `end` will do the opposite.

Let me know if this works for you.

Fernando

[2020-02-24 17:36] #11 closed

[2020-02-25 04:05] ramunasjurgilas commented on #11
Thanks @fermoya for very quick support! Now I have what I want!

[2020-02-25 13:10] NeverwinterMoon opened #15 "If the pager view has padding and cornerRadius and use .interactive, the UI breaks"
[code]

Before scrolling between pages, everything looks fine. After any scroll, the text becomes covered by the background colour. If either `padding` or `cornerRadius` is removed, it works fine.

[2020-02-25 19:43] fermoya commented on #15
Hi @NeverwinterMoon ,

First of all, thanks a lot for your feedback. Could you please tell me what version of Xcode are you using? Also, the command line in tools in Xcode -> Preferences -> Locations -> Command Line Tools ?

I think it might have to do with the Xcode version. This is my code:
[code]
And this is my result:
![simulator](https://user-images.githubusercontent.com/11335612/75281282-e69

[2020-02-26 08:12] NeverwinterMoon commented on #15
Xcode version is 11.3.1 (11C504) and so are the Command Line Tools.

https://gyazo.com/5fb0d1347d135f1837f74ea3162fe32a

[2020-02-26 09:23] NeverwinterMoon opened #16 "When removing last element of input data, Pager is blank"
[code]

If I click on second message, everything works fine. If I click on 1st message, everything works fine. If I click one by one from first message to last, everything works as expected. But if I scroll to the last element and click on it, the whole Pager view becomes blank.

Working as expected:
[![Image from Gyazo](https://i.gyazo.com/86d210326b530f0427f6ab22d61e56a8.gif)](https://gyazo.com/

[2020-02-26 09:48] NeverwinterMoon opened #17 "Pager#isInitialized is never true"
I am not sure if it affects anything, but

[code]

And:
[code]

Thus, `isInitialized` is never set to `true`

[2020-02-26 10:15] fermoya commented on #15
Hi @NeverwinterMoon ,

Try adding `.shadow(radius: 0)` to your `bannerView` after `cornerRadius` and see if that works for you. It is working for me.

I believe this a SwiftUI issue as the problem appears when combining different view modifiers. I'll keep an eye on it, tho.

Thanks

[2020-02-26 10:16] fermoya commented on #17
Hi @NeverwinterMoon ,

It would affect if the `Pager` gets redrawn, indeed.

Thanks for the input

[2020-02-26 10:41] NeverwinterMoon commented on #15
Ah, indeed. `.shadow(radius: 0)` fixes the issue. Thanks!

[2020-02-26 10:41] #15 closed

[2020-02-26 16:09] fermoya commented on #17
Hi @NeverwinterMoon,

I'm gonna close this as I've already released 1.3.1-beta.1 that contains this change.

Thanks

[2020-02-26 16:09] #17 closed

[2020-02-26 16:11] fermoya commented on #16
Hi @NeverwinterMoon ,

It seems SwiftUI recreates `Pager` but keeps its old state, therefore page was out of bounds. Can you try using version 1.3.1-beta.1? Should be fixed there.

If you need me to release this beta on Cocoapods, please let me know.

Thanks

[2020-02-27 07:08] NeverwinterMoon commented on #16
I tested it a bit and it works great, will try it more throughly today! CocoaPods release would certainly be great. Thanks a lot!

[2020-02-27 15:16] NeverwinterMoon opened #18 "Pager's scroll blocks the ScrollView's scroll"
I've seen there was a similar issue (#3) but then it was closed and an entirely different use case with ScrollView was discussed, so I am going to post this.

Basically, if a `Pager` view is placed inside a `ScrollView` with vertical scroll, the former blocks the parent's scroll, unless the drag gesture starts outside the `Pager`'s view area.

This is not an issue caused by `Pager` itself, but the

[2020-02-27 15:35] fermoya commented on #18
HI @NeverwinterMoon ,

Thanks again for your feedback. I remember this issue, I finally chose to use `highPriorityGesture` to make sure `Pager` would scroll as I was having trouble when `Pager` contained a `ScrollView` or was presented modally.

When contained in a `ScrollView` is new you're right to say it won't work as it is right now due to the high priority view modifier. I'll revisit this aga

[2020-02-27 15:36] fermoya commented on #16
Hi @NeverwinterMoon ,

I can release the beta in Cocoapods if you're using it to help you test it. I'll wait a bit to bump the version in case something else arises.

Thanks a lot

[2020-02-28 01:01] ramunasjurgilas opened #19 "How to select different page when Pager already presenting"
I need to select different page when user clicks on the map pin annotation. I do not see the way how to do it. How I could swipe to different page programmatically?

[code]

[2020-03-02 08:37] NeverwinterMoon commented on #16
Well, I can use it though CocoaPods like this without a release anyway `pod 'SwiftUIPager', :git => 'https://github.com/fermoya/SwiftUIPager.git', :branch => 'fix/pager-swiping'`, so I guess the actual beta release is not that crucial.

I've first tested everything in a playground project and it looked fine, now I carried over to testing this in my actual project and having no issues whatsoever ex

[2020-03-02 08:37] #16 closed

[2020-03-02 09:10] fermoya commented on #18
Hi @NeverwinterMoon ,

I've given a look at this and doesn't seem to work. You suggestion `DragGesture(minimumDistance: 30, coordinateSpace: .local)` works fine if the view is not presented but when it is, it breaks the pagination. Try this out:

[code]

This is the worst case I can think of. As it is right now, `Pager` takes the touch from `ScrollView` but this seems a lesser issue.

Fernando

[2020-03-02 10:05] NeverwinterMoon commented on #18
The `DragGesture(minimumDistance: 30, coordinateSpace: .local)` workaround certainly doesn't break pagination in my tests, unless I am missing something...

[![Image from Gyazo](https://i.gyazo.com/267db8df30559e4fe806f4a0000a486d.gif)](https://gyazo.com/267db8df30559e4fe806f4a0000a486d)

[2020-03-02 10:14] fermoya commented on #18
Hi @NeverwinterMoon ,

Have you tried copy-pasting my code? Use a `sheet` to present a modal. Or download the code from branch `pager-swiping` and go to the "Presented" tab and use your code...

Fernando

[2020-03-02 10:35] fermoya commented on #19
Use version 1.3.1. I've changed a state variable to a binding so that you can programatically move it. See the example [here](https://github.com/fermoya/SwiftUIPager/blob/master/Example/SwiftUIPagerExample/Examples/ColorsExampleView.swift) an example of how to use it.

[2020-03-02 10:35] #19 closed

[2020-03-02 11:02] NeverwinterMoon commented on #18
@fermoya Aha, I tried it out now with `PresentedExampleView`. It does break pagination indeed. Sorry for the confusion. I do agree that `Pager` not being scrollable is a bigger issue that `ScrollView` not receiving touch events, but still, the latter is extremely annoying. Even in the `PresentedExampleView` example where the `Pager` takes most of the horizontal view, the user has an inconvenience

[2020-03-02 11:08] fermoya commented on #18
I totally agree, it's very annoying. When you have a ScrollView inside another scrollview it works fine:

[code]

even if it is presented... By specifying the axis, it is able to just react to horizontal swipes, which would be ideal for `Pager` but `DragGesture` doesn't seem to allow it. I can't manage to find a way to create a custom gesture myself by implementing `Gesture`.

Let's keep this open

[2020-03-02 13:02] ramunasjurgilas commented on #19
Thanks for quick fix and release!

[2020-04-02 02:31] ramunasjurgilas opened #21 "Can not swipe throw pages when content on the bottom of the screen"
Can not swipe throw pages when pager is on the bottom of the screen. It was working with 1.3.0 version, but dose not works with 1.3.1 version.

Code which places pages on the bottom of the screen:
[code]

<img width="494" alt="image" src="https://user-images.githubusercontent.com/255732/78204517-65d1e580-74a2-11ea-9dc8-3bb5b8afd8fa.png">

[2020-04-02 12:57] Priva28 opened #22 "How to update based on parent? Eg. Change in orientation."
When the orientation of the device changes or the window is resized in macOS. The page item does not take up all the available space. Is there a way to do that? Thanks!

[code]
[Video](https://imgur.com/a/gF9T7EX)

[2020-04-04 20:02] fermoya commented on #21
HI @ramunasjurgilas ,

Apologies for the late response. I just fixed this and released version 1.4.0-beta.1. Could you please try again and let me know if it solves your problem?

Thanks

[2020-04-04 20:32] fermoya commented on #22
Hi @Priva28 ,

Thanks for your feedback and sorry for the late response. I've seen the issue and I've managed to fix it. Nonetheless. I wanna spend a bit of time here to figure out a better solution as I don't like the result very much.

I'll keep you posted

[2020-04-04 23:07] fermoya commented on #22
Hi @Priva28 ,

I've drafted a beta version 1.4.0-beta.2 with this fix. Now the page will be resized when `Pager` frame changes.

Could you confirm this works for you, please?

Thanks

[2020-04-05 00:53] Priva28 commented on #22
No problem whatsoever. It’s an amazing package that Apple should have made ages ago!

Yes I can confirm that the fix does work. I have tested on my Mac and my iPad and it successfully resizes depending on window size, orientation change etc.

Thanks.

[2020-04-05 12:12] ramunasjurgilas commented on #21
Thanks for the fix! I did not have time to test it. But I will let you know when I will do it.

[2020-04-05 15:22] fermoya commented on #22
Thanks for the kind words.

[2020-04-05 15:22] #22 closed

[2020-04-06 01:52] ramunasjurgilas commented on #21
I tested and it works good. :)

[2020-04-06 01:52] #21 closed

[2020-04-06 18:39] carlosrc opened #26 "Every page is initialized at the same time"
I want to know if there is some way to load on demand each page. Now is calling onAppear method in each page at once.

Also the init method on each view is called multiple times on change active page. Maybe it could be a performance problem with heavy operations. Is there any way to solve it?

Tthanks for the help.

[2020-04-07 00:50] i-vivek opened #27 "List in Pager: Scrolling issue for vertical list in horizontal pager"
I'm trying to achieve card view with list inside pager view. I'm facing scrolling issue because of gesture. swipeGesture is getting detected even if I scroll vertically in List.

Here is demo code:

[code]
![ezgif-6-d5c316130c84](https://user-images.githubusercontent.com/42919970/78619907-b5fddd00-78d2-11ea-9c8e-f500c8bb1829.gif)
Compare with App Store : ![ezgif-6-688945432a99](https://user-images

[2020-04-07 07:50] fermoya commented on #26
Hi @carlosrc ,

Currently `Pager` initializes the current page and some more hidden pages to assure a smooth scroll. That is, right now the recycling ratio is 5 which means it assures there are enough pages to fill the screen twice on each side of the scroll. This doesn't mean it initializes all pages at once, just the ones it needs. For instance, in the [example project](https://github.com/fermoy

[2020-04-07 07:53] fermoya commented on #27
Duplicate of #18

[2020-04-07 07:56] fermoya commented on #27
Hi @i-vivek ,

It's a known issue that unfortunately the framework has. At the moment, I haven't found a way to cancel the gesture if the touch is a vertical swipe (considering the pager is horizontal). There doesn't seem to be a good way to do this, for now.

I've marked it as duplicate as there's a related issue involving a scroll view and the problem is basically the same, several gestures at t

[2020-04-07 07:56] #27 closed

[2020-04-07 08:54] carlosrc commented on #26
Thanks for your help, @fermoya. I'm new on SwiftUI and I'm a little bit confused about the life cycle.

So, is there a way to detect an event when the active page is changed?

And another question... (sorry for the mix), I'm using MVVM, and my viewModel is initialized when the view initializes. I think this provokes an unlink between view and viewModel. When I update a property in the viewModel, d

[2020-04-07 09:03] fermoya commented on #26
No problem.

For the first part, `Pager` has an event `onPageChanged` that will tell you when the page is changed.

For the second part, you need to make your ViewModel publish the changed. That is, it needs to implement `ObservableObject` and mark some properties as `@Published`. Then, inside your view you should declare a wrapped value `@ObservedObject`:

[code]

[2020-04-07 09:47] #26 closed

[2020-04-07 22:05] parisman opened #28 "Can't seem to embed into a NavigationView"
Wonderful job on this. Answered my prayers... almost. But, I need to embed it in a NavigationView... which does not seem to work...

[2020-04-08 07:32] fermoya commented on #28
Hi @parisman ,

What's your issue exactly? I have several examples [here](https://github.com/fermoya/SwiftUIPager/tree/master/Example) and in all of them I use a `NavigationView`, have you checked them?

[2020-04-08 12:29] parisman commented on #28
Fernando,

Thanks for the outreach. The issue is that I want to put your view inside of a NavigationView, not the other way around...

Cheers,

Lee

Sent via iPhone.

[2020-04-08 14:30] fermoya commented on #28
Hi @parisman ,

I think you mean embed `NavigationView` inside `Pager` which is not possible. `NavigationView` is designed to be the top most view in the view hierarchy. If you want to change the title or the navbar buttons depending on the page, you can do something like:
[code]

The examples that I shared with you embed a `Pager` into a `NavigationView`. The other way round as I said isn't possi

[2020-04-09 09:05] xiaocairush opened #30 "The pager don't have the expected height"
issue:
The pager don't have the expected height.<br/>
seems like the view is clipped at [this line](https://github.com/fermoya/SwiftUIPager/blob/master/Sources/SwiftUIPager/Helpers/SizeViewModifier.swift#L32).

complete code to reproduce the issue:

[code]

[2020-04-10 19:03] fermoya commented on #30
Hi @xiaocairush ,

`clipped` just makes sure that a `View` doesn't display anything beyond its bounds. You can check `Pager` doesn't have the right frame if you debug the view hierarchy after running your code:

<img width="648" alt="Screenshot 2020-04-10 at 18 41 02" src="https://user-images.githubusercontent.com/11335612/79010920-db048100-7b5a-11ea-8958-bb467774f6ff.png">

`Pager` doesn't have a

[2020-04-10 19:03] #30 closed

[2020-04-10 19:03] #28 closed

[2020-04-11 02:48] xiaocairush commented on #30
Thanks @fermoya , I'm a newer to swiftui,  but I noticed that if just remove Pager , we can get the expected height:

[code]

[2020-04-11 08:35] fermoya commented on #30
Hi @xiaocairush ,

That’s right. In case of single page, which is just a combination of `Text` views, you’ll have an intrinsic content size. But once you wrap it into `Pager` you’ll need to specify a size as it’s a scroll. There’s no way in `SwiftUI` to get the intrinsic content size, at least for now. Otherwise, I could choose between the available space given by `GeometryReader` and the page's c

[2020-04-11 16:37] xiaocairush commented on #30
@fermoya emm.... Sounds like we cannot solve this issue elegantly in swiftui for now. All what we can do is to declare the height as intrinsic. I think it's a workaround instead of a solution for this issue. I will solve the issue by the workaround and still hope any possiable elegant solution.

[2020-04-14 15:10] fermoya commented on #30
Hi @xiaocairush ,

If you have experience working with `UIKit` you'll see that `UIScrollView` needs an explicit size. You give it to it by applying constraints, but you still have to give it some value. It's not that it isn't elegant, it's the way it is. I'll leave you here a nice tutorial to better understand how it works in SwiftUI.

https://sarunw.com/posts/intrinsic-content-size-in-swiftui/

C

[2020-04-20 04:01] AttemptD opened #32 "View background"
In my app, I set the background of white ,but the Page allways hava a little gray color between tow pages,
how can I to cancel that

[2020-04-20 17:03] fermoya commented on #32
Hi @AttemptD ,

Can you share an image or some code, please? So if you go to [SimpleExample](https://github.com/fermoya/SwiftUIPager/blob/master/Example/SwiftUIPagerExample/Examples/SimpleExampleView.swift) and remove lines 28 and 40 (background and shadow) you'll get this:

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-20 at 18 02 11](https://user-images.githubusercontent.com/11335612/797

[2020-04-21 13:06] AttemptD commented on #32
thank you very much

[2020-04-21 13:07] AttemptD commented on #32
@fermoya thank very much

[2020-04-21 14:26] fermoya commented on #32
I'll close this then

[2020-04-21 14:26] #32 closed

[2020-05-21 02:37] codetheweb commented on #18
I'm having a very similar problem, I have a container that needs to react to vertical drags, and the pager should react to horizontal drags (basically, a clone of the Photos.app gallery view: swipe down to dismiss, swipe horizontally to page through).

I'm very new to Swift and SwiftUI, but I was able to make it work by only updating the offset if the translation was within a certain sector (i.e.

[2020-05-21 15:56] Alexander-techIOS opened #34 "Infinite scrolling an array"
Hi, is it possible to loop back over the array. I tried adjusting the $pageIndex in the onPageChanged modifier, if one reaches the end of the list loop back to the beginning or if scrolls towards the beginning loops to the back. But changing the $pageIndex creates a scroll to animation to the index which isn't seamless. Just wondering if you maybe know what could be done?

[2020-05-21 22:07] fermoya commented on #34
Hi @Alexander-techIOS,

I think I know what animation you mean. Definitely, this is something worth having so I’ll backlog it and work on that over the next days. I’ll keep you posted

[2020-05-21 23:39] Alexander-techIOS commented on #34
Great, awesome library by the way!

[2020-05-22 07:49] fermoya commented on #18
Hi @codetheweb,

Thanks for your comment. There's an sample App in the repository which has a tab called "Presented":
<img width="560" alt="Screenshot 2020-05-22 at 08 33 57" src="https://user-images.githubusercontent.com/11335612/82643184-03c27080-9c07-11ea-9416-474b231e14c4.png">
This is an edge situation. Now, your code is skipping scrolling the pages if the dragging isn't in the horizontal axi

[2020-05-22 08:11] carlosrc opened #35 "Disable swipe conditionally"
I would like to disable left swipe or right swipe according to a condition.
This way, you can't move forward until a condition is satisfied.
Is that possible?
Thanks.

[2020-05-22 08:14] fermoya commented on #35
Hi @carlosrc ,

Have you tried using `allowsHitting`?

[2020-05-22 08:33] carlosrc commented on #35
I don't find that configuration... I try `Pager(...).allowsHitting(...)`, but looks like Pager doesn't have this property.

[2020-05-22 10:23] fermoya commented on #35
Hi @carlosrc ,

Sorry, I meant `allowsHitTesting`:
<img width="344" alt="Screenshot 2020-05-22 at 11 22 38" src="https://user-images.githubusercontent.com/11335612/82658308-aafed200-9c1e-11ea-90fb-9eea070e572e.png">

[2020-05-22 10:49] carlosrc commented on #35
@fermoya it works, but is there a way to disable only left or right swipe?

This would be useful, for example, in an app where you have to fill a form before going to the next screen, but you can always go back.

[2020-05-22 10:50] fermoya commented on #35
Hi @carlosrc ,

I get you, you want to disable the swiping but not the interaction with the page. I'll add a modifier for this, I'll keep you posted

[2020-05-22 11:55] carlosrc commented on #35
Thanks!

[2020-05-22 12:38] fermoya commented on #18
@NeverwinterMoon  I'm gonna add that workaround you suggested and at the same time a modifier `highPriorityGesture` to reset to as it is currently

[2020-05-23 19:47] fermoya commented on #35
Hi @carlosrc , I just released version 1.5.0-beta.1. Give it a try, I'll release 1.5.0 within the next days if everything looks fine

[2020-05-23 19:48] fermoya commented on #34
Hi @Alexander-techIOS, I just released version 1.5.0-beta.1. Give it a try, I'll release 1.5.0 within the next days if everything looks fine. The new modifier is called `loopPages`

[2020-05-23 19:53] Alexander-techIOS commented on #34
Awesome! I will give it a try

[2020-05-23 20:07] Alexander-techIOS commented on #34
It works great!

[2020-05-24 12:13] fermoya commented on #35
Released version 1.5.0. Use `disableDragging` or `allowsDragging(shouldDrag)`

[2020-05-24 12:13] #35 closed

[2020-05-24 12:14] fermoya commented on #34
version 1.5.0 released. Use `loopPages` to make an infinite scroll and ensure the number of items is high enough to create a nice UX

[2020-05-24 12:14] #34 closed

[2020-05-24 12:16] fermoya commented on #18
Using suggested hack till _SwiftUI_ offers new options. `Pager` works fine inside a `ScrollView` now.

In case `Pager` is needed in a interactive modal, please use `highPriorityGesture`.

[2020-05-24 12:16] #18 closed

[2020-05-25 11:33] Alexander-techIOS commented on #34
@fermoya There's an issue with version 1.5.0, how many items are needed? In commit [6e714e106519a5398faceff8e536903178f5643b](https://github.com/fermoya/SwiftUIPager/pull/38/commits/6e714e106519a5398faceff8e536903178f5643b) with 5 items in the array the looping is seamless and works beautifully. But since moving to the official v1.5.0 with a 5 item array every time I swipe to the left the next ite

[2020-05-25 11:53] fermoya commented on #34
Hi @Alexander-techIOS ,

There’s a compromise there. The number of items in the `data` array must be greater or equal to the number of items `Pager` keeps in memory. Probably, this latter figure is 6 or more, could you check?

In the beta version, there was an issue where if the number of items is too low, some cards are hidden. `dataDisplayed` is resorted and that produces the issue you mention.

[2020-05-25 15:21] fermoya commented on #34
@Alexander-techIOS I'm gonna give it a thought and see what I can do. Maybe I can adjust the ratio to let `Pager` loop fine with fewer elements... I’ll keep you posted

[2020-05-25 15:26] Alexander-techIOS commented on #34
Been a little busy this morning, I'll investigate it a bit. If I just build with 1.5.0-beta it works perfectly with my 5 item array, in the meantime I have set it back to the beta release.

[2020-05-25 17:45] boompikachu opened #40 "ScrollView inside Pager() caused vertical padding issue"
When inserting a View() that has a fullscreen ScrollView() in Pager(), the Pager() will have a padding issue on the top and the bottom of the ScrollView(). From my findings (not sure), the Pager() does follows the safe area while the View() inside the Pager() doesn't causing the Pager() to cut some portion of the ScrollView() out. This can be seen in the following photo:
<img width="322" alt="imag

[2020-05-25 17:51] boompikachu commented on #40
This bug doesn't occur when wrap in NavigationView

[2020-05-25 17:54] codetheweb commented on #18
@fermoya I just tried this and using `highPriorityGesture` didn't seem to work. My custom gesture attached to the Pager triggered, but I was not able to swipe through the Pager. I'm probably just doing something wrong or not understanding SwiftUI, but would `simultaneousGesture` work better here instead?

[2020-05-25 19:03] fermoya commented on #40
Hi @boompikachu ,

I have a workaround for you because this seems like a SwiftUI issue. I'm debugging your code on an iPhone Pro Max, the available space for `Pager` is `(412.0, 769.0)`. If no `itemAspectRatio` provided, this is the size that's set to the page. Now, if you use `.frame(width: 412, height: 769)`, you still have the problem. Try setting one pixel less for the height and your problem

[2020-05-25 19:03] #40 closed

[2020-05-25 19:18] fermoya commented on #18
Hi @codetheweb ,

`highPriorityGesture` is meant when embedded in an interactive modal. Just embed `Pager` inside a `ScrollView` and should work fine. See [`EmbeddedExampleView`](https://github.com/fermoya/SwiftUIPager/blob/master/Example/SwiftUIPagerExample/Examples/EmbeddedExampleView.swift) in the [Sample Project](https://github.com/fermoya/SwiftUIPager/tree/master/Example/SwiftUIPagerExample).

[2020-05-25 19:22] fermoya commented on #34
@Alexander-techIOS , version 1.5.1 live

[2020-05-26 07:29] carlosrc commented on #35
Perfect! Great work @fermoya , and thanks for your quick response :)

[2020-05-27 02:01] codetheweb commented on #18
Sorry, I'm unclear on what you're saying.

I should embed Pager inside a vertical ScrollView, then attach any gestures to that ScrollView?

This modified example doesn't really work:
[code]

If further clarification is needed I can open a new issue.
(And thanks for the support, I really appreciate it.)

[2020-05-27 08:25] fermoya commented on #18
Hi @codetheweb ,

I don't understand the example. Why do you have a `DragGesture` applied to a `ScrollView` to change its offset? What are you trying to achieve exactly?

[2020-05-27 17:36] codetheweb commented on #18
I thought your comment meant that I should embed Pager inside ScrollView so that it only reacted to horizontal gestures.

But I was able to get it working by using the `allowsDragging()` modifier that you recently added along with `simultaneousGesture()` (attached directly to the Pager instance). I just set `allowsDragging` to `false` when the `simultaneousGesture` is activated, seems to work well

[2020-05-28 11:18] fermoya commented on #18
thanks for the suggestion, @codetheweb . I was thinking of that, might do in the future 😄

Thanks a lot and apologies for the confusion

[2020-05-28 18:20] teameh opened #43 "Compatibility with iOS < 13 projects"
Thanks for this component, it looks awesome! I wanted to try it out in my iOS 10+ project but unfortunatly that's not possible due to the iOS 13+ target.

I understand that SwiftUI needs iOS 13+, but I've got a legacy project where I use SwiftUI for some new features that are just disabled for iOS <= 12 users.

Would it be possible to lower the target and add `@available(iOS 13, *)` (and macOS / w

[2020-05-28 18:47] fermoya commented on #43
Hi @teameh ,

You are using _Cocoapods_, aren't you? I'm not sure if there's a way to use pods whose _deployment target_ is greater than your project's deployment target. You'd have to create a different target for that.

It doesn't make sense for me to support a lesser iOS version and then do that hack that you mention. I understand your frustration and I'll see if there's something that could pl

[2020-05-28 19:01] teameh commented on #43
Hey @fermoya,

Thanks for the quick reply!

I used SPM for SwiftUI packages.

Adding the module works fine but importing it in the code gives a compiler error about the my project having a lower target than SwiftUIPager's target.

[2020-05-28 19:16] teameh commented on #43
Just make a quick branch to check if it would work to lower the target and that works indeed fine, see https://github.com/teameh/SwiftUIPager/commit/3a65d7b97b5d405a8118fc7aadc028dce482316d.

But I understand why you wouldn't want to merge that. This can't be the first project to struggle with this. It's a bit weird that this code compiles fine against 10.0 but you can't use it at runtime. Maybe t

[2020-05-28 19:25] fermoya commented on #43
@teameh , let me make test this over the next days, I'll keep you posted. Thanks for the feedback

[2020-05-28 19:33] teameh commented on #43
Cool. I've added a PR of my branch.

[2020-05-28 20:03] teameh commented on #43
Also added a question to SO, maybe somebody ran into this before https://stackoverflow.com/questions/62073570/import-community-swiftui-package-with-13-0-target-in-ios-10-project

[2020-05-28 21:44] teameh opened #45 "Unable to set the desired page dimensions"
Hey @fermoya, another issue from me.

I'm just playing with the component a bit to see if it fits my needs. Feel free to close these issues if these uses cases are not something you would like to support.

I'm trying to create a pager that looks something like this:

![image](https://user-images.githubusercontent.com/1330668/83194961-c47dad80-a139-11ea-8b6f-715147f70aef.png)

A pager with pages wi

[2020-05-29 09:02] fermoya commented on #45
@teameh , this isn't how `Pager` is meant to work. If you give `Pager` a frame of 500x500 and choose an itemAspectRatio of 0.7, it will create a page that's 350x500. You cannot pass the page size because it depends on the `Pager` size.

All the examples that I have in the Example project have spacing, padding and insets. What you're trying to do can be achieved like this:

[code]
<img width="545"

[2020-05-29 09:27] fermoya commented on #43
I've taken a look at other SwiftUI libraries out there and none of them do what you require. You happen to be able to import SwiftUI because Apple needs retrocompatibility, but this framework doesn't.

Please, don't take the wrong way, I understand your frustration. But understand me, I can't lower the support version just for a specific case. The library is build to work with iOS 13.

What you ne

[2020-05-29 09:27] #43 closed

[2020-05-29 10:56] teameh commented on #43
Yeah I agree, this is not something your library should be fixing. Thanks for the workaround!

And yeah, I agree, ideally we would drop everything but iOS 13, but some apps just need to support old iOS versions for some (corporate) reason..

[2020-05-29 11:28] teameh commented on #45
Thanks for helping me understand how it should work 😊!

But that would only work if you have space for a GeometryReader to size up the whole screen right? That won't work If I put the `GeometryReader` in a VStack and try to add another component above and below it:

[code]

Will (logically) result in:

![image](https://user-images.githubusercontent.com/1330668/83254625-64c1e980-a1af-11ea-91ad-1690

[2020-05-29 11:47] teameh commented on #45
I get that it's not how it's meant to work, but maybe something like would work? https://github.com/teameh/SwiftUIPager/commit/3c22c82012b2e4c9939ca0fbc71194a23b7158ee#commitcomment-39527479

(would need a lot more work of course, but it's just an idea)

[2020-05-29 11:49] fermoya commented on #45
`Pager` computes the page size based on:
* The available space
* Item aspect ratio
* Padding
* Alignment insets

You'll have to find the appropriate combination of these elements to satisfy your needs. You use `GeometryReader` as the top most `View`. The problem in your example is `VStack` isn't expanding to the horizontal edges because nothing is pushing it to need that extra space. At the end of

[2020-05-29 11:53] fermoya commented on #45
@teameh , I appreciate your enthusiasm, but have in mind this library is not meant for a specific case. You can't specify a page size because it depends on the size of the container. You can see how the page size is defined here, and figure out what changes you need to get that size:
[code]

[2020-05-29 12:06] fermoya commented on #45
Here's some code that might help you, use `Spacer`:
[code]

[2020-05-29 16:14] fermoya commented on #45
@teameh I've published a 1.6.0-beta.1 adding `preferredPageSize`. Notice that by using this you'll be invalidating `padding` and `itemAspectRatio`

[2020-05-29 17:09] teameh commented on #45
Yeah, sorry that your project had to be the first SwiftUI Component I’m trying to integrate. There’s clearly some knowledge missing on my part here.

Thanks for the info, I just logged off and I’m away this weekend but will get to this asap on Wednesday! Really awesome you pushed a beta release containing that option, looking forward to trying it out!

Cheers!

[2020-05-29 17:32] fermoya commented on #45
Sure no worries, there's always a first time. I'm trying to please everybody here, to me anyone that is interested in this library deserves my attention. But there's a compromise in the number of modifiers I can add. Every new modifier I add makes the code more difficult to maintain as there are more conditions.

Anyway, I saw your point and agree it can be a bit confusing if you need to set a con

[2020-06-02 10:02] Novajox opened #48 "Problem with navigationlink"
Hello here,
Thanks for the libs, it looks very nice for now :)
So I'm an Android developper for several years who just started in order to publish my application on the two stores, so I may have done things wrong xD
I started SwiftUI and it looks very promising.

I have a pager inside a navigationview which contains navigationlinks such as

[code]

Everything works perfect execpt navigation.

If I

[2020-06-02 11:12] fermoya commented on #48
@Novajox , unfortunately gestures aren't well designed in SwiftUI at the moment. I could make a quick change to help you but you're gonna end up with something like this: [SwiftUI: NavigationLink and ScrollView drag gesture colliding](https://stackoverflow.com/questions/58440469/swiftui-navigationlink-and-scrollview-drag-gesture-colliding). So, for now, I don't think I'll be changing `gesture` to

[2020-06-02 11:22] Novajox commented on #48
Hey thanks a lot for the rapid answer :)
I tried something with
 Pager(page: $page,
                        data: self.zoneDetailVM.blocs,
                        id: \.self,
                        content: { item in
                            // create a page based on the data passed
                            NavigationLink(destination: BlocDetailUI(bloc: item)) {

[2020-06-02 11:25] fermoya commented on #48
@Novajox , I'm glad it worked. I'm close this as I believe it's a SwiftUI issue. But no worries, I have it in mind. It's one of the first things I want to review as soon as WWDC 2020 takes place.

[2020-06-02 11:25] #48 closed

[2020-06-03 12:06] teameh commented on #43
@fermoya just for future readers, I can't get your workaround working. You say that you set the target of the new `MySwiftUITarget` to 10.0 but trying to compile that gives me:

[code]

Setting the target of the that `MySwiftUITarget` proxy framework to 13.0 makes that target compile fine, but compiling the main app gives the same error:

[code]

I'm going to try this approach now https://stackove

[2020-06-03 12:30] fermoya commented on #43
@teameh can you try changing `-framework` to `-weak_framework` as specified [here](https://github.com/CocoaPods/CocoaPods/issues/6494)?

[2020-06-03 18:04] fermoya commented on #43
@teameh I just did some work around this. I've added support to XCFrameworks so if you follow the instructions in the [README](https://github.com/fermoya/SwiftUIPager/blob/master/README.md) to manually embed the `SwiftUIPager` you should be able to use it. It's easier that all this workaround, and more maintainable till your employer decides to drop iOS 10, 11 and 12.

You can download the binary

[2020-06-03 19:38] teameh commented on #45
🙏 🙌 Cheers, that's really nice!

Yeah I understand you don't just want to keep adding a bunch of modifiers.

From what I can tell from playing with it a little bit this works great. I'll continue working on this tomorrow and will let you know if I run into any issues. Again thanks for the modifier, it helps a lot!

[2020-06-03 20:00] teameh commented on #43
Wow, good work. I was just fiddling with that `-weak_framework` flag when I read your comment.

Thanks for your effort working on this! This works great without having to do anything else 😊.

It's a pity it's not under control of a package manager, but I guess one can't have it both ways 😏.

How did you build this custom binary? Can I build it locally as well?

[2020-06-03 20:04] teameh commented on #43
Oh wait, I think I got it https://github.com/fermoya/SwiftUIPager/pull/50/files#diff-012ac64a56ba35be679c11af459ffc10R285. Cool! What did you need to do to make it suitable for iOS 10.0?

[2020-06-03 20:14] fermoya commented on #43
@teameh its that commit yeah. I just created an aggregate target and added a script to the build phases. So you just have to open [SwiftPager.xcodeproj](https://github.com/fermoya/SwiftUIPager/tree/master/SwiftUIPager.xcodeproj), build and it will generate the _xcframework_.

I was trying to have it distributed manually and use `weak_framework` but as it is pre-compiled as a binary, Xcode won’t co

[2020-06-03 20:16] fermoya commented on #45
I’m glad it help ^^

[2020-06-04 09:17] teameh commented on #43
Yeah I would also indeed favour the source code over the binary.

Cool. Yes that works with no further issue! 👍

[2020-06-04 09:18] teameh commented on #43
Maybe I could import the sources with SPM or Cocoapods and add your build script locally in one of the build phases?

[2020-06-04 09:28] fermoya commented on #43
So with SPM I think there's no target anywhere for you to do so. You could do it with Cocoapods but it won't work unless you have a target in the _Podfile_ declared with `platform :ios, 13.0`.

All this is because you want to see the Source Code and debug it right?

[2020-06-04 09:32] fermoya commented on #45
I'm closing this as it's Production ready. Feel free to open a new issue if you find bug, that way we create a new thread

[2020-06-04 09:32] #45 closed

[2020-06-04 14:40] teameh commented on #43
And to [contribute](https://github.com/fermoya/SwiftUIPager/pull/54) back 😄 and test the changes that I've made right away in my production app.

Ah yeah, of course.

That works fine, I've cloned the repo, can work on stuff, test it in the example app and try it out in my main app by building the .framework. All good now, thanks for the effort!

[2020-06-05 10:24] teameh opened #55 "Unable to swipe through pager on a button"
When adding a button to a page it's not possible to swipe the pager on the button any more.

Is there a way to make this work?

Here's an example where I've [added a button](https://github.com/teameh/SwiftUIPager/commit/4530061f8e4723b1d8f521246b800fcbec844076) around the text:

[code]

![pager-swipe](https://user-images.githubusercontent.com/1330668/83866026-719e8a00-a727-11ea-85d1-1540248614b5.g

[2020-06-05 10:40] fermoya commented on #55
Unfortunately there isn't. Currently in `SwiftUI` it is possible to set priorities but not make a gesture fail. The `Button` should fail the recognition of the gesture and this way delegate its touch.

* If you try to set `swipeGesture` in `Pager` as `simultaneousGesture`, then both gestures are recognized
* Change it to `highPriorityGesture` and then you can't use any gestures inside the `Pager`.

[2020-06-05 10:40] #55 closed

[2020-06-05 11:01] teameh commented on #43
Crap, I should have tested this on my device. Running on a real device gives me the following:

[code]

This is my structure:

[code]

Both frameworks are set to Embed & Sign:

![image](https://user-images.githubusercontent.com/1330668/83869052-36eb2080-a72c-11ea-8a50-e71097aa2ebf.png)

I needed `MySwiftUIProxy.framework` as an intermediate to get the SwiftUI previews working. They don't work if I

[2020-06-05 11:18] teameh commented on #55
Hmm, that's tough, thanks for linking those issue's, I'll take a look.

[2020-06-05 11:45] fermoya commented on #43
@teameh , yeah I didn't try it in a device either hehe. Can you try changing the _Embed_ options and run? I remember _Emebed & Sign_ isn't the option that Xcode used by default for this _xcframework_, altho it used _Embed & Sign_ for other libraries like Stripe

[2020-06-05 19:22] fermoya commented on #43
@teameh , it works for me when I run it on my Mac. I only find some issue when running on devices/simulators with iOS lesser than 13. For some reason, setting SwiftUIPager as optional doesn’t seem to work, but I’ve come up with a workaround for that. In any cases, I don’t get the error you get.

Are you generating the xcframework yourself?

[2020-06-05 21:34] teameh commented on #43
I’ll try the other option.

I tried both generating it myself and using you precompiled framework, both seem to fail.

[2020-06-08 19:01] rakesh1504 opened #58 "Scrolling Issue"
Hi,
I am using your SwiftUIPager. It is looking great.
In pageview, I am adding Image. It is working fine. But when I add MagnificationGesture() on Image, scrolling get stopped. And I am not able to scroll anymore. Can you please help me to sort this problem?

[2020-06-08 19:04] fermoya commented on #58
Hi @rakesh1504 ,

Have you tried using `simultaneousGesture` for your `MagnificationGesture`? There’s an issue at the moment with SwiftUI, gestures are not well designed and they collide

[2020-06-08 19:07] rakesh1504 commented on #58
Thank you for your immediate response.

Yes, I also tried it with simultaneousGesture, but no luck.

[2020-06-08 19:13] fermoya commented on #58
So the only thing I could suggest is make the pages have some padding some space between each other and use `swipeableArea(.allAvailable)`. Also try to reduce the size of the image inside the container.

_UIKit_ has something that _SwiftUI_ doesn’t offer and is that you can make a gesture fail and not be recognized. Unfortunately, in _SwiftUI_ there isn’t anything similar at the moment, so we’ll h

[2020-06-08 19:17] rakesh1504 commented on #58
Sure, I will try it. And SwiftUI is still too buggy.

Thank you.

[2020-06-09 10:16] snitron opened #59 "Wrong scroll when two Pagers are one under the other"
Hello! I've being using SwiftUIPager for a while, it's pretty good, thank you!
But I found one nasty issue: if one Pager is placed under other, second duplicates swipes after first!
I recorded a small video to demonstrate the problem: [https://youtu.be/lqK7TJHgToY](https://youtu.be/lqK7TJHgToY )

For all Pagers I set  .swipeInteractionArea(.page) .
Could you help me?

[2020-06-09 12:15] snitron commented on #59
Maybe the second screen "loses attention" and returns to the first state? Because in TextField, that placed on second view, text loses after each swipe on first screen.

[2020-06-09 12:36] fermoya commented on #59
Hi @snitron , can you share the code you used for that video please?

[2020-06-09 12:39] fermoya commented on #58
@rakesh1504 I'm gonna close this as I've done with other issues with this same problem. The reason is, there's nothing that can be done at the moment, _SwiftUI_ has its limitations in its first version. I'll keep an eye on WWDC20 and reopen this or other issue related when the upgrade the framework with more features.

Thanks for feedback

[2020-06-09 12:39] #58 closed

[2020-06-09 12:49] snitron commented on #59
@fermoya, of course.

BottomViewPager.swift

[code]

TopViewPager.swift
[code]

MainView.swift

[code]

[2020-06-09 12:59] fermoya commented on #59
@snitron can you share `MainViewModel` too please? if it's okay, just share the whole sample project you have (compress it and attach it please)

[2020-06-09 13:14] snitron commented on #59
@fermoya, yep.
 I created simple project, that reproduces the problem.

[SwiftIUPagerIssue.zip](https://github.com/fermoya/SwiftUIPager/files/4752342/SwiftIUPagerIssue.zip)

[2020-06-09 15:39] teameh commented on #55
That indeed does not work.

Changing that makes it work fine! What would be the downside of doing that? Why are you not using `simultaneousGesture`?

[2020-06-09 16:23] fermoya commented on #55
So the problem is I use `simultaneousGesture` both the `Button` and `DragGesture` action callbacks would get called.

So if you take a look at issue #48, the problem is similar. I shared there a link to a SO question, find it [here](https://stackoverflow.com/questions/58440469/swiftui-navigationlink-and-scrollview-drag-gesture-colliding).

So both behaviors are wrong (the current behavior and the

[2020-06-09 16:31] fermoya commented on #58
@rakesh1504 nonetheless, I’d appreciate it if you could share here a small case example. I want to have it as a record, I’m considering some changes.

[2020-06-09 17:03] fermoya commented on #55
Oh, i just remembered. If `simulatenousGesture` is used, then you can’t nest `Pager` either. We’d need modifiers to set priorities or basically decide which gesture to use. It gets very messy to be honest.

[2020-06-09 18:05] teameh commented on #55
Check. Yeah it does get a bit messy. Not an easy tradeoff.

You could argue though that adding and having to use a modifier to be able to interact with stuff like buttons is less of an evil then not be able to use it at all. Same for the nesting, it's a bit hard to explain but having to need a modifier to be able to nest it sounds not that awful.

Have you heard of a lot of users nesting them?

I

[2020-06-09 19:01] fermoya commented on #58
@rakesh1504 , maybe this workaround works for you:
[code]
This way, the `MagnificationGesture` isn't recognized unless the `LongPressureGesture` is recognized first, that is, after 0.2s

[2020-06-09 19:17] rakesh1504 commented on #58
I found one more issue. When I am zooming the page, all pages are getting zoomed. Please check this gif.
![ezgif com-optimize](https://user-images.githubusercontent.com/42910387/84190046-e5d48700-aab3-11ea-9c72-5cf85a48003b.gif)

[2020-06-09 19:19] fermoya commented on #59
Hi @snitron , thanks for sharing this with me. I think there's something wrong with the way you're using view models here and `@Published`. I've added observers to `topPageIndex` and `currentPage` so I have:
[code]
The way you've shared the project, both values get updated at the same when the top `Pager` page gets updated. I've changed line 25 in `BottomViewPager` from:
[code]
to
[code]
And works

[2020-06-09 19:19] #59 closed

[2020-06-09 19:25] rakesh1504 commented on #58
`struct ColorsExampleView: View {

    @State var pageIndex = 0
    @State var scale:CGFloat = 1.0
    var colors: [Color] = [
        .red, .blue, .black, .gray, .purple, .green, .orange, .pink, .yellow, .white
    ]

    var body: some View {
        NavigationView {
            GeometryReader { proxy in
                VStack(spacing: 10) {
                    Text("Use the controls below to mo

[2020-06-09 19:26] fermoya commented on #55
Some people mentioned nesting `Pager` before. It's just not well designed, there's something missing here because gestures get recognized even when they shouldn't. Like see #58. A `MagnificationGesture` shouldn't collide with `DragGesture` as the first needs both fingers whereas the second just needs one. It's all very strange

[2020-06-09 19:30] fermoya commented on #58
@rakesh1504 , you're adding the gesture to all pages. Have in mind that the content block doesn't return one page but several pages. You'll need to do something like

[code]
Could you please open a new issue next time? I feel you're having trouble using _SwiftUI_ and _Combine_.

[2020-06-09 19:57] rakesh1504 commented on #58
Indeed.

Sure, I will open a new issue next time.
Actually I was thinking it works like as UITableView, UICollectionView in swift. But it is totally different.

[2020-06-10 08:40] teameh commented on #55
Hm, yeah that is strange. Hopefully WWDC will bring some changes to the gesture system then.

For now I'm just adding here that this worked for me instead of using a button:

[code]

[2020-06-10 19:46] rakesh1504 opened #60 "App Crashed"
I am getting crash when I try to view Image in pager.

xcode 11.5
Simulator iPhone 11 Pro
iOS 13.5

Filename: SizeViewModifier.swift
line 23
![Screenshot 2020-06-11 at 12 57 30 AM](https://user-images.githubusercontent.com/42910387/84310341-1a614500-ab7f-11ea-938e-c951aeae4516.png)

My code where I am using it.
`
     import CoreData
     import SwiftUI
     import SwiftUIPager

    struct BoardPh

[2020-06-11 08:53] fermoya commented on #60
Hi @rakesh1504 ,

This seems to be an issue related to `GeometryReader`. If it works fine in Xcode 11.3.1 but not in a more recent versions of Xcode, then there's not much I can do.

I've found this is an issue reported to Apple, see [here](https://forums.developer.apple.com/thread/126504). The error doesn't say much, sorry I can't help you more.

I can just say that depending on how you have your

[2020-06-11 08:53] #60 closed

[2020-06-11 14:10] fermoya commented on #43
I've added a branch _legacy-projects_ that decreases the deployment target. I'll be rebasing that branch with every release to support legacy projects. See [Legacy Support](https://github.com/fermoya/SwiftUIPager/blob/master/Documentation/Legacy.md)

[2020-06-12 09:02] teameh commented on #43
Thanks. That does sound like a lot of work and also error prone though..

[2020-06-24 12:37] fermoya commented on #60
HI @rakesh1504, I'm testing this on the new Xcode 12 beta and this issue has been fixed in SwiftUI 2.0. In my case, I can reproduce the crash when building with Xcode 11.5 but not when building with Xcode 12 beta

[2020-06-24 18:43] rakesh1504 commented on #60
Thank you @fermoya for the info. I will check.

[2020-06-29 08:01] VonZen opened #63 "Crash--numberOfPages: Division by zero in remainder operation"
init Pager with empty datas, and add modifier: `loopPages()` will trigger crash。

location at: Pager+Helper.swift-----line 142:
[code]

[2020-06-30 11:16] fermoya commented on #63
Hi @VonZen ,

Thanks for raising this. I'll release a quick fix in a few days, I'll keep you posted.

Thanks

[2020-07-01 16:11] fermoya commented on #63
Hi @VonZen , see [v1.6.2](https://github.com/fermoya/SwiftUIPager/releases/tag/1.6.2) for the fix. Thanks for your feedback.

[2020-07-01 16:11] #63 closed

[2020-07-03 06:56] cellininicholas opened #67 "Scroll animation to sections"
Hey, amazing paging component, I love it!

I'm still quite a SwiftUI newbie, so I have a question about animation...
[code]
I want to be able to set my page index to the start of a different section of items.
For example, page is set to 0, the user pressed a button to go to the 2nd section of pages, so page will get set to 3 (if there are 3 pages per section).
At the moment, when I set page to 3,

[2020-07-03 11:31] fermoya commented on #67
Hi @cellininicholas, I understand you want to do something like I do in [`ColorsExampleView`](https://github.com/fermoya/SwiftUIPager/blob/master/Example/SwiftUIPagerExample/Examples/ColorsExampleView.swift)? You need to use `withAnimation`:
[code]

[2020-07-03 12:17] fermoya commented on #55
Nothing new related to gestures as far as I can see but the issue where both gestures get called seem to be solved in SwiftUI 2.0. I've created a new modifier [`pagingPriority`](https://github.com/fermoya/SwiftUIPager/blob/a0cab6693e2fe464f3c5871b877f5efe6313fd71/Sources/SwiftUIPager/Pager%2BBuildable.swift#L45) to choose the best way to embed [`swipeGesture`](https://github.com/fermoya/SwiftUIPag

[2020-07-03 12:20] fermoya commented on #58
I've created a new modifier [`pagingPriority`](https://github.com/fermoya/SwiftUIPager/blob/a0cab6693e2fe464f3c5871b877f5efe6313fd71/Sources/SwiftUIPager/Pager%2BBuildable.swift#L45) to choose the best way to embed [`swipeGesture`](https://github.com/fermoya/SwiftUIPager/blob/a0cab6693e2fe464f3c5871b877f5efe6313fd71/Sources/SwiftUIPager/Pager.swift#L211). If you use `pagingPriority(.simultaneous)`

[2020-07-03 12:21] fermoya commented on #48
I've created a new modifier [`pagingPriority`](https://github.com/fermoya/SwiftUIPager/blob/a0cab6693e2fe464f3c5871b877f5efe6313fd71/Sources/SwiftUIPager/Pager%2BBuildable.swift#L45) to choose the best way to embed [`swipeGesture`](https://github.com/fermoya/SwiftUIPager/blob/a0cab6693e2fe464f3c5871b877f5efe6313fd71/Sources/SwiftUIPager/Pager.swift#L211). If you use `pagingPriority(.simultaneous)`

[2020-07-04 08:59] cocos2dbeginner opened #69 "SwiftUIPager gets stuck upon Touch cancellation"
Hi Fernando,

really appreciate your work. Awesome repository. I found an issue which should be easy fixable I think.

### Issue
The page freezes in its position when the touch is cancelled.

Steps to reproduce:
1. Open the example project
2. Open any pager
3. Swipe a page just half way and hold it
4. Use your other finger to drag down the control center or notification center (it can also be some

[2020-07-04 09:43] fermoya commented on #69
Hi @cocos2dbeginner, thanks for raising this. I've found a [similar issue](https://stackoverflow.com/questions/60253490/swiftui-detect-draggesture-cancellation-when-ipad-dock-is-pulled-up) in SO, it seems the state didn't reset because the gesture got interrupted.

I'll be making a change within the next days to use `updating(state)` rather than `onChanged` and `onEnded`, I'll keep you posted.

[2020-07-05 08:51] cellininicholas commented on #67
OOH amazing, thank you!
I'm getting animations now, but some inconsistent behaviour in different situations...
![2020-07-05 18 36 29](https://user-images.githubusercontent.com/683377/86528943-08f62900-bef0-11ea-9c80-c4f889974f33.gif)

Could it be that I'm using a `UIViewRepresentable` view as my Pager Content?

[2020-07-05 10:20] fermoya commented on #67
@cellininicholas, it’s not that you’re using `UIViewRepresentable`. So `Pager` doesn’t load all pages at once but instead it builds them on demand. So my guess is that, considering the size of those pages and the fact that you have 4 elements, if you’re on index 0 and click on index 1 or 2 it should be fine and you’ll see a scroll effect whereas if you clicked on index 3 you’ll see that “inconsist

[2020-07-05 20:54] fermoya commented on #67
@cellininicholas I've released [v1.8.0-beta.1](https://github.com/fermoya/SwiftUIPager/releases/tag/1.8.0-beta.1) with a new modifier. Could you please tell me if adding `contentLoadingPolicy(.eager)` fixes your issue?

[2020-07-06 12:52] cellininicholas commented on #67
That's done it, working well!
Thanks so much!!! :D

[2020-07-06 13:49] fermoya commented on #67
@cellininicholas , glad to hear that. I'm close this and schedule a release. I'm gonna see if I can fit some fix in v1.8.0. You can use the beta version in the meantime.

PS: beautiful animation, I love it

[2020-07-06 13:49] #67 closed

[2020-07-06 15:47] fermoya commented on #69
@cocos2dbeginner , I just released [v1.8.0-beta.2](https://github.com/fermoya/SwiftUIPager/releases/tag/1.8.0-beta.2) with a fix to reset the dragging state if the App resigns active (it's interrupted in this case).

Could you please confirm this solves the issue?

[2020-07-06 16:13] cocos2dbeginner commented on #69
@fermoya thanks for the fast update!
I just tested in with the provided example project and something seems a bit off.
The pager gets reset when I pull down the _notification center_ as it is supposed to be. But when I drag down the _control center_ the pager still gets stuck sometimes and does not reset.
I attached a gif showcasing the problem.

![ezgif com-video-to-gif (2)](https://user-images.g

[2020-07-06 23:35] cellininicholas commented on #67
Thanks! I tweaked the timing curve at the bottom of Pager.swift :)
[code]

[2020-07-07 07:40] fermoya commented on #69
@cocos2dbeginner could you debug `Pager` and tell me if `onDragGestureEnded` and `onReceive` get called when it gets stuck, please?

[2020-07-07 17:03] cocos2dbeginner commented on #69
@fermoya I debugged it and it is being called. But the pager is still stuck.

![Bildschirmfoto 2020-07-07 um 19 01 26](https://user-images.githubusercontent.com/520159/86816669-658a4d00-c084-11ea-9760-513ced84379b.png)
![Bildschirmfoto 2020-07-07 um 19 01 15](https://user-images.githubusercontent.com/520159/86816675-67541080-c084-11ea-8cd5-c6b08caca711.png)
![Bildschirmfoto 2020-07-07 um 19 00 50]

[2020-07-07 18:53] fermoya commented on #69
@cocos2dbeginner I can't reproduce the issue, you're gonna have to help me here if that's okay. Does `onDragGesture` gets called? That is, is `isDragging` true there? It should be because the offset isn't zero.

I'm just wondering why it doesn't get reset. Perhaps it's because of the block `withAnimation`. Could you check if this solves the problem?
[code]
[code]

[2020-07-07 19:24] cocos2dbeginner commented on #69
@fermoya No problem, I got you.
I made two videos (sorry, GIFs were too low res) to demonstrate the bug. I also logged the necessary variables/method calls.
Just tell me anytime when you need something. Willing to contribute :)
[SwiftUIPagerBugVideos_v2.zip](https://github.com/fermoya/SwiftUIPager/files/4886752/SwiftUIPagerBugVideos_v2.zip)

[2020-07-08 09:12] fermoya commented on #69
@cocos2dbeginner thanks, the videos really helped! I noticed the `onChanged` was still getting called even if the App resigned being active. I've swapped notifications and I'm resetting the sate when becoming active again. Hopefully this solves it. See [v1.8.0-beta.3](https://github.com/fermoya/SwiftUIPager/releases/tag/1.8.0-beta.3)

[2020-07-08 09:47] cocos2dbeginner commented on #69
@fermoya It solved it. Appreciate your effort :)

**Confirmation GIF**
![Uploading ezgif.com-video-to-gif (4).gif…]()

[2020-07-08 10:05] #69 closed

[2020-07-16 20:03] ahs441 opened #73 "[FEAT] Multiple Page scroll based on drag spped"
Swipe multiple pages based on speed of drag

[2020-07-16 20:30] fermoya commented on #73
Hi @ahs441 , I’m afraid if you don’t give me more information I won’t be able to help you and will have to close this issue

[2020-07-16 21:53] yyl0 commented on #73
maybe @ahs441 meant being able to scroll more than one page depending on the strength of the swipe?

[2020-07-16 22:28] fermoya commented on #73
Yeah that's what I assumed, but there's barely any information. I need to create a template to open issues...

I've released a very quick beta, `1.9.0-beta.1`, use `.multiplePagination()`. I'll see if I can polish up a bit more in the next days. Can you give me some feedback, please? @yyl0 , @ahs441

**Note**: In order to scroll multiple pages, the content loading policy should be eager. Whenever

[2020-07-16 23:49] yyl0 commented on #73
it's pretty good when you swipe super fast! just tried it right now. each of my pages are video objects though, so swiping slowly (1 page at a time) is super jagged now

[2020-07-17 07:39] fermoya commented on #73
@yyl0 can you record a video on your device/simulator so that I can see it, please?

[2020-07-17 08:51] ahs441 commented on #73
Based on @yyl0 explanation and your response i want a .multiplePagination() feature in the library; thanks for your response;

[2020-07-17 09:09] fermoya commented on #73
@ahs441 I released a beta version yesterday, v1.9.0-beta.1. Can you give me some feedback please?

[2020-07-17 11:31] ahs441 commented on #73
@fermoya Yes exactly but when i use preferredItemSize with size of too low such as 50*50, thats not work; it work only on item with full width size;

[2020-07-17 16:19] fermoya commented on #73
@ahs441 , released [v1.9.0-beta.2](https://github.com/fermoya/SwiftUIPager/releases/tag/1.9.0-beta.2). Share here your thoughts, please

[2020-07-18 11:55] mohammad-rahchamani opened #74 "[BUG] ScrollView in Pager causes partially shown views"
I'm trying to show multiple full-width pages that are scrollable vertically.
everything is working fine, but when you scroll vertically, you'll see some portion of neighboring views.

[code]
I don't have this issue when I use a `UIScorllView` inside a `UIPageViewController`.

here is a demo:

![out1](https://user-images.githubusercontent.com/6257496/87851954-fa0d6e80-c912-11ea-87e4-294a11d6450c.gi

[2020-07-18 12:18] fermoya commented on #74
@mohammad-rahchamani , I'm running your code on both Xcode 11.5 and Xcode 12 Beta 2 and I don't see this issue you mention. See iPhone 8 - 13.5 on the left and iPhone 8 - 14.0 on the right:
![movie](https://user-images.githubusercontent.com/11335612/87852336-f2d96700-c8f8-11ea-873b-07cadb21af9d.gif)

[movie.mov.zip](https://github.com/fermoya/SwiftUIPager/files/4941614/movie.mov.zip)

[2020-07-18 12:34] mohammad-rahchamani commented on #74
Thank you for your fast response.
You have to drag diagonally for this to happen.
I'm trying to capture another demo with my pointer for more clarification.

[2020-07-18 12:50] mohammad-rahchamani commented on #74
here is another demo with a visible gesture.

![demo1](https://user-images.githubusercontent.com/6257496/87852869-faaa0300-c91a-11ea-8c8d-0bd85028eef0.gif)

[2020-07-18 12:56] ahs441 commented on #73
@fermoya awesome; thanks for your great support

[2020-07-18 13:42] fermoya commented on #74
@mohammad-rahchamani , I'm seeing it now and I can reproduce it, thanks. As far as I can see, the `DragGesture.onEnded` callback isn't called, `ScrollView` cancels the gesture. I've found a related issue, you can find it [here](https://stackoverflow.com/questions/60305207/interaction-of-draggesture-and-scrollview-in-swiftui). I can't really follow the same approach as `GestureState` resets before

[2020-07-18 13:44] ahs441 commented on #73
@fermoya There is one more bug; when preferredItemSize is too low and the items count is limited for example there is only 5-6 items; when we scroll fast with .infiniteLoop() mode, item replacement has bad UX; this bug also visible when we drag pages with low speed without pickup our finger and reached end of items, when we pickup our finger items are replaced in the end of list;

[2020-07-18 13:58] fermoya commented on #73
@ahs441 can you attach a video please? If you read the documentation about `loopPages` it says:

I think what you're experiencing is expected, but let me take a look first

[2020-07-18 14:25] ahs441 commented on #73
@fermoya Sure i will take a video; can i send the video for your Email? i don't want to share any info about my app with other users; because it does not currently released

[2020-07-18 14:26] fermoya commented on #73
@ahs441 sure you can! You can also download the example available in this repository and modify the values in one of the tabs so replicate the issue

[2020-07-18 14:37] ahs441 commented on #73
@fermoya video has been Emailed to fmdr.ct@gmail.com; Thanks;

[2020-07-18 16:28] mohammad-rahchamani commented on #74
@fermoya please take a look at my pull request.
I'm not able to reproduce the issue with this new change.

[2020-07-20 12:17] fermoya commented on #73
Hi @ahs441 , I've released version 1.9.0-beta.3. I've added the possibility to repeat elements when calling `loopPages`. So if your array of items is too low, you can call `loopPages(repeating:)` to repeat the input and have this way more elements.

There isn't much to do here. I'll keep giving it a look and if it doesn't seem nice I'll just take the approach of not supporting multiple pagination

[2020-07-20 19:46] yyl0 commented on #73
thanks for the support!! appreciate the fast response @fermoya 👍

[2020-07-21 13:43] orkenstein opened #76 "[BUG] Preview doesn't work as expected"
**Describe the bug**
Canvas preview in Xcode does not render the pager.

**To Reproduce**
[code]
**Expected behavior**
Expected to have rendered view in preview.

**Screenshots / Videos**
<img width="400" alt="Screen Shot 2020-07-21 at 16 42 36" src="https://user-images.githubusercontent.com/1461936/88062234-3ccc8200-cb71-11ea-99e5-aea24986f366.png">

**Environment:**
 - xcode 11.6 (11E708)

[2020-07-22 21:44] fermoya commented on #76
Hi @orkenstein , I’m well aware of this issue. It’s due to the dependence of `Pager` on `SizeModifier`. It makes it not run the Preview but makes the code more readable and maintainable.

I’m not going to prioritize this as I there are other issues that are more urgent. Nonetheless, I’ll be taking a look at this promptly and see if there’s anything I could improve there to make it work.

Thanks fo

[2020-07-23 06:22] carlosrc commented on #74
Same problem here!

[2020-07-23 08:24] fermoya commented on #74
I’m working on it. I checked the PR but the issue kept happening.

I wanted to merge something first to avoid conflicts, I’ll be working on this promptly

[2020-07-23 09:45] skt216 commented on #74
Thank you. I am also facing the same issue

[2020-07-23 10:34] fermoya commented on #74
I just released [v1.9.0-beta.4](https://github.com/fermoya/SwiftUIPager/releases/tag/1.9.0-beta.4) with a fix for this issue. You'll see that I'm ignoring swipes that aren't along the X-Axis ± 25 degrees.

Hope it works.

[2020-07-24 16:59] #74 closed

[2020-07-24 17:07] #76 closed

[2020-07-24 17:10] fermoya commented on #73
1.9.0 is live now

[2020-07-24 17:10] #73 closed

[2020-07-24 17:16] fermoya commented on #76
Fixed in version [1.9.0](https://github.com/fermoya/SwiftUIPager/releases/tag/1.9.0). See preview example [here](https://github.com/fermoya/SwiftUIPager/blob/51c81003d87bea61a171f4f5dd3cbb3f719c9941/Example/SwiftUIPagerExample/Examples/InfiniteExampleView.swift#L86).
<img width="1792" alt="Screenshot 2020-07-24 at 18 13 52" src="https://user-images.githubusercontent.com/11335612/88417231-7e5f6600-

[2020-07-24 17:20] fermoya commented on #73
@yyl0 , @ahs441 don't forget to star the repository if you like it 😊.

[2020-07-24 19:27] yyl0 commented on #73
starred!

[2020-07-25 06:20] Atlands opened #80 "[BUG] The content of Scrollview cannot be clicked"
Pager contains a Scrollview and the Scrollview content is not large enough to cover the entire screen.
Starting from the second page, clicking Scrollview has no effect,
However, dragging Scrollview and clicking again will trigger the event correctly

[code]

![1jdjs3im89082](https://user-images.githubusercontent.com/46361457/88450375-13696a00-ce81-11ea-98a2-97ff555ac7c7.gif)

[2020-07-25 09:00] fermoya commented on #80
Hi @Atlands , the content is not the problem, if you use borders you'll see that the content size doesn't change from one page to the other.

I'll take a look but most probably you'll need to add/change some modifier to your page

[2020-07-25 09:09] fermoya commented on #80
@Atlands I just tested this on Xcode 12 b3 and this has been fixed for SwiftUI 2.0 so it seems that it's an issue of the `ScrollView`.
![issue-80](https://user-images.githubusercontent.com/11335612/88453437-b3fa6280-ce5e-11ea-847b-707ad01075e4.gif)

Don't forget `Pager` comes with `pagingPriority` modifier that could be useful when a `ScrollView` is embedded.

PS: I'd appreciate if you star the re

[2020-07-25 09:10] #80 closed

[2020-07-25 10:08] Atlands commented on #80
Hi @fermoya ,
Can you send me a copy of your successful code?
I used the property (. Pagingpriority) without effect.
 Maybe I missed something

[2020-07-25 10:11] fermoya commented on #80
@Atlands just run the code you shared in Xcode 12 beta 3, that’s your “successful” code

[2020-07-25 10:17] Atlands commented on #80
@fermoya Oh,thanks，I'm using Xcode Version 11.6

[2020-07-25 10:21] fermoya commented on #80
@Atlands I've tried with both and whereas on Xcode 11.6 it doesn’t work and you have to scroll as you described to make the `Text` hittable, this isn’t try on Xcode 12. When this happens, I always assume it’s a SwiftUI issue as this kit is still very new.

I’ve checked the content by drawing borders and as I mentioned, the content is correct so it seems to be an issue with `ScrollView`

[2020-07-25 13:13] joshuadiezmo commented on #67
this work. thanks man.

[2020-07-25 13:46] orkenstein commented on #76
Yes, works just fine, thanks a lot! 🔥

[2020-07-27 06:50] carlosrc commented on #74
Thanks for the fix! Great work

[2020-07-28 12:23] frin opened #82 "[BUG] PagerContent removes all animations for its contents"
**Describe the bug**
When I add an element that has an animation inside the Pager, it will not animate.

**To Reproduce**
Sample code:
[code]

**Expected behavior**
Pager should not cancel all animations for its content.

**Environment:**
 - iOS
 - Device: iPhone 11 Pro, simulator, previews
- SwiftUIPager version 1.9.0

**Additional context**
I noticed that the issue is with ".animation(nil)" afte

[2020-07-28 12:53] frin commented on #82
Update: I have found a solution to the problem, I can add .animation(.default) to the button, then it animates correctly.

Perhaps add a note that you must define animation modifier for contents that you want animated.

[2020-07-28 13:30] fermoya commented on #82
Hi @frin , if I take your code and comment `Pager` and leave just the button, there's still no animation on stretching. There's though some animation when shrinking back to the previous state, but that's totally unexpected to me as there's no animation added:

![simulator](https://user-images.githubusercontent.com/11335612/88670740-59226e80-d0dd-11ea-9926-11dbc9591455.gif)

My understanding is you

[2020-07-28 13:30] #82 closed

[2020-07-29 00:17] yyl0 opened #83 "[BUG] crash when trying to reload views too quickly"
**Describe the bug**
A clear and concise description of what the bug is.

My app crashes during the SizeViewModifier .onReload perform self.size = proxy.size
Logs: "Recorded stack frame" and "enqueued from com.apple.main-thread (Thread 1)"

**To Reproduce**
- Steps to reproduce the behavior
- Sample code

Works fine when I navigate away from a view that has pager and then back SLOWLY, but doing so

[2020-07-29 07:01] fermoya commented on #83
Hi @yyl0 , this issue is duplicated with #60, I gave there an answer. This shouldn’t happen to you in Xcode 12.

In any case, please update to version 1.9.0 (not the beta, the production-ready release) as `SizeViewModifier` disappears in this version.

[2020-07-29 07:01] #83 closed

[2020-07-30 03:48] soulfoodz opened #84 "[BUG] Easier gesture recognition"
**Is your feature request related to a problem? Please describe.**
I need to make a very exaggerated drag to scroll to the next item. I'd like to "flick" to the next page. TikTok would be the ideal scroll-ability/flick-ability example. Single page scrolling.

**Describe the solution you'd like**
- Quicker drag recognition
- Drag distance > 60pts  with velocity equals scroll to next
- Low velocity

[2020-07-30 07:13] fermoya commented on #84
Hi @soulfoodz , so let me get this straight. What you’d need is a quicker animation to the the next page, meaning take less time to scroll (just like TikTok) and also make it easier to detect a scroll. Like I assume is kinda “hard” sometimes to scroll?

[2020-07-30 13:57] tomhut commented on #84
Hey @fermoya Firstly thank you for creating this wonderful library, it is super nice.

This is something I have also run into. For my use case I have found the gesture needs to be very pronounced/exaggerated to increment to the next/previous page. It would be great if the library could use something like the gesture velocity or predictedEndLocation to help with this. I have put together a crude ex

[2020-07-30 15:27] fermoya commented on #84
@soulfoodz thanks a lot for the coffees, I appreciate it. Also both of you for the kind words.

@tomhut thanks for the code, I’ll give it a look in a bit. I do use velocity but a recent change I did might have bugged it. At the moment the user would need to drag half the screen or make a fast swipe (I think this second one might be “broken”). But for sure these values could be changed, I agree wit

[2020-07-30 18:05] codetheweb commented on #84
I'm not sure if this is related or not, but it seems to require much more effort to swipe in 1.9.0 than 1.8.0. I'm downgrading back to 1.8.0 for now.

I can make a new issue for this if you want @fermoya, just wanted someone else to confirm first that my mind isn't playing tricks on me.

[2020-07-30 18:29] fermoya commented on #84
@codetheweb no need for that. As I mentioned above, there was a fix in the last release that makes it more difficult, all right. I’ll work on that.

To be honest, it’s not really totally relate so you can open a new issue if you want. Up to you. I’ll be working on both together

[2020-07-30 18:31] codetheweb commented on #84
Ok, sounds good - thank you.
No rush, 1.8.0 works perfectly for me. 😄

[2020-07-31 15:42] LiliaChmola commented on #80
the same problem(

[2020-07-31 15:45] fermoya commented on #84
@tomhut , @soulfoodz I've labeled this issue as a _bug_ because as @codetheweb mentioned, version 1.9.0 didn't have the dragging velocity updated. I've fixed this in [version 1.9.1](https://github.com/fermoya/SwiftUIPager/releases/tag/1.9.1).

Now, @tomhut and @soulfoodz . Could you please try this new release and let me know your thoughts? It should be easier now to scroll, but I'm not sure if th

[2020-07-31 18:41] soulfoodz commented on #84
Playing with it now. It looks great! Thank you. A modifier would always be great, but as is, it's solid for my needs.

[2020-08-01 09:26] fermoya commented on #84
@soulfoodz glad to hear that. I've added a new modifier `pagingAnimation` to allow customize the animation. I'll merge it into master and will release it in the next version.

[2020-08-01 09:26] #84 closed

[2020-08-01 22:59] JetPlaneJJ opened #87 "Negative Index"
**Describe the bug**
Pager seems to support negative pages? When I insert my content into the vertical scrolling pager, it seems that I am able to scroll up from index 0 to index -1. I am wondering how to get rid of this.

**To Reproduce**

1. Pager appears and starts at index 0 as expected. All expected content is viewable and user can swipe through all of the positive index pages normally.
2. Ho

[2020-08-01 23:09] JetPlaneJJ commented on #87
Apologies, I found a workaround:

`.onPageChanged { newIndex in
                        ... self.currentPage = newIndex < 0 ? 0 : newIndex
                    } `

[2020-08-02 08:38] #87 closed

[2020-08-02 08:46] fermoya commented on #87
Hi @JetPlaneJJ , this is a indeed a bug and has been fixed in version [1.9.2](https://github.com/fermoya/SwiftUIPager/releases/tag/1.9.2). Some notes here for your code:
* If you don't need `.onPageChanged { newIndex in self.currentPage = newIndex }`. You're passing a binding to `Pager` which means that variable is shared by your `ContentView` and `Pager`. It gets updated automatically.
* The scro

[2020-08-05 00:20] soulfoodz opened #89 "[FEAT] Callback on Drag Begin to allow you to hide the keyboard like UIKit ScrollView"
**Is your feature request related to a problem? Please describe.**
I need to resignFirstResponder when drag begins.

**Describe the solution you'd like**
Callback just like -onPageChanged for -onDragBegan

**Describe alternatives you've considered**
This one works

**Additional context**
I can do this and submit a PR if you'd like. I did it in the example project just like you did -onPageChanged,

[2020-08-05 07:09] fermoya commented on #89
@soulfoodz if you have it ready, sure! Submit a PR and I’ll accept it. Whatever you have. I’ll then add tests or document it and make a release

[2020-08-05 23:25] soulfoodz commented on #89
Cool. Done.

[2020-08-06 08:29] #89 closed

[2020-08-06 08:32] fermoya commented on #89
Successfully merged, thanks. I was going to wait for a few days before making the release in case anything else comes up and I can include it. I can release a beta version so that you're updated, would that work for you? Please, let me know your thoughts.

PS: thanks a lot for your contribution

[2020-08-06 15:51] soulfoodz commented on #89
That would be awesome. Thanks!
Eric Webbm: 484.602.4929 ericwebb85@yahoo.com

    On Thursday, August 6, 2020, 03:32:36 AM CDT, Fernando <notifications@github.com> wrote:

Successfully merged, thanks. I was going to wait for a few days before making the release in case anything else comes up and I can include it. I can release a beta version so that you're updated, would that work for you? Please,

[2020-08-07 22:52] fermoya commented on #89
Hi @soulfoodz , sorry for the late response, I've been working on CI GitHub Actions to automatize the release generation.

Version 1.10.1 is live now (minor for your modifier and patch for the CI jobs)

[2020-08-09 00:43] wuyb commented on #28
Hi @fermoya ,

I think I may know what @parisman means, as I have the same question.

The example in your project is using plain values (Int) as the data. I am using a struct, received from server side. For each struct instance, a custom view is displayed. In that custom view, there is a NavigationLink linking to a detail view.

When I tap on the NavigationLink, it goes to the detail view but pops

[2020-08-09 06:57] fermoya commented on #28
Hi @wuyb , can you share some code, please? What version are you using? The `GeometryReader` should affect `Pager` once, `onAppear`

[2020-08-13 19:02] luisliz opened #103 "[FEAT] Boolean to disable page scrolling"
**Is your feature request related to a problem? Please describe.**
I'm using navigationview while working with the pager and when I'm using a navigation I can scroll past it and I don't want it to.

**Describe the solution you'd like**
A boolean binding variable that I can switch back and forth.

**Additional context**
I modified a version of this and it can be done but I would like it on the offi

[2020-08-13 20:03] fermoya commented on #103
Hi @luisliz , have you tried using `allowsDragging` modifier?

Also, when combining gestures (or views that are touchable, like `NavigationLink`) you might be interested in `pagingPriority(.simultaneous)`.

[2020-08-13 22:24] luisliz commented on #103
Oh, that's exactly what I wanted! I was thinking of something with the disabled boolean.

Thank you very much for the help and for the plugin. I love it!

[2020-08-13 22:26] fermoya commented on #103
Thanks for the kind words.

I’m closing this issue then. Feel free to open a new issue if you find any issue

[2020-08-13 22:26] #103 closed

[2020-08-21 20:29] JetPlaneJJ opened #117 "[FEAT] Scroll to Top functionality, similar to ScrollView"
**Is your feature request related to a problem? Please describe.**
This feature is not related to a problem I currently have, but it would be nice to have a "scroll to top" animation similar to the way ScrollView scrolls to the top upon tapping the status bar/notch.

**Describe the solution you'd like**
Ability to scroll back or go back to the top page after tapping the notch/status bar/top if cur

[2020-08-27 18:16] fermoya commented on #117
I’m going to close this as I don’t think it could be implemented in the way it’s described. Feel free to reopen if any new ideas

[2020-08-27 18:16] #117 closed

[2020-08-30 08:23] VanHoutte commented on #67
Hi

When scrolling through my pages, i use the following animation:
`                        .pagingAnimation { (_) -> PagingAnimation in
                            return .custom(animation: .interactiveSpring())
                    }
`

When I use the following animation to switch between pages:
`
                withAnimation(.interactiveSpring()) {
                    self.currentIndex += 1

[2020-08-30 08:47] fermoya opened #118 "[BUG] Custom pagingAnimation not working as expected?"
Hi

When scrolling through my pages, i use the following animation:
`                        .pagingAnimation { (_) -> PagingAnimation in
                            return .custom(animation: .interactiveSpring())
                    }
`

When I use the following animation to switch between pages:
`
                withAnimation(.interactiveSpring()) {
                    self.currentIndex += 1

[2020-08-30 08:53] fermoya commented on #118
@vanhoutte can you share a complete view to see the issue, please? I think the effect is going to be slightly different because of you have a page manually with the a `Button`, then the items are at their original position whereas if dragging the translation is shorter. A `spring` will most likely bounce more when dragging.

If you send me some more code I can confirm but you might need to alter t

[2020-08-30 08:55] fermoya commented on #67
@VanHoutte refer to #118 , I think this should be a new thread

[2020-08-30 10:28] VanHoutte commented on #118
`
struct OnBoardingViewPager: View {
    @ObservedObject var viewModel: OnBoardingViewModel
    @State var page: Int = 0
    var items = Array(0..<5)

    var body: some View {
        GeometryReader { geometry in
            VStack {
                VStack {
                    Pager(page: self.$viewModel.currentIndex,
                          data: Array(0..<self.viewModel.onBoardingPages.count

[2020-08-30 12:52] fermoya commented on #118
Hi @VanHoutte , that’s something you need to figure out yourself. In a beginning, I thought of doing that calculation myself but it would be me assuming the right behavior and that’s not right.

It’s not just the `dampingFraction`, there are other parameters that affect a spring animation. It’s easier for an `easeIn` for example, it’s just a matter of modifying the `duration`. In case of a spring,

[2020-08-30 12:56] VanHoutte commented on #118
Thanks for the quick replies! I updated the parameters for the interactiveSpring to match the swipe, it's almost identical. Thanks again for the help!

[2020-08-30 12:58] fermoya commented on #118
You’re welcome. I’ll close this issue then

[2020-08-30 12:58] #118 closed

[2020-09-02 17:30] anhtuanqn1002 opened #119 "[BUG] The pager view behind the navigation bar"
**Describe the bug**
The pager view behind the navigation bar

**To Reproduce**
[code]
**Expected behavior**
The navigation bar does not overlap the pager view
**Screenshots / Videos**
![swiftuipager](https://user-images.githubusercontent.com/14865632/92016386-79001e80-ed7c-11ea-8a02-efea097a595f.gif)

**Environment:**
 - iOS
 - Device: iPhone 8Plus
- SwiftUIPager version: `1.10.4`

[2020-09-03 10:24] fermoya commented on #119
Hi @anhtuanqn1002 ,

`List` by default will try to expand to the edges whereas its container (`Pager`) doesn't. This is something that happens in SwiftUI and I'm not very sure why.

Here's a solution:
[code]
See the differences:
https://media.giphy.com/media/SWi85VRVkJw7FYd5Nk/source.gif
[code]

[2020-09-03 17:36] anhtuanqn1002 commented on #119
Hi @fermoya ,
Thank you for your reply.
When I switch to the present mode, everything looks fine.
This issue only occurs when I push a new view from a `NavigationView`.
I don't understand why and I think something went wrong in SwiftUI.

I also have 2 questions:
 1. Did the content view of the pager always align to the center?
 2. Will the data be reloaded every time I switch views? Example: Curre

[2020-09-03 18:00] fermoya commented on #119
Hi @anhtuanqn1002 ,

Can you modify the given example I shared in my previous comment so that I see the issue?

Answering your questions:
# Depends on what you mean by alignment you can use `alignment` or `itemAspectRatio(_, alignment:)`
# Elements aren’t really recreated but the content view builder is called on animation (swiping) to recalculate the position of the items. `Pager` is basically a

[2020-09-04 08:02] fermoya commented on #119
@anhtuanqn1002 same difference if it's pushed, presented or just the entry screen. Please use `edgesIgnoreSafeArea(.all) // or just .top`.

Please, check out:
https://media.giphy.com/media/SYiqEF8g3uni957VIG/source.gif
[code]
Feel free to re-open, but please share any reduced complete (that is, it compiles) sample code that I can put in Xcode to execute and see the problem, same as I've done in my

[2020-09-04 08:02] #119 closed

[2020-09-16 20:15] yyl0 opened #125 "[FEAT] pull to refresh"
**Is your feature request related to a problem? Please describe.**
Trying to make a home feed with your pager. Is it possible to add a refresh control when you try to drag down from page 1?

**Describe the solution you'd like**
UIRefreshControl above the pager when pulling down from page 1

**Describe alternatives you've considered**
Tried many hacky ways to do some "onPageChanged" refresh

**Addi

[2020-09-17 15:59] fermoya commented on #125
Hi @yyl0 , thanks for the kind words.

I’m trying to think of what you need, it doesn’t seem something generic at first glance but rather something specific to your use-case.

So say you have a horizontal `Pager`. You’d like a `UIRefreshControl` on pull down. Shouldn’t this be part of your page? I meant this:
[code]
I can’t modify the page itself and add elements to it. `Pager` merely serves as an

[2020-09-17 22:09] yyl0 commented on #125
Thanks for the fast response! I will try that.

[2020-09-22 20:09] joekndy opened #127 "[REQUEST] multiplePagination should page based on scroll velocity"
**Describe the bug**
Set page size instead of just the item size

**To Reproduce**
create a a Pager with small items that aren't full width. swiping assumes the items are the size of the screen

**Expected behavior**
Instead of just being able to set the item size, I should be able to set the page size, so swiping to the next item feels faster than if it were the entire page. It takes a lot of for

[2020-09-22 20:27] fermoya commented on #127
Hi @joekndy , for small items like that I always recommend using `swipeableArea(.allAvailable)` and `multiplePagination`. I assume this isn't what you mean, is it?

Single pagination (default) assumes swiping from side to side will increment the page index by +- 1. With multiple pagination this isn't true anymore, the offset will just move the items and wherever it ends, that will be the index.

[2020-09-22 20:32] joekndy commented on #127
@fermoya Thanks for the quick reply! I've set both of those and it works better, but feels somewhat unnatural. When I set the frame of the Pager to the size of the page, it feels great, but clips the other pages that are out of bounds. This works for now but would definitely be great to set the page size!

[2020-09-22 20:41] fermoya commented on #127
@joekndy you can also use `itemSpacing` to separate the items between each other so that they don't clip. There's also a modifier called `pagingAnimation` to change the animation based on the total offset and velocity, if that helps too.

I'm having trouble understanding what you mean by "page size". So in the video you shared, `Pager` size there is the full screen, the item size would be the circ

[2020-09-22 20:47] joekndy commented on #127
@fermoya Yeah it'd be the necessary distance to swipe to next element. It assumes it takes the full width of the screen to swipe to next page without `multiplePagination` set, but `multiplePagination` doesn't quite take into account the items size and how far it should scroll depending on velocity. Maybe `pagingAnimation` is what I could use to make it scroll faster? Just not sure how to configure

[2020-09-22 20:51] joekndy commented on #127
The instagram camera effects carousel is a great example!
[RPReplay_Final1600807750.MP4.zip](https://github.com/fermoya/SwiftUIPager/files/5263956/RPReplay_Final1600807750.MP4.zip)

[2020-09-22 21:05] joekndy commented on #127
@fermoya from playing with `pagingAnimation`, it seems that it just effects the animation once the paging has ended vs affecting how far the pages can scroll based on scroll velocity

[2020-09-22 21:46] vanities opened #128 "[BUG] explicit animations inside the pager don't seem to work"
**Describe the bug**
Adding an animation inside the pager seems to not work without adding an `.animation(.default)`

**To Reproduce**
[code]

**Expected behavior**
The above code runs and animates for 5 seconds

**Environment:**
 - OSX: 11 Beta MacOS / iOS 14
 - Device: iPhone11
- SwiftUIPager version: 1.11.0

Thanks for your time!

[2020-09-22 21:49] vanities commented on #128
For reference, I did see https://github.com/fermoya/SwiftUIPager/issues/82

[2020-09-23 21:22] Alexander-techIOS opened #129 "[FEAT] Modifier to customize page sensitivity"
**Describe the bug**
Scroll is inconsistent. At times requires larger swipe to trigger scroll to next page and other times even with a long swipe the scroll is not triggered.

**To Reproduce**
Normal implementation, did try with infinite loop or no loop.

**Expected behavior**
Increased sensitivity to swipe (lower swipe distance) or more consistency.

**Screenshots / Videos**
Don't quite need? Thi

[2020-09-24 07:30] yyl0 commented on #125
worked fine ! thanks @fermoya

[2020-09-24 07:30] #125 closed

[2020-09-24 07:36] fermoya commented on #129
Hi @Alexander-techIOS , there was a bug introduced in 1.9.0, can you please try the latest version?

[2020-09-24 07:44] fermoya commented on #128
Hi @vanities , I have an `animation(nil)` in the implementation so that a property (opacity) doesn’t get animated. This seems to be causing the page not to get animated unless specified implicitly.
[code]
This seems to be affecting the pagerContent. Do you know any other way to disable the animation of a modifier?

I’ll take a look and see what I can do but for now you’ll have to use implicit anim

[2020-09-24 13:16] Alexander-techIOS commented on #129
@fermoya I have updated to v1.11.0 and I understand now what was being said in the previous issue. Triggering the animation (scroll) is based upon scroll velocity? If one swipes quickly it scrolls, but if the velocity is reduced then it starts the scroll but then the threshold for distance moved isn't triggered, which results in the object moving back into position. Is there a way to reduce the di

[2020-09-24 13:22] fermoya commented on #129
@Alexander-techIOS  why you ask? Are your items too small? Currently, you need to drag from sizer to size to move from one page to the other. This means it's normalized. If your items are too small and want to page more than one item, you might want to use `multiplePagination`.

I can't have single pagination not normalised because otherwise you'd swipe more than one page from side to side but the

[2020-09-24 13:30] Alexander-techIOS commented on #129
@fermoya Ic, no my items aren't small it's card based and the device is in landscape and takes up about 55% of the width of the screen below is a snippet.

         `Pager(page: self.$vm.dashboardPage, data: self.vm.dashboardOptions, id: \.self) { item in

               Image(item.imageName)
                        .resizable()
                        .aspectRatio(contentMode: .fill)

[2020-09-24 13:32] Alexander-techIOS commented on #129
@fermoya MultiplePagination does not work well with loopPages. It tends to scroll to the end of the List and then the last item isn't initialized for the loop yet.

[2020-09-24 14:04] Alexander-techIOS commented on #129
@fermoya there is a minimum distance in Pager Content. If that was reduced to like 8 what would happen? I can't seem to modify it myself, probably because I'm using SPM.. But I see you have tests to make sure the minimum distance is 15. Which leads me to assume the number is significant for something else as well.

[2020-09-24 14:26] fermoya commented on #129
That’s the minimum distance to start recognizing the dragging. If reduced, then it makes `ScrollView` not work when `Pager` is embedded in it

[2020-09-24 17:52] vanities commented on #128
I'm not actually sure.. I do know that you could add another `.animation()` after the modifier you want disabled (after `.modifier3`, and that may fix it. Although, I'm not sure what should go in there.. maybe `.animation(.default)`?

Thanks for the quick response!

[2020-09-24 17:59] vanities commented on #128
Hmm actually, I just tried that and it didn't seem to work.

[2020-09-24 18:08] fermoya commented on #128
This code works:
[code]

[2020-09-24 22:02] vanities commented on #128
That makes sense, I'm working with a lot of cascading **explicit** animations though

[2020-09-25 07:34] skywalkerdude opened #130 "[REQUEST] Enable.disable scrolling programatically"
**Is your feature request related to a problem? Please describe.**
I would like to enable/disable scrolling programatically

**Describe the solution you'd like**
Add a `.shouldScroll(bool)` modifier to `Pager` Where we can disable/enable scrolling

[2020-09-25 07:36] fermoya commented on #130
hi @skywalkerdude , have you tried `allowsDragging`?

[2020-09-25 18:02] #130 closed

[2020-09-25 18:11] fermoya commented on #128
@vanities if you don't have an _infinite pager_ (`loopPages`) I can give have ready a fix soon. Otherwise, it's gonna take me more time. I have that there because when I loop pages to give a carrousel effect the animation makes the items pop into screen with a fade in animation (the items get resorted). That's the only reason that's there. I've seen some answers there to deal with that but I'd lik

[2020-09-25 18:21] fermoya commented on #129
@Alexander-techIOS currently I have it so that if you need to scroll 50% of the `Pager` width. This makes sense to me, it's how I've always implemented carrousels:
# > 50%, then increment (or drecrease) the index.
# if the swipe was fast enough, then don't increment.
# For items smaller than the pager's width, normalize the scroll so that one touch can't move further than +- 1 page.

I don't think

[2020-09-25 18:39] fermoya commented on #127
@joekndy apologies, it's been very busy with iOS 14 release. I have you this in mind, nonetheless, don't worry.

I see what you mean. What you want to change is the animation so that it runs faster. `pagingAnimation` lets you customize the animation based on dragging offset and speed. By default, `multiplePagination` uses `steep(duration: 0.2)`. This gives you [this Bezier Curve](https://cubic-bez

[2020-09-27 21:31] vanities commented on #128
Oh dope, thanks for explaining the reasoning for it. I'm not using an infinite pager so I ended up taking the off in a branch

[code]

and using it. I have seen adding the ID thing works on the first link. Seems to be redrawing on appear like you said when they get resorted.

 Thanks!

[2020-10-07 07:08] dinotrnka commented on #129
I also feel that the current implementation requires too much effort in order to swipe pages, especially if item size is smaller than screen width. For example, I have set the pager in my app so you can see the previous and next choice on the left and right side, while the selected item is in the center, and it's kind of hard to swipe it to the next option.

Could you at least make the percentage

[2020-10-07 09:40] dinotrnka opened #131 "[FEAT] Where is itemTappable option mentioned in the Medium article?"
**Is your feature request related to a problem? Please describe.**

Hi! In the [Medium article](https://medium.com/better-programming/swipe-the-page-with-swiftuipager-981e379e3bbd) I saw a mention of a feature: `itemTappable - makes the pages clickable`. But I can't find it in the library itself. Can someone please clarify?

Also, I'd like to know whether this feature enables the user to tap on no

[2020-10-07 10:11] fermoya commented on #131
Hi @dinotrnka , I published that article long ago, with the first version of the framework. I decided to remove it as it’s something that can very easily be achieved by using `onTapGesture` and setting the page index and it’s very specific to certain users. As the library aims to be of general purpose, this went away. It was creating trouble to some users too as gesture management is not quite wel

[2020-10-07 10:16] fermoya commented on #129
What do you mean by it’s “currently 50%”? Can you look at `PagerContent` and find that setting?

The scroll is normalized so that scrolling from side to side of the pager will increment (or decrement) `pageIndex` by one. The drag velocity helps with that too. Otherwise, you could drag past the next page and it would always bounce back, I find that weird.

I haven’t noticed such issue in the exampl

[2020-10-07 11:47] dinotrnka commented on #131
Hi @fermoya, thanks for your response. If you could share the code for that specific case then I'd be very grateful. Thanks!

[2020-10-07 15:17] fermoya commented on #131
So you need to do:
[code]

[2020-10-07 15:19] #131 closed

[2020-10-07 15:40] fermoya commented on #128
the ID workaround doesn't work as expected (it directly removes the animation when dragging). For now, I will have a workaround to remove that line only if `Pager` doesn't have `loopPages` enabled. There's no other way I can think of for now to avoid the elements being reordered for this kind of `Pager` so users will need to use implicit animations for now.

[2020-10-07 15:44] #128 closed

[2020-10-07 15:48] fermoya commented on #129
@Alexander-techIOS I just remembered there's `delaysTouches` that you can set to `false`. This way the minimumDistance will be `0`. This will affect the way `Pager` behaves inside (or wrapped into) a `ScrollView`.

The dragging is normalized as it's a single pagination `Pager`. I don't see why you'd want it not to be normalized, the effect looks weird as you can drag the page past the next/previou

[2020-10-08 09:44] dinotrnka commented on #129
I looked at the example project, and the behavior that I'm referring to is on the Infinite Pager screen. In the top example called "Appending on the fly", the yellow page items take up most of the screen width, and they're easy to swipe back and forth to the next/previous page.

But in the bottom example called "Looping Pager", the items are narrower and don't take up the entire screen width. This

[2020-10-08 10:19] dinotrnka commented on #131
Thanks, works like a charm!

[2020-10-10 12:50] TheNoim opened #135 "[FEAT] Support RandomAccessCollection in the initializers rather than fixed Array"
**Is your feature request related to a problem? Please describe.**
There is currently no good way library out that supports infinitive page swiping with an unknown size. This could be very useful. Example use case: Infinitiv calendar swipe view. The issue is, a calendar does not have a clear end in both directions. First, when I found this library I thought I finally have a good way to implement a

[2020-10-12 07:58] fermoya commented on #135
@TheNoim I'm a bit confused by "A way to use this without passing an array". How is `Pager` supposed to know what populates the pages, otherwise? What you're seeing as an argument of the view builder is not an index but a data item. This is needed to populate the page.

All in all, the way you describe `Pager` behavior is incorrect. In the example provided, which I think you've got from the docume

[2020-10-12 09:30] dinotrnka commented on #129
Yes, that's exactly what I meant 🙂 Sorry for not being clear enough.
It would be a great enhancement for the current functionality! Thank you! 🙏

[2020-10-12 09:44] fermoya commented on #129
Oh no, it's totally my fault, I've had a lot of trouble understanding this one. I'll let you know here when this is done. Thanks!

[2020-10-12 15:18] TheNoim commented on #135
This is not really against my post. My suggestion was more like this:
Allow to pass an object conforming to the RandomAccessCollection protocol. This would allow to define your own end and start of Indicies and even updating them dynamically. Currently, you can only pass fixed Data with the index start of zero and a known index end. It would be much cooler if the pager gets no data and the content

[2020-10-12 15:41] fermoya commented on #135
I'm not following, could you please show me an example? Even just pseudo-code. I wanna see how you dynamically add data and change the index.

As far as I know, I think you could have a `@State` variable for you `data` and change it dynamically. This is what I do in the example code, [InfiniteExampleView.swift](https://github.com/fermoya/SwiftUIPager/blob/6ccc32c01e421406d71097d99e2aa4609762dd5b/E

[2020-10-12 15:45] fermoya commented on #129
@dinotrnka @Alexander-techIOS , new modifier `sensitivity(_ value:)` available in `1.12.0-beta.1`, will you give it a look please? Use `.high` for your case or `custom(CGFloat)` with the desired relative increment needed to change the page index

[2020-10-12 15:52] fermoya commented on #128
version `1.12.0-beta.1` fixes this issue for infinite pagers as well

[2020-10-12 15:53] vanities commented on #128
thank you!

[2020-10-13 09:51] dinotrnka commented on #129
I just tried it and it's perfect! It's seamless to scroll the pager now, and this is such a great UX. :D

Thanks again so much for this improvement :) This industry definitely needs more people like you!

[2020-10-13 10:25] fermoya commented on #129
You're too kind, thanks a lot! Expect a production version soon

[2020-10-13 10:25] #129 closed

[2020-10-13 15:34] fermoya commented on #43
A GitHub Action has been set to rebase _legacy-projects_ branch and keep it up to date with _develop_

[2020-10-15 11:07] lincolnAB opened #137 "[BUG] Vertical Pager inside ScrollView doesn't receive touches."
Hello!
At first let me thank you for this package (it's really awesome!). However is there a way to make vertical Pager work inside ScrollView? I'm trying to achieve similar effect to iOS 14 Stack Widgets Control. I've tried to change gesture priority, but sadly it didn't help. Maybe I'm doing something wrong. Thank you in advance!

[2020-10-15 11:49] fermoya commented on #137
Hi @lincolnAB , thanks for your feedback, I appreciate it.

The issue here is you have two verticals scrolls: `Pager` and `ScrollView` so which one should receive the touches? One of them needs to block each other. By default, `Pager` delaysTouches` so that it can be embedded in a `ScrollView` (see [`EmbeddedExampleView.swift`](https://github.com/fermoya/SwiftUIPager/blob/master/Example/SwiftUIPag

[2020-10-15 11:49] #137 closed

[2020-10-15 12:05] lincolnAB commented on #137
Thank you a lot for your time and explanation. Now I see the case

[2020-10-27 10:38] lsaunders80 opened #140 "Populate from CoreData FetchRequest"
Hi, couldn't see anywhere else to ask this.. just wondering if it's possible to use a fetch request result as the data for the pager?

I currently have:
[code]
I tried setting the Pager.data parameter to orders, but that didn't work.

[2020-10-27 10:42] fermoya commented on #140
Hi, `Pager` expects an `Array` of `Equatable` elements and a `keyPath` to an identifier. `FetchedResults` is a `RandomAccessCollection`

[2020-10-28 04:53] metsfan opened #141 "[BUG] Issue with dynamic content"
**Describe the bug**
I am trying to load dynamic content from the network when the pager reaches the end. The data is added to the array properly, but the pager behaves very strangely.

**To Reproduce**
- Add some data to your pager via a @Published or @State array
- When you reach the end of your pager, add more content to the array

**Expected behavior**
You will see that the pager no longer fun

[2020-10-28 08:09] #140 closed

[2020-10-28 08:18] fermoya commented on #141
Hi @metsfan , a sample project  is enough. The description of the bug is very vague and it could be dependant on your implementation. I'm gonna need a sample project here, even dummy code that reproduces the issue. Otherwise, I'm in the dark here and will eventually close the issue if no further information.

I can point you to an example I created for an article in Medium where I use a @Published

[2020-10-28 11:01] fermoya commented on #140
@lsaunders80 , just use `Array(orders)` and make sure that either `Order` conforms to `Identifiable` or you pass a `keyPath` to an identifier:
[code]

[2020-10-28 11:48] fermoya commented on #135
I'm gonna start supporting `RandomAccessCollection` with `Int` indexes on version 1.13.0. I do the conversion to an `Array` internally. See version [1.13.0-beta.1](https://github.com/fermoya/SwiftUIPager/releases/tag/1.13.0-beta.1)

As far as I can see in your [gist](https://gist.github.com/TheNoim/6ca6f35eb830a2d53d6adf04d68e05ba), this would be enough for you. Then, if you implement `onPageChang

[2020-10-28 11:48] #135 closed

[2020-10-28 11:50] fermoya commented on #140
As part of #135 , version [1.13.0-beta.1](https://github.com/fermoya/SwiftUIPager/releases/tag/1.13.0-beta.1) supports an initializer that takes any `RandomAccessCollection` so you can pass your `orders` collection directly now:

[code]

[2020-11-04 15:40] fermoya commented on #141
Closing this issue as no more info has been provided. If any questions, feel free to reopen.

To see an implementation using `@Published`, please visit:
* https://github.com/fermoya/SwiftUIPagerTutorial
* https://medium.com/better-programming/paged-scroll-in-swiftui-a-step-ahead-c6a5f74f9924

[2020-11-04 15:40] #141 closed

[2020-11-05 12:00] chris-hatton opened #153 "[FEAT]"
Hi Fernando,
Thank for SwiftUIPager.  I have a use case for nested pagers that might be supported in a way I cannot see; or could be better supported in future:

To explain; here's an in-development screenshot of my [open-source](https://git.chrishatton.org/chris/hydrant-art) iOS App 'Hydrant Art', to accompany the [existing](https://play.google.com/store/apps/details?id=org.chrishatton.hydrantart

[2020-11-05 12:58] fermoya commented on #153
Hi @chris-hatton , thanks for your feedback and your suggestion. I know what you mean and understand the feature. I've honestly had a lot of trouble with `Gesture` in `SwiftUI`. You see, in `UIKit` you can create your own gestures and update the state:
* recognized
* start
* changed
* failed
* cancelled
* ended

You'd normally "recognize" it and based on certain conditions you'd make it fail. The

[2020-11-10 08:01] jenbitcoin opened #154 "[BUG] Crash on iOS 13.x"
**Describe the bug**
I used this library because we're supporting iOS 13, and I wanted a scrollview paging. but I got a crash when I run this on iOS 13.

**To Reproduce**
- I just have this code in my View
[code]

CRASH Details:
[code]

**Expected behavior**
it will not crash on iOS 13 --- it works fine on iOS 14 though :)
When I removed the whole Pager code, and replaced with horizontal scrollvie

[2020-11-10 08:59] fermoya commented on #154
Hi @jenbitcoin , when I use your code in `iOS 14` I get a warning that says `[SwiftUI] Invalid frame dimension (negative or non-finite)`.

<img width="1010" alt="Screenshot 2020-11-10 at 08 49 32" src="https://user-images.githubusercontent.com/11335612/98651810-9fb97300-2332-11eb-9320-3a881829ba3c.png">

What are you trying to achieve exactly? If you look at the error, it mentions `CALayer`, `Swif

[2020-11-10 09:07] fermoya commented on #154
Actually, this code fails too:
[code]
The issue here is the use of `.infinity`, which is a `NaN`

[2020-11-10 09:07] #154 closed

[2020-11-10 09:08] fermoya commented on #154
Closing as it's not related to this framework

[2020-11-10 11:55] jenbitcoin commented on #154
thanks @fermoya i'm very new to swiftUI, just learned it last week. thanks for pointing me to the right issue. have a great day

[2020-11-18 02:46] KimTaeHyeong17 opened #155 "[FEAT] Restricting next page draggable Area"
First, @fermoya  thank you for making such a fabulous opensource like this.

I wanted to implement my request feature and contribute to this opensource but I don't have experience editing opensource code so right now I wrote this on Feature request.
If you show me briefly how to edit some code or references that I can study, I will try.

**Is your feature request related to a problem? Please descr

[2020-11-18 10:53] fermoya commented on #155
Hi @KimTaeHyeong17 , thanks for your comment. No worries, I can study your request and implement it although if it's something you'd like to try, I'm happy enough to shed some light here. You're very kind.

Just to clarify, you'd like to drag the page and rather than completely scroll to the next page, you'd like to limit the scroll to a boundary and when reached then scroll? So, scroll up to 20%

[2020-11-20 09:01] KimTaeHyeong17 commented on #155
Hi, @fermoya sorry for late reply.
I'm really sorry if you started to work already.
Right now, my UI requirement has changed to restrict the moving area of another page to decrease dragging speed (while moving to the next page is not restricted)
I will handle this problem with your existing perfect, beautiful SwiftUIPager API.
I will open the issue if I have another problems.
Thank you for your co

[2020-11-20 09:15] #155 closed

[2020-11-23 05:43] iansilber opened #156 "Animation between pages a stiff"
When swiping between pages, the curve that's being used feels a tad stiff (almost linear). A good comparison is the the Photos app that has a smooth easing in/out. Would be nice to follow the default iOS patterns or be able to configure this.

[2020-11-23 12:37] fermoya commented on #156
Hi @iansilber , the library uses `.easeOut` for transitions but this can be changed by using `pagingAnimation` . `.standard` equals `.easeOut` and `.steep` is a custom Bézier curve used for `.multiplePagination()`. You can try using `.pagingAnination(.custom(.easeInOut))`

[2020-11-23 12:40] fermoya commented on #156
I just checked and I don’t have it documented, apologies for that. Will add it soon

[2020-11-23 17:13] iansilber commented on #156
Thanks for the info! I tried `.pagingAnimation(.custom(.easeInOut))` but get the error `Cannot infer contextual base in reference to member 'easeInOut'`

[2020-11-23 17:17] fermoya commented on #156
Hi, @iansilber , apologies. It would be:
[code]

[2020-11-23 17:33] iansilber commented on #156
that worked, thanks!

[2020-11-23 17:35] fermoya commented on #156
I'm going to close this issue then @iansilber . Sorry again I gave you a wrong snippet. Sometimes I try to come back to you ASAP and give a prompt answer from my phone

[2020-11-23 17:35] #156 closed

[2020-11-24 04:19] iansilber opened #157 "Not tracking 1:1"
**Describe the bug**
When swiping the page doesn't track 1:1 (seems to lag a bit)

**To Reproduce**
Swipe across pages

**Expected behavior**
Typical paged views on iOS track 1:1 with your finger to make it feel smooth / responsive.

**Environment:**
 - iOS
 - iPhone 12

**Additional context**
Didn't see anything in the documentation to configure or adjust this.

[2020-11-24 09:34] fermoya commented on #157
Hi @iansilber , can you please add a video or more information. I have no idea what “track 1:1” meana

[2020-11-24 19:49] iansilber commented on #157
Yep — take a look at this video comparing the built in paging view and SwiftUIPager https://www.dropbox.com/s/ssvdnfh5wa5mk10/swiftuipager%20report.mp4?dl=0.

Notice how when using SwiftUIPager, it lags behind the mouse, as if it's being animated into position vs. being moved directly by the touch.

[2020-11-24 21:47] fermoya commented on #157
Hi @iansilber , I see what you mean. `SwiftUIPager` uses a `DragGesture`. I’m not sure if you’ve used it before but the translation is not 100% exact. Plus, the gesture is “delayed” (minimumDistance is 15 pixels) so that it can work with `ScrollView`. Finally, only drags across the X axis are considered to modify the offset. This means that if you start moving horizontally but switch to a diagonal

[2020-11-24 22:45] iansilber commented on #157
Got it, thanks for the explanation.

[2020-11-24 23:39] fermoya commented on #157
@iansilber don’t misunderstand, the request is very valid. Problem is at the moment there are no resources to do it :/

[2020-11-25 04:37] vanities commented on #157
random, but if you change the animation duration to `0.01` instead of the default linear animation, it makes the scrolling much smoother

ref: https://github.com/fermoya/SwiftUIPager/blob/2fc85da766ddeae242ea50bab0f941ab6a8be237/Sources/SwiftUIPager/PagerContent.swift#L221

[2020-11-25 18:03] fermoya commented on #157
Hi @vanities , thanks a lot for that, it does look very smooth indeed. Is this @iansilber  something that looks appealing to you? It looks a simple change that makes a hell of an improvement!

PS: I forgot to mention that the scroll is also normalized. So in your video, @iansilber , your page is narrower than you `Pager` container which means the offset is not exactly the same as your drag. With @

[2020-11-25 19:02] iansilber commented on #157
I can take a look — what would I try exactly to give that a shot?

[2020-11-25 19:29] fermoya commented on #157
So what @vanities suggested I believe is done and ready to try on version `1.14.0-beta.1`. The animation is not so laggy as before. Just have in mind what I mentioned above. I've tried moving the mouse around randomly and eventually it detects a vertical shift and doesn't count it for the offset

[2020-11-26 12:46] fermoya commented on #156
I've added this to the `README` :)

[2020-11-26 12:58] fermoya commented on #155
For future readers, I liked this feature request and I decided to implement it. See `singlePagination(ratio:sensitivity:)

[2020-11-26 15:37] fermoya commented on #157
Hi, I've decided to remove that change as it's creating a weird effect when transitioning to the next page.

Will close this issue as there's nothing I'll be doing at the moment.

[2020-11-26 15:37] #157 closed

[2020-11-26 15:52] fermoya commented on #153
@chris-hatton , I've come up with a workaround for this. It's not elegant and I wish I could propagate the touch and make the child `Pager` fail, but for now it works and can be implemented.

Take a look at version `1.14.0-beta.4`. I've implemented new modifiers:
- `bounces`
- `onDraggingChanged`
- `onDraggingEnded`

You can take a look at [`NestedExampleView`](https://github.com/fermoya/SwiftUIPa

[2020-12-16 02:51] metsfan commented on #141
Thanks for responding. I finally came back to this issue to resolve it and I found that the issue was stemmed from the fact that i was using `\.self` as my key for the pager. Even though my object conformed to `Hashable` and `Equatable` for some reason it did not work right. I changed to using the index of the item which is an integer, and everything works 100% properly now. Thanks for the questio

[2020-12-22 20:35] metsfan opened #164 "[BUG] Infinite loop if page is a @Published variable from an ObservableObject"
**Describe the bug**
This seems to be a new bug after updating from 1.11.0 to 1.14.0. If the `$page` binding is set to a `@Published` property of an ObservableObject, there will be an infinite loop. Pager.swift on line 198, the page is being set onReceive, which triggers a change to the Published property, which triggers a view refresh, and this cycle will continue infinitely. This could be fixed

[2020-12-22 22:21] #164 closed

[2020-12-22 22:22] fermoya commented on #164
Hi @metsfan , thanks for reporting. I’ve prepared a [pull-request](https://github.com/fermoya/SwiftUIPager/pull/166) for it, is this the change you suggest?

I’ve released a beta version and once I run some tests tomorrow I’ll have a hotfix release ready

[2020-12-22 23:21] metsfan commented on #164
Yes, thanks you!

[2020-12-23 19:08] fermoya commented on #164
Version [1.14.1](https://github.com/fermoya/SwiftUIPager/releases/tag/1.14.1) is live now

[2020-12-25 19:20] quidnu opened #168 "[BUG] Can't scroll TabView with TabViewPageStyle which is nested in vertical SwiftUIPager"
If you nest a TabView with TabViewPageStyle inside a vertical SwiftUIPager you cannot vertically page. I'm guessing this is a problem with gesture priority (but a horizontal SwiftUIPager in a vertical SwiftUI pager does work?). Is there a workaround?

[2020-12-25 19:24] quidnu opened #169 "[FEAT] Add paging dots (PageIndexView) to replicate TabView with TabPageViewStyle"
It would be nice to have an option to show page index dots/pips like TabView with TabPageViewStyle.

[2020-12-25 19:25] fermoya commented on #168
Hi @quidnu , this isn’t a bug, this is expected. `SwiftUI` doesn’t offer a way to pass down the touch to other subviews. There’s a similar issue here #153 where I give a possible workaround.

Other options are to play with the modifiers that are available in `Pager`:
* `delayTouches(false)`
* `gesturePriority(.simultaneous)`

[2020-12-25 19:27] fermoya commented on #168
I’m gonna close this as there’s already a similar / related issue and there’s anything to be down at the moment

[2020-12-25 19:27] #168 closed

[2020-12-25 19:42] fermoya commented on #169
Hi @quidnu , this specific to each scenario and would complicate this library. You can easily use `Pager` and use `disableDragging` to show a `Pager` which whose page content is a `Circle`. Then, just link the pages:
[code]

[2020-12-25 19:44] #169 closed

[2020-12-25 19:46] #127 closed

[2020-12-25 19:50] fermoya commented on #168
For reference, in this example [EmbeddedExampleView](https://github.com/fermoya/SwiftUIPager/blob/develop/Example/SwiftUIPagerExample/Examples/EmbeddedExampleView.swift) I manage to embed a horizontal `Pager` into a `ScrollView`. Your scenario with `TabView` should be similar to this

[2020-12-27 01:57] metsfan opened #170 "[BUG] Strange behavior with nested Pagers"
**Describe the bug**
I am experiencing a strange behavior trying to use nested pagers, with an outer horizontal pager and an inner vertical pager on each page. The outer pager works totally fine. The inner vertical pagers appears to change pages, but the animation looks very strange, and it does not behave 100% correctly in all cases. On this one unfortunately I have no idea what the issue is. Hop

[2020-12-27 02:21] quidnu commented on #168
Okay, I'm giving up on trying to get this working because it will be too difficult to deal with other problems (like the fact that the tabview moves vertically when dragging) even if the paging works. But here's a min test case for completeness in case anyone else tries this.

`struct BarView: View {

    @State var page: Int = 2
    @State var data = Array(0..<5)

    func pageView(_ index: Int)

[2020-12-27 11:59] fermoya commented on #170
Hi @metsfan , I'm gonna tell you the whole story and maybe you can help with this one. I changed `page` from being a simple `Binding` to an `ObservedObject`. Reason is I found that for some reason the views were being updated in two steps:
* First the `State` variables
* Then the `Binding`
This didn't happen with an `ObservedObject`. You can find more info [here](https://developer.apple.com/forums

[2020-12-27 12:39] fermoya commented on #168
not sure what you're trying to do @quidnu , but I'd definitely try to have `TabView` as the outer-most `View` and not the inner-most. There's a workaround to your problem suggested here #170

[2020-12-27 15:01] fermoya commented on #170
@metsfan I've released [1.14.2-beta.1](https://github.com/fermoya/SwiftUIPager/releases/tag/1.14.2-beta.1) that should fix this problem on `iOS 14`. Unfortunately, the problem still exists on `iOS 13`.

[2020-12-27 15:03] fermoya commented on #168
please try to embed a `Pager` inside a `Pager`, both with `pagingPriority(.simultaneous)` in version [1.14.2-beta.1]([1.14.2-beta.1](https://github.com/fermoya/SwiftUIPager/releases/tag/1.14.2-beta.1))
[code]

[2020-12-27 20:00] quidnu commented on #168
I want the vertical view to be the "main" or "major" scroll and the horizontal scroll (the TabView) to be the detail or "minor" scroll. I didn't notice any problem when using a nested pager instead of a TabView but I will make sure to update the package version to the latest beta as described in #170. The issue I was having was only with the TabView.

[2020-12-27 20:41] fermoya commented on #168
@quidnu what I noticed from your example is that `TabView` was somehow "canceling" the gesture. If you implement both `onDragBegan` and `onDragEnded` in your example code you'll notice how `onDragEnded` was never getting called.

Try using the beta version I released this afternoon and swap `TabView` with another `Pager`, similar to what I shared. It should work

[2020-12-27 21:52] metsfan commented on #170
@fermoya Your update in 1.14.2-beta1 appears to have solved the issue entirely. I think changing to `StateObject` seems to have solved the problem. Thankfully I'm targeting iOS 14 so it's not an issue for me. Given that iOS 14 adoption is already over 70% it's probably fine.

[2020-12-27 22:05] metsfan commented on #170
@fermoya the only bug I'm seeing now is that the `onPageChanged` callback is not being called.

[2020-12-27 22:46] fermoya commented on #170
@metsfan it might not be so direct as I'd expected. I'll need to dive deeper into this. For now, I would suggest using version `1.13.0`. That one is using a `Binding` and should work fine

[2020-12-27 22:50] metsfan commented on #170
Ok thanks

[2020-12-27 23:15] quidnu commented on #168
Thanks, a nested pager does work (I hadn't noticed the animation problem initially but the new beta release does fix that).

Strange that the onDragBegan doesn't seem to be called after the first drag on a page.

Anyway I will use a nested pager. Thanks again.

[2020-12-29 04:51] quidnu commented on #170
The change seems to break onPageChanged handler for me, it stops getting called after the first or second call.

[2021-01-02 16:27] kellysoft-andreas opened #172 "[BUG] Gestures of the previous page invoked when tapping left of the PagerView"
Hi @fermoya,

thanks for the Pager! really cool. I think I found a little glitch.

When you have a view left of the Pager (in a HStack) and you have swiped to page two then the gestures of the view on the left don't work any more. instead you get the gestures of the no longer visible page 1.

Here is a simple view that reproduces it: the tap gesture only works while you are on the first page.

[co

[2021-01-05 06:36] X901 commented on #169
Could you please update the demo ?
I tried your code with your example I faced issues

[2021-01-06 15:50] fermoya commented on #172
Hi @kellysoft-andreas  thanks for your feedback. I've just released [1.14.2-beta.2](https://github.com/fermoya/SwiftUIPager/releases/tag/1.14.2-beta.2). It should have this issue covered.

[2021-01-06 15:52] fermoya commented on #170
I've made a new beta [1.14.2-beta.2](https://github.com/fermoya/SwiftUIPager/releases/tag/1.14.2-beta.2). Please, use the new initializer I've made available and let me know if you find any other issue:
[code]

[2021-01-06 20:33] peterz commented on #169
You don't need another Pager to achieve that.

    HStack(spacing: 5) {
        ForEach(pages.indices) { idx in
            Circle()
                .fill(idx == page ? Color.lightBlue : Color.gray)
                .frame(width: 6, height: 6)
        }
    }.frame(height: 20)

[2021-01-07 04:10] quidnu opened #174 "Why does data have to conform to RandomAccessCollection?"
Why does data have to conform to RandomAccessCollection?

My data is dynamically generated and an infinite stream which makes a dictionary make more sense to use as the type for "data" but it doesn't conform to RandomAccessCollection.

Shouldn't the only method that the data need to implement be indexing? i.e. data[index] -> pageData. If there were no page number you would need to be able to find

[2021-01-07 08:27] fermoya commented on #174
`Pager` is designed to display an `Array` of elements. This is because the elements must follow some kind of order. The reason I use `RandomAccessCollection` is for convenience but this collection is then converted into an `Array`.

[2021-01-08 04:31] quidnu commented on #174
Using values would end up just being equivalent to using an array, but I want the data to be in a cache and would also potentially like to use negative page numbers which doesn't require any more work with a dictionary.

My understanding is that the only thing that data needs to be able to do is myData[currentPageNumber] -> dataForCurrentPage, so while there is an order the order is imposed by the

[2021-01-08 09:01] fermoya commented on #174
In the implementation I use `firstIndex(where:)` and `firstIndex(of:)` to determine the order of elements and what item is focused depending on the `page` index. Internally, `Pager` uses a `ForEach` which uses a `RandomAccessCollection`:
[code]

It just won't work with `Dictionary`.

You can use negative indexes with the current implementation, that's no problem. If you mean you'd want to insert n

[2021-01-09 00:12] quidnu commented on #174
I think I see your point of view now: it's more natural to view the data as an ordered array if you also have non-focused elements (partially) visible, as all of your examples do, because you are viewing a "slice" of the data array.

But if you have only one element visible at a time and you want frequently add/remove elements as you would if using a cache it's more natural to view the data as a d

[2021-01-11 08:42] fermoya commented on #174
I do use `data[firstPage...lastPage]`. Not directly but if you see how `dataDisplayed` is calculated eventually a slice of `data` is returned.

You mention you’d like to `Pager` to manage indexes and not the elements itself. That’s very interesting, but I think that it’s possible with the current implementation, am I wrong here?

You can do:
[code]
But you could also do:
[code]
So I guess, in your

[2021-01-14 06:39] quidnu commented on #174
Thanks, that might work. I'll give it a try.

[2021-01-14 17:28] javiermorgaz opened #176 "[BUG] Gestures of the previous page invoked when tapping left of the PagerView"
Hi @fermoya,

I am using your great Pager in my app and I am dealing with something strange:

Adding a couple of pages both with a list with tappable items, first time Pager is loaded, in my case is displaying the first page, you can interact with the list items and the onTapGesture is working fine.
The problem is when you scroll to the second page and try to touch one of the items in the second l

[2021-01-14 17:31] javiermorgaz opened #177 "[BUG] Tapping on secondary page list item not working"
Hi @fermoya,

I am using your great Pager in my app and I am dealing with something strange:

Adding a couple of pages to the Pager,  both with a list with tappable items, the first time Pager is loaded, in my case is displaying the first page, you can interact with the list items and the onTapGesture is working fine.
The problem is when you scroll to the second page and try to touch one of the it

[2021-01-14 17:32] #176 closed

[2021-01-14 17:33] javiermorgaz commented on #176
Duplicated

[2021-01-15 20:10] #174 closed

[2021-01-15 20:10] fermoya commented on #170
Should be solves now, please use release 2.0.0

[2021-01-15 20:10] #170 closed

[2021-01-15 20:11] fermoya commented on #172
should be solved now, please use version 2.0.0

[2021-01-15 20:11] #172 closed

[2021-01-15 20:27] fermoya commented on #177
Hi @javiermorgaz , I know form my experience `List` bring trouble when wrapped into other views. If I change your `FooView` and use `VStack` instead (give the spacing you need) it works fine.

I'd say there might be an issue with `List`, I know there are some hacks that people use.

I'm not sure I can help much here... I'll keep this opened anyway

[2021-01-17 12:18] kellysoft-andreas commented on #172
yeap - I upgraded to 2.0.0 and it works fine. Thanks!

[2021-01-19 10:57] fermoyadrop commented on #177
@javiermorgaz I found a workaround.

First of all, make sure you add `edgesIgnoringSafeArea(.all)` to `Pager`. This is the default `List` behaviour so you'll need to use it on `Pager` as you're using it as a `List` container.

Second of all, notice how if you go to the second page and scroll down the `List` making it bounce, the `onTapGesture` works fine. This is because `List` gets redrawn.

Forc

[2021-01-19 11:00] fermoya commented on #177
@javiermorgaz I found a workaround.

First of all, make sure you add `edgesIgnoringSafeArea(.all)` to `Pager`. This is the default `List` behavior so you'll need to use it on `Pager` as you're using it as a `List` container.

Second of all, notice how if you go to the second page and scroll down the `List` making it bounce, the `onTapGesture` works fine. This is because `List` gets redrawn.

Force

[2021-01-19 11:00] #177 closed

[2021-01-19 21:54] skegget opened #180 "[QUESTION] Pass Int as page index"
Hi,

first of all, fantastic paging component! Second, I'm a SwiftUI beginner, so please bare with me :)

I have this app project where the weeks of the current year plays a central role. Each view represents one week and the users can swipe between weeks or select a single week which then will be presented in the page viewer. I have been following the SwiftUIPager instructions and a simplified ex

[2021-01-19 22:10] fermoya commented on #180
@skegget why do you want it to be a `Binding`? What's the problem with defining it as `StateObject`? `Pager` used to take a `Binding` back then but that changed recently as it gave more control over the view update. Long story short, `Pager` was using several `State` variables along with this `Binding` so wrapping all this into an `ObservableObject` was a better solution.

[2021-01-20 07:03] umwelt opened #181 "[BUG] Cannot find type 'Page' in scope"
Xcode 12.3
Installed via CocoaPods

Cannot find type 'Page' in scope

Im using the example provided, I added the error points Im seeing
Any idea where Im wrong?

[code]

[2021-01-20 09:29] fermoya commented on #181
@umwelt what `SwiftUIPager` version are you using? This is available in version `2.0.0`. I just created a quick Test project and it's all good.

If you open `Test.xcworkspace` you'll see it compiles just fine.
[Test.zip](https://github.com/fermoya/SwiftUIPager/files/5841373/Test.zip)

[2021-01-20 19:42] umwelt commented on #181
thanks for the example.
pod 'SwiftUIPager' installed version -> 1.14.1

But indeed version 2.0  solves that issue.

always on following the same example on the docs, Im seeing this error -> Value of type Int has no member identifier on the id

[code]

[2021-01-20 19:51] #181 closed

[2021-01-20 19:55] fermoya commented on #181
You need to use `\.self` or do;
[code]
And use `init(page:data:content:)` instead.

I'd suggest to take a look at the [Example project](https://github.com/fermoya/SwiftUIPager/tree/develop/Example) in the repo.

[2021-01-23 22:20] skegget commented on #180
Hi!
I have been thinking about what you said and I'm about to do some changes to my code. But I have some additional questions. And again, I'm a beginner so I might have gotten this all wrong.

As I mentioned above, my app I centered around weeks. Today I have a separate @Published variable for the 'selectedWeek' but I'm thinking that I might as well use the page number to keep it clean (one page

[2021-01-23 22:44] fermoya commented on #180
Hi @skegget . You can use `onPageChanged` or `onPageWillChange` modifiers on `Pager` to get notified on page index changes and execute any method you need in your `ObservableObject`.

If you need to refresh a view when the page changes, you can use `page.index` directly and `SwiftUI` will take care of everything.

You can see all these scenarios in the sample project

[2021-01-29 09:08] DominikButz opened #182 "onPageChanged only called when user swipes to a new page"
**Describe the bug**
I use two buttons (up and down) to switch to another page. Additionally the user can swipe. But onPageChanged is only called when swiping.

**To Reproduce**
I use this code for the buttons:
            VStack(spacing: 15) {
                Button {
                    if self.page.index > 0 {

                        self.page.update(.previous)
                    }

[2021-01-29 11:16] #180 closed

[2021-01-29 11:19] fermoya commented on #182
Hi @DominikButz , this is expected and it's not a BUG. `Pager` can only detect when a page will and did change if the user is swiping. It can detect when a user manually did change a page but this would be misleading with `onPageWillChange` callback.

Perhaps I can specify this better in the docs, but as I said this is intentional

[2021-01-30 09:02] skegget commented on #180
Sorry, forgot to reply on this! Many thanks for your help!

[2021-01-30 12:16] skegget opened #183 "[QUESTION] Slow down animation"
Is it possible to slow down the animation that kicks in once a page is dragged and then released? I came across .pagingAnimation and velocity in the instructions but I'm not sure this is the way to go.

If it is, would you mind giving me a real example of how to implement it? I can't seem to figure out how to use it from the instructions.

Many thanks!

[2021-01-30 12:55] fermoya commented on #183
If you see [the documentation](https://github.com/fermoya/SwiftUIPager/blob/develop/Documentation/Usage.md#page-transitions), you can implement `.pagingAnimation(_:)` as you mention:
[code]
By default, `Pager` uses `PagingAnimation.standard` which is `Animation.easeOut(duration: 0.35)`. If you need to slow it down, you can return `.standard(animationDuration)`. If `.easeOut` is not the right anima

[2021-02-02 23:28] skegget commented on #183
Great, thanks!

[2021-02-03 03:24] konrain opened #184 "Cannot assign to property: 'page' is a get-only property [FEAT]"
**Describe the bug**

I'm trying to always start the Pager in the middle, but page being a @StateObject, it can't be changed? in the init or onAppear

[2021-02-03 08:25] #183 closed

[2021-02-03 08:28] #182 closed

[2021-02-03 08:38] fermoya commented on #184
@konrain you can initialize a `Page` by using `firstPage()` or `withIndex(_:)` convenience methods.

Please, take a look at the Sample project and the Swift docs on `Page`. To manually move to another page, call `update(_:)` on your `Page` instance like it's done on [ColorsExampleView](Example/SwiftUIPagerExample/Examples/ColorsExampleView.swift) or directly change its property `index` as done in

[2021-02-03 08:40] #184 closed

[2021-02-03 16:45] konrain commented on #184
thanks @fermonya, but maybe there is a misunderstanding? I'm aware of all those, I wanted to start the Pager in the center item.

for example:

[code]

[2021-02-03 17:55] fermoya commented on #184
@konrain declare your `page` by using `withIndex`:
[code]

[2021-02-03 21:16] konrain commented on #184
@fermoya thanks but thats not possible because self is not available yet...

[2021-02-03 21:40] fermoya commented on #184
@konrain you need to initialize the `StateObject` in an `init`:
[code]
Your problem here is how to initialize `StateObject` in an initializer. You need to prefix the variable name with an underscore "_"

[2021-02-05 01:58] DominikButz commented on #182
Thanks - yes, you are right. It makes sense because if the index is changed in code, I don't need to detect the change any more.

[2021-02-05 07:44] DandyLyons opened #185 "Sensitivity is extremely low."
Wonderful package. Thank you so much for creating this.

The default sensitivity is extremely low, even when I use `.sensitivity(.high)`. Thankfully, you added a .custom value, so I used `.sensitivity(.custom(0.001))` and it feels a lot better. (I'm using the sensitivity of Apple's paged views in Podcast, and App Store, and the Home Screen as a reference for how sensitive it should feel.)

Without

[2021-02-05 07:53] fermoya commented on #185
@DandyLyons what's the library  version? Also what's the size of your items? The sensitivity feels very different depending on the item size.

Can you please share some code here?

[2021-02-05 19:28] DandyLyons commented on #185
I'm on the latest. 2.0.0

That makes sense, that it would feel different depending on the size.

I've adjusted values including the item size and the sensitivity feels better now. I only raised an issue because I also felt low sensitivity on some of the pagers in the SwiftUIPagerExample app ("right to left, interactive", "Appending on the fly" and "Looping Pager").

[2021-02-05 19:28] #185 closed

[2021-02-05 19:29] DandyLyons commented on #185
Thank you for your help.

[2021-02-06 10:16] fermoya commented on #185
@DandyLyons the translation is normalized which means you need to swipe from side to side in the container to shift a page completely. This works perfectly for pages that take up most of the container, but not so well when they start shrinking and more pages are visible at the same time. That's why I introduced `sensitivity(_:)`. When items are very small compared to the container, it's better to

[2021-02-07 12:11] skegget opened #186 "[QUESTION] Content Loading Policy(?)"
Hi,

I'm using the pager to be able to swipe between weeks in the current year which means that I'm generating 52-53 views. I have set the recycling ratio to 2 which seems to be good enough for me. If I understand it correctly, my start view plus the previous and next view is loaded upon start, and then views are recycled once I start swiping.

However, I have a problem that I really can't seem to

[2021-02-07 12:20] fermoya commented on #186
Hi @skegget,to do what you suggest you'd need to use a `contentLoadingPolicy(.eager)` which means all items are loaded in memory. A recycling ratio of 2 means that just enough elements to fill 2 times the container (`Pager` total space) will be loaded. If you need to jump from one page to another and skip a bunch of items in between, all items should be loaded to achieve the desired effect of scro

[2021-02-07 12:29] skegget commented on #186
Thanks for the quick response!

Hm OK. I have actually tested `contentLoadingPolicy(.eager)`. The weird part is that the jerky feeling then appears immediately when the app is started. Another performance suspect is the combination of List{} and ForEach{}. Have you ever tried  anything similar within Pager?

[2021-02-07 12:37] fermoya commented on #186
@skegget tried having a `List` as a page? In my experience, it brings trouble as for `List` nature.

Can you please share some code and a video?

I'm not sure I follow. Please, always try to come up with a simple sample code (a page that's just a `Text`, for instance) and a simple scenario (just a `StateObject` page). If the issue is reproduced, then simply bring the sample code here and I'll give

[2021-02-07 12:39] skegget commented on #186
Great, will do that and get back to you!

Thanks!

[2021-02-07 16:40] skegget commented on #186
OK, so I've simplified my case a lot but I'm still able to reproduce the problem. Actually, for some reason this example is even slower than my original case.

[code]

[2021-02-07 18:41] fermoya commented on #186
@skegget I see it now, thanks for sharing.

As I mentioned, I know from experience that `List` doesn't work as well as it should with `Pager`. I'm not sure why but my guess is the way it's built internally (it's not a `SwiftUI` native view but a wrapper of `UITableView`). Actually if you comment the `List` part and you leave the rest (`ForEach` and `Text`) you'll notice it works fine and the scrol

[2021-02-14 15:16] #186 closed

[2021-02-22 02:20] zzanehip opened #189 "[FEAT] Possible way to scroll to specific page on button click."
Been playing around and I'm not really sure if this is technically possible yet, or is a feature request. Essentially, I'd like to be able to click a button and set the current page index — scrolling the Pager to that specific page. Wondering if this is in any way possible. Thanks for all the great work.

[2021-02-22 02:39] zzanehip commented on #189
Removing because I realize the .update() function doesn't correct the issue when selecting with more than 1 finger causes freezing (likely bug).

[2021-02-22 02:39] #189 closed

[2021-02-22 17:21] umwelt opened #190 "Apply opacity to non focused Items"
**Describe the solution you'd like**
Similar to
.interactive() or rotation3D()

Can you hint me at what level will you create this type of behaviour?

[2021-02-22 17:36] fermoya commented on #190
@umwelt , I'd do that by taking into account the page index. So you have your `Pager`:
[code]
You can compare the callback `index`  to your `Page.index` and apply some opacity:
[code]
and then
[code]
Does that make sense?

[2021-02-22 17:55] umwelt commented on #190
@fermoya
Thanks, yes this really helps.
If I can add something is that, compared to the other methods, specially "rotation3D()" this will miss the progressiveness of the effect -> drag coordination.
But for me this works, thanks for the expedite help!

[2021-02-22 17:55] #190 closed

[2021-02-22 21:44] fermoya commented on #157
This is solved on version 2.0.2

[2021-02-23 00:04] vanities commented on #157
Thank you!

[2021-02-23 00:22] iansilber commented on #157
Thanks!

[2021-02-27 18:15] chrysb opened #193 "[BUG] Transition often jumps to next card instead of smoothly animating"
**Describe the bug**
When swiping through pages quickly, I notice that sometimes it animates smoothly and other times it seems to not animate and just jump to the next card

Video:

https://user-images.githubusercontent.com/120388/109396137-f8fae180-78e4-11eb-8f80-fe286d3ad2d9.mp4

**Environment:**
 - iOS
 - iPhone 12 XS Max
- 2.0.2

**Additional context**
I tried it on the simulator and on the de

[2021-02-27 19:23] chrysb commented on #193
I installed some older versions and it seems like the issue was introduced in `2.0.1`

[2021-02-27 20:31] fermoya commented on #193
Hi @chrysb thanks a lot for your the feedback. I'll give it a look ASAP. In the meantime please use `2.0.0`.

The video shows a manual transition. Is this the scenario where you detected the bug. I'm basically asking if your sample code used a manual transition (hit a button to go to next page) or it was some scenario where the user dragged the elements

[2021-02-27 20:58] fermoya commented on #193
@chrysb what are you doing exactly? I'm on `develop` and the example seems fine. This is `iPhone 12 Pro Max`.
https://user-images.githubusercontent.com/11335612/109400073-7868cf00-793e-11eb-85e3-c5441059882b.mov

[2021-03-01 03:55] vanities commented on #193
I've been experiencing this on `14.4` and `14.5` (beta) when swiping too fast sometimes on `tags/2.0.2` and `iPhone 12 Pro Max`. It also seems that `onPageChanged` isn't being called either in these instances.

[2021-03-02 21:22] raffaeleforgione opened #194 "[BUG] Crash when running on a iOS 13.1 Simulator"
**Describe the bug**
When Running on iOS 13.1 Simulator, the app crashes becaus of the following:
dyld: Symbol not found: _$s7SwiftUI18AnimatableModifierPAAE13_makeViewList8modifier6inputs4bodyAA01_fG7OutputsVAA11_GraphValueVyxG_AA01_fG6InputsVAiA01_L0V_ANtctFZ
  Referenced from: /Users/***/Library/Developer/CoreSimulator/Devices/3BA98118-7FC5-46DA-A006-EEF202D25F2A/data/Containers/Bundle/Applicat

[2021-03-03 10:47] fermoya commented on #194
@raffaeleforgione have you tried running in a real device with iOS 13.1 installed? The error says that `AnimatableModifier` couldn't be found. If you see its declaration:
[code]
That `protocol` should be available in iOS 13+. I've actually run the Sample project in iOS 13.1 and iOS 13.2. iOS 13.1 crashes, iOS 13.2 runs with no issue. See "Dancing With Versions" [here](https://swiftui-lab.com/swift

[2021-03-03 12:09] transat opened #195 "Does this work with any View?"
The current examples construct the pages dynamically so it's unclear if SwiftUIPager can work with any existing View. If it can, would it be possible to add an example for that? Cheers.

[2021-03-03 12:30] fermoya commented on #195
Hi @transat what do you mean exactly? In `SwiftUI` the body of the views is recalculated very often and you're not meant to declare stored views if that's what you mean. Can you please elaborate?

[2021-03-03 14:05] transat commented on #195
Hi. I meant is there any potential for this kind of syntax, using any View?

[code]

[2021-03-03 15:17] fermoya commented on #195
@transat nope. Currently you'd need to do the following:
[code]

[2021-03-03 15:20] transat commented on #195
That's still great! Will try it out. Cheers!

[2021-03-03 15:25] transat commented on #195
Ah. But in that case, what would I put where you have the ellipsis?

[2021-03-03 15:26] fermoya commented on #195
Do you mean the brackets `(...)`?

[2021-03-03 15:57] transat commented on #195
Yes.

[2021-03-03 17:47] fermoya commented on #195
See a list of examples here:
https://github.com/fermoya/SwiftUIPager/tree/develop/Example/SwiftUIPagerExample/Examples

And the Basic initialization:
https://github.com/fermoya/SwiftUIPager/blob/develop/Documentation/Usage.md#initialization

[code]

[2021-03-03 17:47] #195 closed

[2021-03-03 20:30] fermoya commented on #193
I've created a new branch where I'm dealing with some minor issues. I pushed some changes in case you guys wanna gimme some feedback @vanities @chrysb . The branch is called `fix/ios13-issues`.

I'll see if I can give it a bit more testing before making a beta release

[2021-03-04 03:40] SpectatorNan opened #196 "[FEAT] Pager automatic scroll"
**Is your feature request related to a problem? Please describe.**

i want the pager content automatic scroll,
for example, fspagerview :
pagerView.automaticSlidingInterval = 3.0
auto scroll every 3 seconds;

[2021-03-04 12:59] fermoya commented on #196
I think this is easy enough to implement by using a `Timer`. It makes more sense to implement it on the client's side rather inside the library. Reason is `Pager` might be redrawn if there's a state change in the container's view. You'd need to something like this:
[code]

[2021-03-04 19:12] fermoya commented on #196
Confirmed, it's not reliable to have a `Timer` set inside `Pager` as the container view might redraw it and then the count is lost. Especially if you combine several `Pager` in the same screen, one will trigger an update of the other.

See [Hacking with Swift](https://www.hackingwithswift.com/quick-start/swiftui/how-to-use-a-timer-with-swiftui) for reference of how to use timers with Combine. Alte

[2021-03-04 19:12] #196 closed

[2021-03-04 21:00] fermoya commented on #190
@umwelt I know you were happy with my answer but I liked the idea of implementing this if you're interested.

I haven't still decided on a name for the modifier, for now I've chosen `faded(_:)` but I think I'll deprecate the current `interactive(_:)` in favor of `interactive(scale:)` and use `interactive(opacity:)` instead.

Let me know if you have any suggestions. See it in action [here](https://

[2021-03-05 02:34] SpectatorNan commented on #196
yeah, I have tried to customize a simple pager and found that the redraw caused the timer to be created repeatedly. Causes the scrolling effect to fail.

I am trying and learning Swiftui and Combine to write an APP, and there is a lot of thinking that has not been converted from UIKit.
Thank you for your answer

[2021-03-05 07:04] SpectatorNan commented on #196
I found that after the view toggles through the tabview, the scrolling is abnormal

By breakpoint discovery, the onReceive was received, but no scrolling animation was performed after the Page Update was executed

current version: 2.0.0

I will continue to try this

[2021-03-05 07:14] SpectatorNan commented on #196
my view code:
[code]

[2021-03-05 09:38] umwelt commented on #190
@fermoya
nice, I also agree that extending the interactive modifier to allow opacity feels more natural, based on the current implementation of the Pager.
The links above are broken

[2021-03-05 10:39] fermoya commented on #190
@umwelt update the links

[2021-03-05 16:44] umwelt commented on #190
@fermoya
that looks perfect to me.
are you going to release it on cocoa pods anytime soon?

[2021-03-05 17:09] fermoya commented on #190
I have a PR ready to go, I’d be releasing a beta first. I might deal with
some other issue before making an official release.

Over the weekend I’ll release `2.1.0-beta.1`

On Fri, 5 Mar 2021 at 16:44 umwelt <notifications@github.com> wrote:

[2021-03-05 19:10] fermoya commented on #190
[`2.1.0-beta.1`](https://github.com/fermoya/SwiftUIPager/releases/tag/2.1.0-beta.1). You might see more betas coming up over the weekend but it’s not something relevant, just fixes to a new CI/CD workflow. Once a beta is set-up I can’t stop generating new ones till I make an official release 😅

[2021-03-06 09:06] umwelt commented on #190
@fermoya
thanks for the hard work!
the new interactive with opacity works perfect!
Also unrelated to this item, the fix you did on the not animate while transitioning gave the gesture that bit of resistance that was needed, I was dealing with some pages skipped on fast drag velocities, but now looks and feels just awesome.

[2021-03-06 09:36] fermoya commented on #190
Thanks for your feedback @umwelt , I appreciate it. I’ll let you know when I make an official release 👍

[2021-03-06 17:31] fermoya commented on #194
[`2.1.0`](https://github.com/fermoya/SwiftUIPager/releases/tag/2.1.0) should fix this issue, although as I mentioned this seems to be an Xcode issue.

[2021-03-06 17:31] #194 closed

[2021-03-06 17:31] fermoya commented on #193
[`2.1.0`](https://github.com/fermoya/SwiftUIPager/releases/tag/2.1.0)

[2021-03-06 17:31] #193 closed

[2021-03-06 17:32] fermoya commented on #190
[`2.1.0`](https://github.com/fermoya/SwiftUIPager/releases/tag/2.1.0) is live @umwelt

[2021-03-06 22:54] vanities commented on #193
Sorry, I just saw this! I will test right now!

[2021-03-08 01:35] DandyLyons commented on #185
Oh I see now. I was using sensitivity(_:) but I wasn't using multiplePagination() for those uses.

[2021-03-12 02:17] Archetapp opened #203 "[BUG]"
**Describe the bug**
Animations are inconsistent when scrolling. Sometimes they easeOut, sometimes they just jump.

**To Reproduce**
[code]
**Expected behavior**
We have a view that fills the entire screen to which we scroll up and down. Imagine Tik Tok. In the previous version we were using, 1.4.3, we noticed the animations were very laggy, so we saw that this issue was fixed in 2.1.0. So I updat

[2021-03-12 11:33] fermoya commented on #203
@Archetapp can you try `2.0.0` and let me know if you experience the same jumps, please?

[2021-03-12 16:40] Archetapp commented on #203
Looks like that yes it'd fixed the issue in terms of it bugging out... but the animation has reverted back to being laggy. I'm looking at the source files now and it looks like onDragChanged in PagerContent.swift we're using a default animation... maybe if we set that to a custom animation with a faster speed?

[2021-03-12 17:15] fermoya commented on #203
@Archetapp when you say "laggy", do you mean it slows down the drag and the item doesn't seem to move exactly at the same time as the finger (1:1 dragging someone called it)?

It might be a matter of trying a different animation or tweaking the linear animation, in case you want to give it a shot.

### Context
At first that piece executed a simple `withAnimation { ... }` (thats version `2.0.0` and

[2021-03-12 17:24] Archetapp commented on #203
Yes, that's exactly what I meant with laggy. And so does version 2.1.0 have that change `withAnimation(.linear(0.1))`?

I might fork SwiftUIPager to see if I can play around with any of the variables to get closer to the experience I need.

[2021-03-12 19:40] fermoya commented on #203
@Archetapp yes that's how it is currently in `2.1.0`: `withAnimation(.linear(0.1))`. I've changed it to `withAnimation(.linear(0.2))` and it's more difficult to reproduce but it still happens. I'd say it's a matter of finding the right compromise.

In any case, the default animation I think it's `easeInOut`. `linear` will look better

[2021-03-12 20:06] #203 closed

[2021-03-12 20:19] bardigolriz opened #204 "[BUG] Loading pages on-demand at the start not working correctly on 2.1.0"
**Describe the bug**
I’ve followed the code in the documentation showing how to load pages on demand at the start:

[code]

[code]

However, the newData that gets created is in the wrong order: -1,-2,-3,-4,-5. No idea if this leads to issues, but a workaround is to add .reversed(). And because we decrement self.count by 1, the next time pages are added to the start they’ll be -10,-8,-6,-4,-2. As a

[2021-03-13 13:26] fermoya commented on #203
Is this solved @Archetapp ?

[2021-03-13 14:46] fermoya commented on #203
I saw you forked the repo and changed the duration to `0.4`. Can you show me how does it look like that please?

https://github.com/Archetapp/SwiftUIPager/commit/eedcd5c4590086f6255b47b616e121802d410f6d

[2021-03-13 15:32] fermoya commented on #204
Hi @bardigolriz , the example is just a way to show how to prepend new items on-demand. I don't think this is an issue with the library.

In any case, I've opened this pull-request to address the docs update:
https://github.com/fermoya/SwiftUIPager/pull/205

https://user-images.githubusercontent.com/11335612/111035209-401ec180-8411-11eb-9390-fb66ac117bb1.mov

[2021-03-13 15:32] #204 closed

[2021-03-15 21:23] Archetapp commented on #203
Hey! Okay, so in the end, I put in an interactiveSpring to which you can change the response and what not. It seems to work well for my use case... the only issue is, sometimes it switches between the dragChanged animation or the dragEnded animation. So, at the moment, I made them both the same.

The results looks pretty good.

https://user-images.githubusercontent.com/8635253/111223017-311b4900-8

[2021-03-16 20:06] fermoya commented on #203
Thanks @Archetapp . Can I ask why didn't you decide to use the default values `.interactiveSpring()`? I'm seeing the default `response` is 0.15 and you're using 0.3. The default implementation should be faster.

I'm asking this because I'm planning to change it. According to the [documentation](https://developer.apple.com/documentation/swiftui/animation/interactivespring(response:dampingfraction:b

[2021-03-16 21:06] Archetapp commented on #203
So, I went with 0.3 because while yes, it's a tad slower response time while dragging... sometimes (I'm not sure why) the animation gets applied even when I have stopped scrolling, and creates a jumpy effect. So, what I did was more or less a compromise so that it works for my app well enough. (Not too laggy, but not too jumpy if for some reason the dragEnded animation never gets called).

[2021-03-29 06:59] conversun opened #207 "[BUG]Animation speed is too fast in iOS14.4+"
https://user-images.githubusercontent.com/22893221/112798364-61351280-909f-11eb-8016-b59c472a3a2c.mov

[2021-03-29 08:03] fermoya commented on #207
Hi @conversun , there's a template for this kind of issues. The description doesn't offer enough information.

I've just run the Sample project and the animation seems fine:

https://user-images.githubusercontent.com/11335612/112805203-3336da80-906d-11eb-8307-b5e1a7df2762.mov

This is customisable via `pagingAnimation(_:)`. The default animation is `easeOut(duration: 0.35)`

[2021-03-29 10:13] conversun commented on #207
@fermoya Sorry, I forgot to add device information

iPhone 12Pro 14.4.1 (14.4.0 Same exists)

This problem only occurs on real devices

[2021-03-30 15:16] beeirl commented on #193
hey @fermoya. I have just updated to `2.1.0` but it seems like this issue still occurs on my end.
Tested this on my `iPhone 12 Pro` `14.4.2`.
Am I missing something?

https://user-images.githubusercontent.com/9655723/113012993-9747c480-917b-11eb-857c-954cc86d69d0.MP4

[2021-03-30 15:57] fermoyadrop commented on #193
Hi @beeirl are you testing on a simulator or real device?

[2021-03-30 15:58] beeirl commented on #193
@fermoyadrop on a real device

[2021-03-30 18:00] fermoya commented on #207
@conversun @beeirl could you please try version `2.0.0` and lmk if the issue is reproducible in this version?

[2021-03-30 18:53] beeirl commented on #207
@fermoya `2.0.0` looks definitely way better. The animations are working. But if I use a custom animation and swipe faster it falls back to the default `ease` animation. So I guess the problem is still there it just occurs in a different shape.

[2021-03-30 19:01] fermoya commented on #207
@beeirl I think I have a possible solution for this. I think `PagerContent:224` should have the same animation as `PagerContent:284`. When the swipe is too fast, SwiftUI seems to ignore the last animation

[2021-03-30 19:08] beeirl commented on #207
@fermoya oh yeah 100%

[2021-03-30 20:37] beeirl commented on #207
@fermoya It works like a charm. Thank you so much for taking care of that. Much appreciated.

[2021-03-31 01:45] conversun commented on #207
@fermoya It works. Thank you

[2021-03-31 07:06] beeirl commented on #207
@fermoya I just stumbled over a bug - if you swipe and hold the animation starts going crazy. Seems like something is off with the drag change

[2021-03-31 07:10] fermoya commented on #207
@beeirl can you please show me a video?

[2021-03-31 08:50] beeirl commented on #207
bet!
It happens if you swipe and hold.

https://user-images.githubusercontent.com/9655723/113117581-e1c65100-920e-11eb-9146-abf80dec6ed3.MP4

[2021-03-31 19:53] fermoya commented on #207
@beeirl have you tried any other custom animation? Like an `interactiveSpring`? I don't think you're supposed to use `spring` in these scenario

[2021-03-31 20:36] fermoya commented on #207
@beeirl I think you need a different animation or a lower response. With `interactiveSpring` that by default has a response of 0.15 you get a nice effect. Any other animation seems to be fine.

[2021-04-01 18:41] chrysb commented on #193
I can confirm this is still happening. Thanks for working on this! SwiftUIPager will be powering a core interaction in our new app.

[2021-04-01 18:43] fermoya commented on #193
Hi @chrysb , I’ve left a WIP in #207  if you want to take a look

[2021-04-01 21:12] chrysb commented on #193
Would love to, but can't seem to load the `dragging-animation` branch via SPM. Sorry for the dumb question, but do you know how?

[2021-04-01 21:45] chrysb commented on #193
@fermoya I tried it out and still experienced the issue, although it feels less pronounced. I also noticed a drop in FPS.

FYI — I'm using an `interactiveSpring` animation.

[2021-04-01 23:41] fermoya commented on #193
Hi @chrysb , what do you mean by FPS? `interactiveSpring` is a faster animation than `.default`, is that what you mean?

Also, can you send a video? I've been trying `.draggingAnimation(.custom(,interactiveSpring))` and it seems fine. I don't think using a spring there is the right choice, at least one with a big response.

[2021-04-02 17:46] chrysb commented on #193
@fermoya By FPS I mean the actual framerate, it appears "laggy" as it seems to be dropping frames (a performance issue) that goes away when I revert back to `2.1.0`.

Unfortunately I can't take a video because it's an unreleased product, wish I could be more helpful there.

Also, I was wrong, my animation is an `.interpolatingSpring`

[2021-04-02 18:15] fermoya commented on #193
@chrysb I see. There's some stuff to have in mind here. There's two animations in place:
- `onDragChanged`
- `onDragEnded`

Version `2.0.0` has both as `.default` and lets you changed `onDragEnded` animation. Version `2.1.0` changed `onDragChanged` animation from `.default` to `.linear(duration: 0.1)`. This was fit to the fact `.default` animation made the animation delay while dragging (see #157)

[2021-04-02 18:24] chrysb commented on #193
@fermoya Thanks this is helpful to know! Did you build this using SwiftUI's `DragGesture` or is it UIKit under the hood?

[2021-04-02 18:33] fermoya commented on #193
@chrysb this is a `DragGesture` from SwiftUI. If you take a look to the documentation,they're very specific about springs. See `interactiveSpring` [here](https://developer.apple.com/documentation/swiftui/animation/interactivespring(response:dampingfraction:blendduration:)):

[2021-04-05 16:34] chrysb commented on #193
Interesting! I'll give that a shot and see. Thank you :)

[2021-04-06 16:44] ln-12 opened #209 "[FEAT] Animation when scrolling programmatically"
**Is your feature request related to a problem? Please describe.**
When using `page.update(.next)` and `page.update(.previous)`, the page is changed without any animation.

**Describe the solution you'd like**
Animate the page transition.

Is this possible to implement?

[2021-04-06 16:46] ln-12 commented on #209
For anyone wondering: the solution is to use `withAnimation`:
[code]

[2021-04-06 16:46] #209 closed

[2021-04-06 16:49] fermoya commented on #209
Hi @ln-12 , this is intended. It’s up to the user to use the animation the want:
[code]
Please check out [ColorsExampleView](https://github.com/fermoya/SwiftUIPager/blob/develop/Example/SwiftUIPagerExample/Examples/ColorsExampleView.swift) inside the example project

[2021-04-07 18:51] iKK001 opened #210 "[FEAT]"
Fantastic tool, thank you very much !

There is one feature that I would like to have inside SwiftUIPager:

When I use a ZoomableScrollView (see code below), then swiping your pages does no longer work when the content is zoomed.

I created a video - it shows how I swipe several portrait images, ....until the image where I zoom - there is stalls. I cannot go further to the next page when the image

[2021-04-07 20:04] fermoya commented on #210
Hi @iKK001 , have you tried using `delayTouches(false)`?

You can also try implementing `onDragChanged`. If that callback isn't called it means there's something in your `ZoomScrollView` that's not propagating the touches to `Pager`

[2021-04-07 21:13] iKK001 commented on #210
The `delayTouches(false)` makes it worse, in a sense that now I can zoom but no longer scroll arround in my ZoomableScrollView.

The Pager swipe shall only ocurr when a border-side reached and continuing swiping (see video below).

The ZoomableScrollView can only zoom & scroll - but it cannot swipe pages when on the edge. Therefore I assume your PagerView should detect when a child-view reaches th

[2021-04-07 21:13] iKK001 commented on #210
P.S. The `onDragChanged` does fire...

[2021-04-08 10:31] fermoya commented on #210
Hi @iKK001 , you're not asking too much. I checked and `onDraggingChanged` isn't called if the image is zoomed (just if the image has the normal scale). This means that when the user is zoomed, the touches aren't propagated to `Pager` which means there's something wrong in your `ZoomableScrollView` that prevents this form happening

[2021-04-08 10:43] iKK001 commented on #210
ok - thank you very much !  I'll have a look at that.

[2021-04-08 10:44] fermoya commented on #210
Here, try this implementation:
[code]
It obviously needs some work. `Pager` should receive the drag only if the view is at the edge, as you mentioned. But that's not something than `Pager` can know, but something you should control

[2021-04-08 10:44] #210 closed

[2021-04-08 11:01] iKK001 commented on #210
This scoolbook example I know. However there are many things not quite useful with this kind of ZoomableScrollView. Most of all, the zooming always starts at scale = 1. And also, the scrolling-effect is not yet in there. So far, it is only a `ZoomableFromScale1View`  (but not `ZoomableScrollView`).

Here is my implementation of `ZoomableScrollVie` (i.e. it relies on the UIKit ScrollView).

Do you

[2021-04-08 12:20] iKK001 opened #211 "[FEAT]"
Not sure if I haven't found it yet - is there the possiblity to show little dot indicators ?

I am having a hard time creating a correct `isCurrentPageIndex` callback with your SwiftUIPager. (if I could, then I am happily creating my own dot-indicators - but right now I cannot since the correct index is not available as a callback of some sort. Or do I not get something here ?

Do you have any ide

[2021-04-08 12:24] iKK001 commented on #211
ah - I just found a solution:

[code]

never mind !

[2021-04-08 12:25] fermoya commented on #211
Hi @iKK001 , please add a title to the issues.

Take a look at how other users have implemented this:

https://github.com/franklynw/PagingControl

This isn't part of this library's purpose. You have at all moment a reference to the page with the current index so this implementation is feasible on the client side

[2021-04-08 12:25] #211 closed

[2021-04-08 12:48] fermoya commented on #210
@iKK001 there might be a way to get that info via `UIScrollViewDelegate`

[2021-04-08 18:28] iKK001 opened #212 "Integration with PagingControl"
Maybe I am too new in SwiftUI. I tried to integrate [PagingControl](https://github.com/franklynw/PagingControl) in order to achieve the little dots for your Pager.

However, I completely fail with this integration.

I tried what I described [here](https://github.com/franklynw/PagingControl/issues/1#issue-853544043)

Can you please give me a hint on how to do so. I do not get any responce from the

[2021-04-08 19:22] fermoya commented on #212
Hi @iKK001. In fairness, I’ve never used that framework but I know this user was dealing with something similar to your problem and created that framework.

At the end of the day, your `PageControl` is nothing other than an `HStack` with a `ForEach` inside (resembling `Pager` arguments, you wanna use `data.indexes` as the input and `\.self` as the `id`). This `ForEach` has a `Circle` in its `ViewB

[2021-04-08 19:24] #212 closed

[2021-04-08 19:26] fermoya commented on #212
Closing as `SwiftUIPager` is not responsible for the integration of any `PagingControl`

[2021-04-15 17:19] fermoya commented on #207
Ive released version [2.2.0](https://github.com/fermoya/SwiftUIPager/releases/tag/2.2.0) with a new modifier `onDraggingAnination(onChanged:,onEnded:)`. It's up to the user to choose one or another animation according to their needs. I've also added some notes about the issues here found. For now it's the best that can be done.

[2021-04-15 17:19] #207 closed

[2021-04-17 00:28] garrettmaring opened #215 "[FEAT] "tap to top" when tapping top right of status bar for `vertical` pagers"
**Is your feature request related to a problem? Please describe.**

For vertical pagers, I'd love a modifier that lets me enable "tap to top" as is seen in other vertically scrolling/feed-based apps.

**Describe the solution you'd like**
An opt-in modifier to enable tapping on the top-right of the status bar to animate the vertical pager back to index 0.

**Describe alternatives you've considered*

[2021-04-17 07:33] fermoya commented on #215
Hi @garrettmaring , please see [this answer](https://github.com/fermoya/SwiftUIPager/issues/117#issuecomment-678485009) and let me know if it makes sense

[2021-04-30 22:12] fxsalazar opened #217 "[BUG] Crash on simulator"
**Describe the bug**
Tested the `ColorsExampleView` on iOS 13 and the simulator just crashed. It worked with iOS 14+
Wanted to make sure that it works on this version.

**To Reproduce**
Just copy paste this code on a sample project
[code]

**Expected behavior**
It should show the pager in the app

**Environment:**
 - iOS 13.0
 - Simulator iPhone 7
 - SwiftUIPager version 2.2.0

**Additional contex

[2021-04-30 22:14] #217 closed

[2021-05-08 02:28] garrettmaring commented on #215
Ah, I wish Swift had this! I did some digging and couldn't find anything (as your answer states as well).

[2021-05-08 02:28] #215 closed

[2021-05-11 08:03] skywalkerdude opened #218 "[BUG] @Published field is not propagating to view in iOS 14.5"
**Describe the bug**
@Published field is not propagating to view in iOS 14.5

**To Reproduce**
Reproduce with three simple classes:

[code]

[code]

[code]

**Expected behavior**
`onAppear` calls `viewModel.load()` which sets the `@Published` `isLoaded` field to true. This should cause every page to display `Is Loaded`. However, only the very first page is `Is Loaded`, while everything is is `Not

[2021-05-11 08:04] skywalkerdude commented on #218
Note: If you put a log statement or breakpoint, you'll see `onAppear` **is** being called on the background pages as well

[2021-05-11 16:00] fermoya commented on #218
@skywalkerdude the reason it works with a `StateObject` and not `ObservedObject` is the SwiftUI's State management 😅. Take a look at [this answer](https://stackoverflow.com/questions/62544115/what-is-the-difference-between-observedobject-and-stateobject-in-swiftui) in SO.

Your options are:
- Use `StateObject` in your `DummyView`
- Or ensure its owner/parent holds a `StateObject`

Whenever you scr

[2021-05-13 17:47] skywalkerdude commented on #218
Hi, sorry.

I looked into this extensively and I don't think this has to do with SwiftUi state management, but it looks to me it has to do with how `Pager` is rendering the pages:

I added some log statements:

[code]

[code]

When I run the app and load he first page, here are the logs:
[code]

When I make one swipe to page 16, here are the new logs:

[code]
It looks like pager re-creates each vi

[2021-05-13 18:00] fermoya commented on #218
Hi @skywalkerdude , I think you don't understand how SwiftUI works. Your view "appears" off/-screen so its `onAppear` gets called and its reference to your ViewModel gets "loaded". When `Pager` swipes the pages, the state of this view changes and its subviews get recreated. The way this works in `SwiftUI` is the the view's body gets recreated and the `init` gets called and recomputed. But it's `on

[2021-05-13 18:17] fermoya commented on #218
@skywalkerdude not sure what you're trying to achieve here. Do you wanna know what page indexes are visible in the screen?

[2021-05-14 01:44] skywalkerdude commented on #218
You're right that it's possible I don't fully understand SwiftUI, since I mostly hail from the Android world. I read what you said many times, and it makes sense to me. In fact, that was my initial understanding as well, until I started second guessing myself because of this bug in iOS 14.5.

To answer your second question, I have an app with a rather complicated set of views that uses your pager

[2021-05-14 07:12] fermoya commented on #218
Thanks for sharing, I'll give it a look.

Ive experienced changes sometimes from one OS version to the other. And not really, even Xcode. Have you tried downloading the 14.4 simulator image from Xcode and running your App in Xcode 12.5?

[2021-05-26 20:42] bryan1anderson opened #219 "onPageChangeCanceled so we can know what the active page is after swiping but not changing the page"
I have a list of videos I'm trying to page through. We need to use a shared AVPlayer instance which means monitoring which video is being presented.

If I am about to change a page the video should pause. If I cancel the page change I need to be alerted so I can resume the video

**Describe the solution you'd like**

`onPageChangeDidCancel(_ callback: ((Int) -> Void)?) -> Pager<URL, URL, VideoView

[2021-05-27 08:19] ln-12 opened #220 "[FEAT] Pager height dependent on child height"
**Is your feature request related to a problem? Please describe.**
I want to create a screen with a pager, in which the pager only fills a portion of the screen. The height is dependent on the child heights. All children have the same height, which depends on the child's content. My screen is constructed like this:
[code]

What happens is that the outer VStack fills the while screen as the pager c

[2021-06-03 14:17] fermoya commented on #220
Hi @ln-12 , thanks for your feedback. `Spacer` takes up the available space but it always has less priority than any other view. This means that if `Pager` expands, `Spacer` won't ever push it unless you use `init(minLenght:)`.

Unfortunately, `Pager` is not designed to work the way you describe. That would need a whole different implementation than the one used at the moment. As you mention, `VSt

[2021-06-03 14:21] fermoya commented on #219
Hi @bryan1anderson , what you describe can be easily implemented. Currently, `onPageChanged` and `onPageWillChange` are only triggered if the page changes. I'm thinking of adding a new `onPageWillTransition(_:)` to inform the user with a `Result<PageTransition, PagerError>` if the transition is successful or the user "canceled" the transition. Would that work for you?

[2021-06-03 18:53] bryan1anderson commented on #219
@fermoya That would work amazingly.

[2021-06-03 19:34] #219 closed

[2021-06-03 19:35] fermoya commented on #219
@bryan1anderson I've triggered CI/CD workflow and you should have this enabled in `2.3.0-beta.1` if you want to give it a look.

[2021-06-03 19:40] bryan1anderson commented on #219
oh wow that was fast!! I got in the project and tried to see if it will work but haven't tested it. Here is the PR you can just delete it https://github.com/fermoya/SwiftUIPager/pull/222

[2021-07-08 13:02] MartinMetselaar commented on #194
This is still happening for me with 2.2.0 on iOS 13.1 and iOS 13.0

[code]

[2021-07-09 16:38] fermoya commented on #194
Hi @MartinMetselaar, does this happen when you run the App or when `Pager` appears? I remember including [this](https://github.com/fermoya/SwiftUIPager/blob/1086365701cdb685820875789d14ef8602271730/Sources/SwiftUIPager/PagerContent.swift#L201) and [this](https://github.com/fermoya/SwiftUIPager/blob/1086365701cdb685820875789d14ef8602271730/Sources/SwiftUIPager/PagerContent.swift#L307) that solved t

[2021-07-10 14:49] MartinMetselaar commented on #194
It happens when the `Pager` appears and I think it is because `AnimatableModifier` is still used in [OnAnimationCompletedModifier.swift](https://github.com/fermoya/SwiftUIPager/blob/develop/Sources/SwiftUIPager/Helpers/OnAnimationCompletedModifier.swift) which is available at iOS 13.

I have downgraded the library back to 1.14.2 and submitted it to Apple for Review. When it will start releasing I

[2021-07-10 15:48] fermoya commented on #194
Hi @MartinMetselaar , have you tried forking the repo and changing [this line](https://github.com/fermoya/SwiftUIPager/blob/1086365701cdb685820875789d14ef8602271730/Sources/SwiftUIPager/Helpers/OnAnimationCompletedModifier.swift#L12) to:
[code]
? I haven’t tried it yet (I will as soon as I find some time) but i think that should work

[2021-07-10 20:53] MartinMetselaar commented on #194
Yes, I have. But that resulted also in changing the [extension](https://github.com/fermoya/SwiftUIPager/blob/1086365701cdb685820875789d14ef8602271730/Sources/SwiftUIPager/Helpers/OnAnimationCompletedModifier.swift#L42) to 13.2. But since the function [onAnimationCompleted](https://github.com/fermoya/SwiftUIPager/blob/1086365701cdb685820875789d14ef8602271730/Sources/SwiftUIPager/PagerContent.swift#

[2021-07-11 11:05] fermoyadrop commented on #194
@MartinMetselaar apologies, the change in not so direct. Can you try [this branch](https://github.com/fermoya/SwiftUIPager/tree/fix/ios13-symbol-not-found) and let me know?

[2021-07-11 13:59] MartinMetselaar commented on #194
You branch is not working because of the following change in [OnAnimationCompletedModifier.swift](https://github.com/fermoya/SwiftUIPager/commit/590a7ee8a8e9c2e2ef4d7b8b9b95142295f55e37#diff-27a305807278ec01742b9dccf8853903df913b18b1f3899cf1e6d5d928524312)

[code]

If I revert those two lines it is working.

[2021-07-11 14:34] fermoya commented on #194
What do you mean it’s not working? It’s not compiling? It should work because there’s [this check](https://github.com/fermoya/SwiftUIPager/blob/590a7ee8a8e9c2e2ef4d7b8b9b95142295f55e37/Sources/SwiftUIPager/PagerContent.swift#L201).

it compiles for me at least, Xcode 12.5

[2021-07-11 18:18] MartinMetselaar commented on #194
You are right. I don't know where I made the mistake. Your branch ([fix/ios13-symbol-not-found](https://github.com/fermoya/SwiftUIPager/commit/590a7ee8a8e9c2e2ef4d7b8b9b95142295f55e37)) is working for me now.

[2021-07-11 18:20] fermoya commented on #194
@MartinMetselaar glad to hear that. Does that mean it doesn’t crash anymore? If so, I’ll push a release ASAP

[2021-07-11 19:43] MartinMetselaar commented on #194
It indeed does not crash anymore in the iOS 13 and 13.1 simulator.
You don't need to rush the release for me. And, thank you for fixing it!

Were you able to reproduce the issue?

I am a little bit surprised that you weren't able to re

[2021-07-19 19:39] cikpis opened #227 "Could not find module 'SwiftUIPager' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator on macbook m1"
Hi there!

Using SPM with a MacBook Pro M1 I'm facing this issue:
[code]

In base of this answer seems that you need to re-release with "build active architecture only" set to "No" for both Debug & Release.
https://github.com/airbnb/lottie-ios/issues/1293#issuecomment-855416295

Could you release a new version with that setting?

Thanks

[2021-07-22 19:07] fermoya commented on #227
Hi @cikpis , have you checked the follow-up comment from the same user? Seems like it's a user-side issue:

https://github.com/airbnb/lottie-ios/issues/1293#issuecomment-855423580

[2021-07-28 19:50] Clem23 opened #228 "[BUG] Issues on delete of the Last element."
**Describe the bug**
When SwiftUIPager is configure as LoadingPolicy = lazy and removing the last item. It seems to works fine the first time. But on second removing of the last element, Pager become empty.

When SwiftUIPager is configure as LoadingPolicy = eager then removing the last element make the Pager to scroll on the first element.

More-over, Page.Index and Page.TotalPages do not reflect

[2021-07-28 19:52] Clem23 commented on #228
Could be a regression as on January 15th your code change from that:

[code]

to that:
[code]

Nevertheless the TotalPages was not updated...

[2021-08-02 18:34] fermoya commented on #228
Hi @Clem23 , I made some changes in January to use an `ObservableObject` rather than individual `State` variables.

I'm confused by your second, does that mean this is still reproducible but the suggested fix doesn't work any more?

[2021-08-07 10:52] JackKFouani opened #229 "[BUG] smooth scroll not trigger onPageChanged"
**Describe the bug**
after updating for last version , when i smooth scroll between full screen pages horizontally , the onPageChanged callback is not trigger if the array size feed comes from environment published object , but when i scroll fast its working

**To Reproduce**

[code]

the pager in contentView

[code]

**Expected behavior**
trigger onPageChanged

**Screenshots / Videos**
If applica

[2021-08-07 11:31] fermoya commented on #229
Hi @JackKFouani , what do you mean by:

? Can you show me your `Env.shared` definition please?

What version were you using previously?

[2021-08-23 09:33] #229 closed

[2021-08-25 12:30] AshStefanOltmann opened #231 "[BUG] bundle format is ambiguous (could be app or framework)"
**Describe the bug**
The compilation for "My Mac (Rosetta)" on MacBook M1 fails with "bundle format is ambiguous (could be app or framework)".

**To Reproduce**
I added the framework via manual install to my SwiftUI Multiplatform project.
It compiles for iOS, but fails for macOS.

**Expected behavior**
Compile.

**Screenshots / Videos**
If applicable, add screenshots to help explain your problem.

[2021-08-25 12:35] AshStefanOltmann commented on #231
I found https://blog.inventic.eu/2015/03/os-x-codesign-failed-bundle-format-is-ambiguous-could-be-app-or-framework/ without trying that.

Does this framework use symbolic links?

I have some frameworks in use, but this would be the first with symbolic links. Are these necessary?

[2021-08-25 12:55] fermoya commented on #231
Hi @AshStefanOltmann . This framework shouldn’t have any symbolic link but I might be wrong as it uses a project file to build the `xcframework`, I could have added a symbolic link there by mistake.

Have you tried adding the `xcframework` with the latest (non-beta) macOS and Xcode? Is this something that just happens compiling for Rosetta? What about when compiling for arm64?

Just in case, I gue

[2021-08-25 12:59] AshStefanOltmann commented on #231
I Use Kotlin Multiplatform 1.5.21 to build my shared xcframework which does not support arm64 - this will change with recently released 1.5.30, but for now I can only test Rosetta - and I will need to provide a Rosetta installation for non-M1 user of my app anyway.

Also I do use async/await, so non-beta XCode can't compile my project right now.

I will try to build the framework myself as you sug

[2021-08-25 13:33] AshStefanOltmann commented on #231
That did not work. I hope this helps you to get a clue what's wrong. I have no idea.

No error for iOS target, but I did not try to actually use the library so far.

[code]

[2021-08-25 13:39] AshStefanOltmann commented on #231
Same error as before.

It's the resign step that fails.

I have my own shared xcframework and also the Sentry.io framework in my project with "Embed & sign" - no issues there.

[code]

[2021-08-26 10:36] edimoldovan opened #232 "Question: taking one of the pages from the pager into full screen mode"
@fermoya great work with the library, I love it! I used it already multiple times.

Let me know if this question should go somewhere else like SO maybe.
My question is regarding a suggested way of taking one of the views (one page) into full screen, with an animation. Anyone done that with this specific Pager.  What I am trying to do is animate the same view that I have in a the page based on a to

[2021-08-28 07:47] fermoya commented on #232
Hi @edimoldovan .
Unfortunately I can't refer any other issue in this repo as no one has ever suggested this behavior. You're right to think this is out of this library scope.

Out of curiosity, how are you handling that transition? Can you share some code or pseudo-code?

[2021-08-28 07:59] fermoya commented on #231
@AshStefanOltmann the _xcframework_ contains a binary for _arm64_ (the M1). If not supported, could this be the issue?

Is Flutter what you're using? I'm reading a lot of answers where people basically remove stuff from folders:

https://www.gitmemory.com/issue/flutter-webrtc/flutter-webrtc/421/735307303

https://www.gitmemory.com/issue/flutter/flutter/77173/790272366

[2021-08-28 10:14] edimoldovan commented on #232
@fermoya I'll try to explain. Let me know if i should share more.

I have a Pager initialised something like this:
`Pager(...) {
                       SomeView()
                    }
                    .pagingPriority(.simultaneous)
                    .edgesIgnoringSafeArea(.all)`

I also watch for the currently displayed page so that I animate that one only to fullscreen. Then I have a full s

[2021-08-30 07:49] AshStefanOltmann commented on #231
I don't know, maybe. Nice that you already provide one. I wait for Kotlin 1.5.30 to be broadly adopted until I can build my shared framework with it.

Nope, no flutter. I use Kotlin Multiplatform Mobile. I build my shared code module with that.

This means I have a native XCode project with a native SwiftUI where I want to include your framework.
Kotlin should have no effect here.

[2021-08-30 19:55] Exocomp opened #233 "[BUG] loopPages fades out on fast swipe"
**Describe the bug**
Swiping fast (forward direction) with loopPages results in content completely fading out with no way to recover.

**To Reproduce**
- Use the loopPages option
- SwiftUIPager/Example/SwiftUIPagerExample/Examples/InfiniteExampleView.swift

**Expected behavior**
When swiping fast (forward direction) with the loopPages option the content fading out with no way to recover.

**Screen

[2021-08-30 21:15] fermoya commented on #233
Hi @Exocomp , thanks for your feedback. How many elements you have? It varies depending on the device, the issue you mention is known and there’s currently no fix for that.

If you notice the docs for that modifier:

The workaround would be to use `.loopPages(repeating: 2)` or higher.

[2021-08-30 21:24] fermoya commented on #232
Hi @edimoldovan , I asked about the transition specifically. I don’t think there’s  currently a way to do custom transitions the right way. I wrote an article about it, find it [here](https://link.medium.com/saze0Rby9ib). I believe this hasn’t changed.

That’s what you’re experiencing here. This gives you trouble expanding to the edges and covering the navbar or tabbar. From my point or view, this

[2021-08-30 21:24] #232 closed

[2021-08-30 21:24] #228 closed

[2021-08-30 21:33] fermoya commented on #227
Another workaround seems to be here:

https://developer.apple.com/forums/thread/123614

Just by opening Xcode with Rosetta.

[2021-08-30 21:33] #227 closed

[2021-08-30 21:37] fermoya commented on #231
@AshStefanOltmann I cannot test it myself because I don't have a M1. Have you tried what those links I shared above suggest? Technically it's a matter of making sure that the `macos-arm64` binary is removed from the binary

[2021-08-30 21:52] Exocomp commented on #233
Hi @fermoya ,

It's with 10 items but I also I tested with higher like 100 with the same result.

`var items = Array(0..<100)`

I also tried:

`.loopPages(repeating: 2)`

It still has the same exact problem. Swiping fast just wants to fade out.

Any other ideas?

[2021-09-08 17:27] louis1001 opened #234 "[BUG] Event driven navigation in looping Pager"
**Describe the bug**
When using a looping `Pager`, updating the Page element with `.update(.next)` works as intended until the last page, and then stops.

**To Reproduce**
[code]

**Expected behavior**
When it gets to the last page, I expect it to animate going the next page (the first one), like it would with user input.

**Environment:**
 - OS: iOS 14.7.1 (with support for 13.6)
 - Device:  iPho

[2021-09-09 19:04] fermoya commented on #234
@louis1001 thanks for reporting. This should be easy to fix, I'll see if I can get some time for that.

The issue is [here](https://github.com/fermoya/SwiftUIPager/blob/168614398b1986a6e07060d5d127122643cfe724/Sources/SwiftUIPager/Page.swift#L28) in case you wanted to raise a PR yourself. `Page` needs to know `Pager` is looping so that it returns the right index.

It might be more complicated than

[2021-09-09 19:12] fermoya commented on #233
@Exocomp unfortunately I don't there's any other workaround. `loopPages` simply doesn't work well with `multiplePagination`

There's no fix for now, unfortunately. The issue here is that when `Pager` is looping the elements get reordered. When the scroll is slow, those elements that get off screen on one side won't appear on the other side but if you scroll fast enough that produces a weird effect

[2021-09-09 23:16] louis1001 commented on #234
Thanks!
I'll take a look at it.

My first impulse is to give `Page` a `Pager?` that it could check.

[2021-10-10 16:56] iKK001 opened #236 "[BUG] ZoomableScrollView inside a Pager, can’t swipe on the last page"
Not sure if it is your library, however I do have an issue with swiping a custom ZoomableScrollView since updating to `iOS 15.0.1`.

I explained everyone better [here](https://stackoverflow.com/q/69517128/3826232)

Did you experience something similar when swiping all the way to the last page of any SwiftUIPager View ?

Thank you for any support on this.

My ZoomableScrollView Code looks like this

[2021-10-28 07:25] staticdreams opened #237 "[BUG] tvOS scrolling issue"
**Describe the bug**
Installed as expected using SPM.
Unable to scroll on tvOS even though package claims to be tvOS compatible.

**To Reproduce**
Implement a basic example with focusable areas, such as NavigationLink

**Expected behaviour**
Expected to scroll left or right using Apple TV Remote, just like on a standard ScrollView. Also expected to center focused item

**Screenshots / Videos**
On

[2021-11-01 05:11] kevmusic opened #238 "The pager gets stuck between two pages when adding a second touch when swiping"
Steps to reproduce
1. With one finger, start swiping up until half of the next item is displayed
2. Without releasing the first finger, touch the second video with another finger
3. Release both fingers at the same time

https://user-images.githubusercontent.com/13948320/139624570-0529c135-0ba2-429f-8595-d12fe72692b8.mp4

[2021-11-15 16:20] ndonald2 opened #239 "[Question] Is this library planned to be maintained going forward?"
Hello, this is more of a question than an issue so please forgive me not using one of the templates.

Firstly this is an awesome library, really great work! So useful and really nice interactions/animations.

I am wondering if the author (@fermoya) is planning to continue actively maintaining this library? As I'm sure you know, for production apps developers need to weigh adding new third party de

[2021-11-15 17:38] fermoya commented on #239
Hi @ndonald2 , that’s a valid question. My plan is to keep maintaining but I’ve found it hard to keep making additions lately. This is an open source library and currently I’m the only person actively working on it. I always count on people to contribute.

[2021-11-15 18:48] ndonald2 commented on #239
Thank you, I appreciate the response! Totally get how hard it is to maintain OSS and nothing but respect for it. I'm less concerned about new features just making sure it doesn't "break" (any major bugs get fixed) and it doesn't become deprecated but of course yes community contributions are key :)

Cheers!

[2021-11-15 18:48] #239 closed

[2021-11-15 21:03] fermoya commented on #237
Hi @staticdreams , you're right, thanks for raising this. I wasn't aware of the special treat that `tvOS` and potentially `macOS` need. I'm fixing this, will come to you shortly

[2021-11-15 21:03] #231 closed

[2021-11-15 21:06] fermoya commented on #233
@paulfreeman yes, apologies. For some reason I thought this was referring to `multiplePagination`. I'll add that extra check, this is just a problem when `multiplePagination` is enabled

[2021-11-15 22:04] AshStefanOltmann commented on #231
Did you fix the problem or is now a "won't fix" solution?

[2021-11-16 08:16] fermoya commented on #231
@AshStefanOltmann i hadn’t gotten any response in a while and that’s why I closed it 🤷🏻‍♂️

Feel free to reopen and provide more information. I shared a possible solution in my previous comment

[2021-11-16 08:22] AshStefanOltmann commented on #231
@fermoya Your solution of removing the `macos-arm64` could only be a workaround for now. In the long-term you need to provide a universal XCFramework for iOS & macOS and both architectures. Otherwise there is unfortunately not much use for me.

[2021-11-16 09:08] fermoya commented on #231
@AshStefanOltmann xcframeworks contain all possible symbols for every single platform supported by Apple. `macOS-arm64` refers to the M1 and M2 chips. You’re having problems with Rosetta, which simulates the old Intel chip.

this seems to me as a Kotlin multi platform problem. I’m giving support to the required platforms

[2021-11-16 09:33] fermoya commented on #233
I take it back, that's actually a problem with or without `multiplePagination`. I'll need to revisit the algorithm

[2021-11-16 09:42] fermoya commented on #238
hi @kevmusic . Yes, I remember something similar to this when you used a second finger to pull-down the _Notification Center_. SwiftUI doesn't call the `onEnded` callback inside `DragGesture` but I'll see if there's any workaround to this

[2021-11-16 09:51] #234 closed

[2021-11-16 09:51] #237 closed

[2021-11-17 17:52] fermoya commented on #236
@iKK001 can you share how you’re embedding `ZoomableScrollView` inside a `Pager` please?

[2021-11-19 12:43] alinless opened #243 "[BUG] Pager inside a list blocks vertical scrolling"
First of all, thanks for such an amazing library. It is really nice!

I use Pager inside a list view. Pager has only a horizontal scroll. Then I try to scroll the list, it gets stuck almost every second swipe or touch. I have to use list and I cant  just use vStack with scrollView
If I disable Dragging - everything works nice.
Any other options didn't help me at all.

May I somehow disable vertica

[2021-11-19 17:59] fermoya commented on #243
Hi @alinless , the scenario you describe is tricky because of the combination of gestures in `Pager` and `List`. Do you think you could share a sample `ContentView` with a similar scenario as yours? The simpler the better. I can take a look and see if there's something that I can do.

[2021-11-22 10:12] alinless commented on #243
Thank you for such a fast answer!
Here is an example of this bug

[code]

[2021-12-11 19:06] fermoyadrop commented on #243
Hi @alinless , apologies for the late response. This is expected unless you use `.pagingPriority(.simultaneous)` from the [docs](https://github.com/fermoya/SwiftUIPager/blob/develop/Documentation/Usage.md#paging-priority):

https://user-images.githubusercontent.com/75254955/145688572-e68e362a-1f6a-451d-9527-c01263ce6bd2.mp4

[2021-12-11 19:08] fermoya commented on #243
Hi @alinless , apologies for the late response. This is expected unless you use `.pagingPriority(.simultaneous)` from the [docs](https://github.com/fermoya/SwiftUIPager/blob/develop/Documentation/Usage.md#paging-priority):

https://user-images.githubusercontent.com/75254955/145688572-e68e362a-1f6a-451d-9527-c01263ce6bd2.mp4

[2021-12-11 19:08] #243 closed

[2021-12-28 20:23] mikepitre opened #244 "[BUG] loopPages() with small number of items is animating to wrong end of the Pager."
**Describe the bug**
When using `loopPages()` with a small number of items (eg. 3), if I swipe on the last item, the pager scrolls all the way back to the beginning (or end) instead of just scrolling to the next item.

**To Reproduce**

In the `InfiniteExampleView`, set `data2` to `Array(0..<3)`
Apply the modifier `.loopPages(true, repeating: 10)` on the looping pager.
Attempt to page through the

[2022-01-13 12:05] luis-kode opened #245 "[FEAT] Multiple pagination scroll speed settings"
Hello I'd like to know if exists a property to set the multitplePagination scroll speed to be like a scroll view, I tried to use the page offset but it doesn't works for me because I'm making a spy scroll pagination where if the page is 7 (for example) loads more items to the Pager data

[2022-01-24 08:44] bongo1986 opened #246 "Lazy loading inside PagerContent"
Could you switch to `LazyHStack` from `HStack`? Maybe adding some parameter to steer lazy vs not lazy loading could be useful.

[2022-01-24 12:49] #246 closed

[2022-01-24 12:49] bongo1986 commented on #246
ok, I can see there is a setting for that

[2022-01-25 14:07] Lawris opened #248 "[BUG] Drag gesture on a view that contains a Pager"
Hello, first of all thanks for this fantastic package that I've been playing around with for the past few days! I went through all swipe-related issues without success, so I am openning an issue.

**Describe the bug**
I have a "draggable" bottom sheet wich includes an horizontal pager inside.
In order to be draggable (from top to bottom only), the bottom sheet uses .gesture(). It looks like the Pa

[2022-01-25 14:08] Lawris opened #249 "[BUG] Drag gesture on a view that contains a Pager"
Hello, first of all thanks for this fantastic package that I've been playing around with for the past few days! I went through all swipe-related issues without success, so I am openning an issue.

**Describe the bug**
I have a "draggable" bottom sheet wich includes an horizontal pager inside.
In order to be draggable (from top to bottom only), the bottom sheet uses .gesture(). It looks like the Pa

[2022-01-25 14:09] Lawris commented on #249
Sorry, I don't know what happenned, it oppenned the issue twice. I'm closing it.

[2022-01-25 14:09] #249 closed

[2022-01-26 17:11] kevmusic commented on #238
Hi @fermoya!

Were you able to find a workaround?

Let me know, thanks!

[2022-01-27 09:42] fermoya commented on #238
Hi @kevmusic , unfortunately there's been no luck. I found a possible solution where I can update and observe changes in a `GestureState`. According to [this answer](https://developer.apple.com/forums/thread/660070?answerId=632655022#632655022), the `onEnded` method wouldn't be called but `GestureState` should reset. I tried this but unfortunately it seems to not work as they say. I reported a [bu

[2022-02-04 18:23] bfreeTax opened #250 "[BUG] NavigationLink not works if use List"
**Describe the bug**
NavigationLink stops working if using `List` and use `loopPages` false

**To Reproduce**
- Inside of a List put the Pager control and comment `loopPages()`
- Sample code:
Using your [InfiniteExampleView.swift](https://github.com/fermoya/SwiftUIPager/blob/develop/Example/SwiftUIPagerExample/Examples/InfiniteExampleView.swift)
[code]

**Expected behavior**
It Should works as it

[2022-02-25 17:10] s951736 opened #251 "Does SwiftUIPager support 120Hz on capable devices?"
Today is the first time I run a project used SwiftUIPager on a real device, it's iPhone13 Pro Max, but it looks like 60Hz (I'm not sure) when I scroll through pages.
Does it support 120Hz?
Thanks.